<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright Siemens 2023   -->
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Infragistics.Win.UltraWinTree.UltraTree.MainForm.ultraTree1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="CIMS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CIMS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="CreateTxnDb_cbGenerateRestApi" value="False" />
    <add key="CreateTxnDb_cbUseSSL" value="True" />
    <add key="CreateTxnDb_loadConfigurationCheckBox" value="True" />
    <add key="CreateTxnDb_cbForceODSUpdate" value="False" />
    <add key="CreateTxnDb_cbLoadChangeMgmtSeedData" value="False" />
    <add key="CreateTxnDb_cbLoadMenus" value="False" />
    <add key="CreateTxnDb_cbLoadDictionariesReloadAll" value="False" />
    <add key="CreateTxnDb_cbLoadDictionaries" value="True" />
    <add key="CreateTxnDb_cbGenerateWCFServices" value="True" />
    <add key="CreateTxnDb_cbPopulateSPCData" value="False" />
    <add key="CreateTxnDb_cbPortalObjectsReloadAll" value="True" />
    <add key="CreateTxnDb_cbLoadPortalObjects" value="True" />
    <add key="CreateTxnDb_cleanupPermissionsCheckBox" value="False" />
    <add key="CreateTxnDb_cbForceUpdate" value="False" />
    <add key="CreateTxnDb_runDBResetCheckBox" value="True" />
    <add key="CreateTxnDb_loadInitialDataCheckBox" value="True" />
    <add key="CreateTxnDb_createIndicesCheckBox" value="True" />
    <add key="CreateTxnDb_createStoredProcsCheckBox" value="True" />
    <add key="UpdateTxnDb_cbGenerateRestApi" value="False" />
    <add key="UpdateTxnDb_cbUseSSL" value="True" />
    <add key="UpdateTxnDb_loadConfigurationCheckBox" value="True" />
    <add key="UpdateTxnDb_cbForceODSUpdate" value="False" />
    <add key="UpdateTxnDb_cbLoadChangeMgmtSeedData" value="False" />
    <add key="UpdateTxnDb_cbLoadMenus" value="False" />
    <add key="UpdateTxnDb_cbLoadDictionariesReloadAll" value="False" />
    <add key="UpdateTxnDb_cbLoadDictionaries" value="False" />
    <add key="UpdateTxnDb_cbGenerateWCFServices" value="True" />
    <add key="UpdateTxnDb_cbPopulateSPCData" value="False" />
    <add key="UpdateTxnDb_cbPortalObjectsReloadAll" value="True" />
    <add key="UpdateTxnDb_cbLoadPortalObjects" value="False" />
    <add key="UpdateTxnDb_cleanupPermissionsCheckBox" value="False" />
    <add key="UpdateTxnDb_cbForceUpdate" value="True" />
    <add key="UpdateTxnDb_runDBResetCheckBox" value="True" />
    <add key="UpdateTxnDb_loadInitialDataCheckBox" value="False" />
    <add key="UpdateTxnDb_createIndicesCheckBox" value="False" />
    <add key="UpdateTxnDb_createStoredProcsCheckBox" value="False" />
  </appSettings>
  <userSettings>
    <Infragistics.Win.UltraWinTree.UltraTree.MainForm.ultraTree1>
      <setting name="XmlData" serializeAs="String">
        <value>
          &lt;SOAP-ENV:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:clr="http://schemas.microsoft.com/soap/encoding/clr/1.0" SOAP-ENV:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"&gt;
          &lt;SOAP-ENV:Body&gt;
          &lt;a1:UltraTreeStreamer id="ref-1" xmlns:a1="http://schemas.microsoft.com/clr/nsassem/Infragistics.Win.UltraWinTree/Infragistics2.Win.UltraWinTree.v6.2"&gt;
          &lt;ImageTransparentColor xsi:type="a2:Color" xmlns:a2="http://schemas.microsoft.com/clr/nsassem/System.Drawing/System.Drawing"&gt;
          &lt;name xsi:null="1"/&gt;
          &lt;value&gt;0&lt;/value&gt;
          &lt;knownColor&gt;27&lt;/knownColor&gt;
          &lt;state&gt;1&lt;/state&gt;
          &lt;/ImageTransparentColor&gt;
          &lt;NodeConnectorColor xsi:type="a2:Color" xmlns:a2="http://schemas.microsoft.com/clr/nsassem/System.Drawing/System.Drawing"&gt;
          &lt;name xsi:null="1"/&gt;
          &lt;value&gt;0&lt;/value&gt;
          &lt;knownColor&gt;6&lt;/knownColor&gt;
          &lt;state&gt;1&lt;/state&gt;
          &lt;/NodeConnectorColor&gt;
          &lt;Nodes href="#ref-4"/&gt;
          &lt;/a1:UltraTreeStreamer&gt;
          &lt;a1:TreeNodesCollection id="ref-4" xmlns:a1="http://schemas.microsoft.com/clr/nsassem/Infragistics.Win.UltraWinTree/Infragistics2.Win.UltraWinTree.v6.2"&gt;
          &lt;Count&gt;1&lt;/Count&gt;
          &lt;_x0030_ href="#ref-5"/&gt;
          &lt;/a1:TreeNodesCollection&gt;
          &lt;a1:UltraTreeNode id="ref-5" xmlns:a1="http://schemas.microsoft.com/clr/nsassem/Infragistics.Win.UltraWinTree/Infragistics2.Win.UltraWinTree.v6.2"&gt;
          &lt;Text id="ref-6"&gt;InSite Servers&lt;/Text&gt;
          &lt;ForceSuppressionOfExpansionIndicator&gt;false&lt;/ForceSuppressionOfExpansionIndicator&gt;
          &lt;/a1:UltraTreeNode&gt;
          &lt;/SOAP-ENV:Body&gt;
          &lt;/SOAP-ENV:Envelope&gt;
        </value>
      </setting>
    </Infragistics.Win.UltraWinTree.UltraTree.MainForm.ultraTree1>
    <CIMS.Properties.Settings>
      <setting name="Size" serializeAs="String">
        <value>175, 514</value>
      </setting>
    </CIMS.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <CIMS.Properties.Settings>
      <setting name="WriteDebugTimelines" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WriteDebugProcessDetails" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WriteDebugInstanceSQL" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BulkCopyBatchSize" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="ScriptCommandTimeout" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="AlterTableCommandTimeout" serializeAs="String">
        <value>300</value>
      </setting>
    </CIMS.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.3.0" newVersion="6.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.5" newVersion="8.0.0.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>