<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="add x-forwarded-proto header">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <serverVariables>
            <set name="HTTP_X_FORWARDED_PROTO" value="https" />
          </serverVariables>
          <action type="None" />
        </rule>
        <rule name="xas" stopProcessing="true">
          <match url="^(xas/)(.*)" />
          <action type="Rewrite" url="http://localhost:8080/{R:1}{R:2}" />
        </rule>
        <rule name="ws" stopProcessing="true">
          <match url="^(ws/)(.*)" />
          <action type="Rewrite" url="http://localhost:8080/{R:1}{R:2}" />
        </rule>
        <rule name="ws-doc" stopProcessing="true">
          <match url="^(ws-doc/)(.*)" />
          <action type="Rewrite" url="http://localhost:8080/{R:1}{R:2}" />
        </rule>
        <rule name="file" stopProcessing="true">
          <match url="^(file)(.*)" />
          <action type="Rewrite" url="http://localhost:8080/{R:1}{R:2}" />
        </rule>
        <rule name="link" stopProcessing="true">
          <match url="^(link/)(.*)" />
          <action type="Rewrite" url="http://localhost:8080/{R:1}{R:2}" />
        </rule>
        <rule name="rest" stopProcessing="true">
          <match url="^(rest/)(.*)" />
          <action type="Rewrite" url="http://localhost:8080/{R:1}{R:2}" />
        </rule>
        <rule name="rest-doc" stopProcessing="true">
          <match url="^(rest-doc/)(.*)" />
          <action type="Rewrite" url="http://localhost:8080/{R:1}{R:2}" />
        </rule>
        <rule name="debugger" stopProcessing="true">
          <match url="^(debugger/)(.*)" />
          <action type="Rewrite" url="http://localhost:8080/{R:1}{R:2}" />
        </rule>
        <rule name="authentication">
          <match url="^(v1/)(.*)"/>
          <action type="Rewrite" url="http://localhost:8080/{R:1}{R:2}"/>
        </rule>
        <rule name="manifest">
          <match url="^(manifest)(.*)" />
          <action type="Rewrite" url="http://localhost:8080/{R:1}{R:2}" />
        </rule>
        <rule name="sso">
          <match url="^(sso/)(.*)" />
          <action type="Rewrite" url="http://localhost:8080/{R:1}{R:2}" />
        </rule>
        <rule name="submitloginform">
          <match url="^(SubmitLoginForm)" />
          <action type="Rewrite" url="http://localhost:8080/SubmitLoginForm" />
        </rule>
        <rule name="p">
          <match url="^(p/)(.*)" />
          <action type="Rewrite" url="http://localhost:8080/{R:1}{R:2}" />
        </rule>
        <rule name="docgen">
          <match url="^(docgen/)(.*)" />
          <action type="Rewrite" url="http://localhost:8080/{R:1}{R:2}" />
        </rule>
      </rules>
    </rewrite>
    <staticContent>
      <mimeMap fileExtension=".mxf" mimeType="text/xml" />
      <clientCache cacheControlMode="DisableCache" />
    </staticContent>
  </system.webServer>
</configuration>
