/*
***************************************************************************
© 2019 Siemens Product Lifecycle Management Software Inc.
This file should include all user-defined CSS classes. 
Classes defined in this file will over-ride any classes of the
same name written in any of the Camstar supplied CSS files.
***************************************************************************
*/


.chart {
    position: static;
    top: 190px;
    left: 0px;
}

    .chart .legend {
        fill: black;
        font: 12px sans-serif;
        font-weight: bold;
        text-anchor: start;
        font-size: 12px;
    }

    .chart text {
        fill: black;
        font: 10px sans-serif;
        text-anchor: end;
        text-align: left;
    }

    .chart .label {
        fill: black;
        font: 12px sans-serif;
        text-anchor: end;
    }

.bar:hover {
    fill: brown;
}

.axis {
    font: 8px sans-serif;
}

    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

#WebPart_isOEEIndicator_WP,
#WebPart_isOEEIndicatorDetails_WP {
    width: 100%;
}
#WebPart_isOEEIndicator_WP .row .cell-m,
#WebPart_isOEEIndicatorDetails_WP .row .cell-m {
    flex: 0 1 auto;
}
#WebPart_isOEEIndicator_WP .row .cell-m .cs-checkbox,
#WebPart_isOEEIndicatorDetails_WP .row .cell-m .cs-checkbox {
    margin-top: 48px;
}
#WebPart_isOEEIndicator_WP .row .cell-m .cs-button[type="submit"],
#WebPart_isOEEIndicatorDetails_WP .row .cell-m .cs-button[type="submit"] {
    margin-top: 37px;
}