/*<meta Version="9" />*/

/* MadCap Table Style: */

@media non-print
{
	mcTableStyle
	{
		border-left-style: solid;
		border-left-width: 1px;
		border-left-color: #dcdcdc;
		border-right-style: solid;
		border-right-width: 1px;
		border-right-color: #dcdcdc;
		border-top-style: solid;
		border-top-width: 1px;
		border-top-color: #dcdcdc;
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-bottom-color: #dcdcdc;
	}

	mcTableColumnStyle
	{
		separator-style: solid;
		separator-width: 1px;
		separator-color: #dcdcdc;
	}

	mcTableHeadStyle
	{
		background-color: #dcdcdc;
		separator-style: solid;
		separator-width: 1px;
		separator-color: #dcdcdc;
	}

	mcTableBodyStyle
	{
		separator-style: solid;
		separator-width: 1px;
		separator-color: #dcdcdc;
	}

	mcTableBodyStyle
	{
		separator-style: solid;
		separator-width: 1px;
		separator-color: #dcdcdc;
	}
}

mcTableStyle
{
	name: Horiz-rules_WideTable;
	margin-left: 0pc;
	margin-right: 0pc;
	margin-top: 10pt;
	margin-bottom: 18pt;
	border-spacing-x: 0;
	border-spacing-y: 0;
	border-collapse: collapse;
	border-left-color: #4f81bd;
	border-right-color: #4f81bd;
	border-top-color: #4f81bd;
	border-bottom-color: #4f81bd;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-left-style: solid;
	border-left-width: 1px;
	cell-padding-top: 0pt;
	cell-padding-left: 4pt;
	cell-padding-right: 0pt;
	cell-padding-bottom: 4pt;
	max-id: 4;
}

mcTableColumnStyle
{
	separator-style: none;
	separator-width: 1px;
	separator-color: #144999;
	name: Column1;
	id: 0;
	vertical-align: top;
}

mcTableHeadStyle
{
	span: 1;
	background-color: #006487;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #4f81bd;
	name: Header1;
	id: 3;
	cell-content-style-tag: p;
	cell-content-style-class: CellHead-Left;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #4f81bd;
	name: Body1;
	id: 1;
	cell-content-style-tag: p;
	cell-content-style-class: CellBody;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #4f81bd;
	name: Body2;
	id: 2;
	cell-content-style-tag: p;
	cell-content-style-class: CellBody;
}

/* Cell Styles: */

@media non-print
{
	.TableStyle-Horiz-rules_WideTable
	{
		border-left-style: solid;
		border-left-color: #dcdcdc;
		border-left-width: 1px;
		border-right-style: solid;
		border-right-color: #dcdcdc;
		border-right-width: 1px;
		border-top-style: solid;
		border-top-color: #dcdcdc;
		border-top-width: 1px;
		border-bottom-style: solid;
		border-bottom-color: #dcdcdc;
		border-bottom-width: 1px;
		border-spacing: 0px 0px;
	}

	.TableStyle-Horiz-rules_WideTable-HeadI-Column1-Header1
	{
		background-color: #dcdcdc;
	}

	.TableStyle-Horiz-rules_WideTable-HeadE-Column1-Header1
	{
		border-right-width: 1px;
		border-right-color: #dcdcdc;
		border-right-style: solid;
		background-color: #dcdcdc;
		border-bottom-width: 1px;
		border-bottom-color: #dcdcdc;
		border-bottom-style: solid;
	}

	.TableStyle-Horiz-rules_WideTable-HeadF-Column1-Header1
	{
		background-color: #dcdcdc;
		border-bottom-width: 1px;
		border-bottom-color: #dcdcdc;
		border-bottom-style: solid;
	}

	.TableStyle-Horiz-rules_WideTable-HeadH-Column1-Header1
	{
		border-right-width: 1px;
		border-right-color: #dcdcdc;
		border-right-style: solid;
		background-color: #dcdcdc;
	}

	.TableStyle-Horiz-rules_WideTable-HeadD-Column1-Header1
	{
		background-color: #dcdcdc;
		border-bottom-width: 1px;
		border-bottom-color: #dcdcdc;
		border-bottom-style: solid;
	}

	.TableStyle-Horiz-rules_WideTable-HeadC-Column1-Header1
	{
		background-color: #dcdcdc;
	}

	.TableStyle-Horiz-rules_WideTable-HeadB-Column1-Header1
	{
		border-right-width: 1px;
		border-right-color: #dcdcdc;
		border-right-style: solid;
		background-color: #dcdcdc;
	}

	.TableStyle-Horiz-rules_WideTable-HeadA-Column1-Header1
	{
		background-color: #dcdcdc;
	}

	.TableStyle-Horiz-rules_WideTable-HeadG-Column1-Header1
	{
		background-color: #dcdcdc;
	}

	.TableStyle-Horiz-rules_WideTable-FootE-Column1-
	{
		border-right-width: 1px;
		border-right-color: #dcdcdc;
		border-right-style: solid;
	}

	.TableStyle-Horiz-rules_WideTable-FootH-Column1-
	{
		border-right-width: 1px;
		border-right-color: #dcdcdc;
		border-right-style: solid;
	}

	.TableStyle-Horiz-rules_WideTable-FootB-Column1-
	{
		border-right-width: 1px;
		border-right-color: #dcdcdc;
		border-right-style: solid;
	}

	.TableStyle-Horiz-rules_WideTable-BodyE-Column1-Body1
	{
		border-bottom-width: 1px;
		border-bottom-color: #dcdcdc;
		border-bottom-style: solid;
		border-right-width: 1px;
		border-right-color: #dcdcdc;
		border-right-style: solid;
	}

	.TableStyle-Horiz-rules_WideTable-BodyF-Column1-Body1
	{
		border-bottom-width: 1px;
		border-bottom-color: #dcdcdc;
		border-bottom-style: solid;
	}

	.TableStyle-Horiz-rules_WideTable-BodyH-Column1-Body1
	{
		border-right-width: 1px;
		border-right-color: #dcdcdc;
		border-right-style: solid;
	}

	.TableStyle-Horiz-rules_WideTable-BodyD-Column1-Body1
	{
		border-bottom-width: 1px;
		border-bottom-color: #dcdcdc;
		border-bottom-style: solid;
	}

	.TableStyle-Horiz-rules_WideTable-BodyB-Column1-Body1
	{
		border-right-width: 1px;
		border-right-color: #dcdcdc;
		border-right-style: solid;
	}

	.TableStyle-Horiz-rules_WideTable-BodyE-Column1-Body2
	{
		border-bottom-width: 1px;
		border-bottom-color: #dcdcdc;
		border-bottom-style: solid;
		border-right-width: 1px;
		border-right-color: #dcdcdc;
		border-right-style: solid;
	}

	.TableStyle-Horiz-rules_WideTable-BodyF-Column1-Body2
	{
		border-bottom-width: 1px;
		border-bottom-color: #dcdcdc;
		border-bottom-style: solid;
	}

	.TableStyle-Horiz-rules_WideTable-BodyH-Column1-Body2
	{
		border-right-width: 1px;
		border-right-color: #dcdcdc;
		border-right-style: solid;
	}

	.TableStyle-Horiz-rules_WideTable-BodyD-Column1-Body2
	{
		border-bottom-width: 1px;
		border-bottom-color: #dcdcdc;
		border-bottom-style: solid;
	}

	.TableStyle-Horiz-rules_WideTable-BodyB-Column1-Body2
	{
		border-right-width: 1px;
		border-right-color: #dcdcdc;
		border-right-style: solid;
	}
}

.TableStyle-Horiz-rules_WideTable
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #4f81bd;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #4f81bd;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #4f81bd;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #4f81bd;
	border-bottom-width: 1px;
	margin-left: 0pc;
	margin-right: 0pc;
	margin-top: 10pt;
	margin-bottom: 18pt;
	border-spacing: 0px 0px;
}

.TableStyle-Horiz-rules_WideTable-Column-Column1
{
	
}

.TableStyle-Horiz-rules_WideTable-Head-Header1
{
	
}

.TableStyle-Horiz-rules_WideTable-HeadI-Column1-Header1
{
	padding-left: 4pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	vertical-align: top;
	background-color: #006487;
}

.TableStyle-Horiz-rules_WideTable-HeadI-Column1-Header1 p
{
	
}

.TableStyle-Horiz-rules_WideTable-HeadE-Column1-Header1
{
	padding-left: 4pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #144999;
	border-right-style: none;
	background-color: #006487;
	border-bottom-width: 1px;
	border-bottom-color: #4f81bd;
	border-bottom-style: solid;
}

.TableStyle-Horiz-rules_WideTable-HeadE-Column1-Header1 p
{
	
}

.TableStyle-Horiz-rules_WideTable-HeadF-Column1-Header1
{
	padding-left: 4pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	vertical-align: top;
	background-color: #006487;
	border-bottom-width: 1px;
	border-bottom-color: #4f81bd;
	border-bottom-style: solid;
}

.TableStyle-Horiz-rules_WideTable-HeadF-Column1-Header1 p
{
	
}

.TableStyle-Horiz-rules_WideTable-HeadH-Column1-Header1
{
	padding-left: 4pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #144999;
	border-right-style: none;
	background-color: #006487;
}

.TableStyle-Horiz-rules_WideTable-HeadH-Column1-Header1 p
{
	
}

.TableStyle-Horiz-rules_WideTable-HeadD-Column1-Header1
{
	padding-left: 4pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	vertical-align: top;
	background-color: #006487;
	border-bottom-width: 1px;
	border-bottom-color: #4f81bd;
	border-bottom-style: solid;
}

.TableStyle-Horiz-rules_WideTable-HeadD-Column1-Header1 p
{
	
}

.TableStyle-Horiz-rules_WideTable-HeadC-Column1-Header1
{
	padding-left: 4pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	vertical-align: top;
	background-color: #006487;
}

.TableStyle-Horiz-rules_WideTable-HeadC-Column1-Header1 p
{
	
}

.TableStyle-Horiz-rules_WideTable-HeadB-Column1-Header1
{
	padding-left: 4pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #144999;
	border-right-style: none;
	background-color: #006487;
}

.TableStyle-Horiz-rules_WideTable-HeadB-Column1-Header1 p
{
	
}

.TableStyle-Horiz-rules_WideTable-HeadA-Column1-Header1
{
	padding-left: 4pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	vertical-align: top;
	background-color: #006487;
}

.TableStyle-Horiz-rules_WideTable-HeadA-Column1-Header1 p
{
	
}

.TableStyle-Horiz-rules_WideTable-HeadG-Column1-Header1
{
	padding-left: 4pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	vertical-align: top;
	background-color: #006487;
}

.TableStyle-Horiz-rules_WideTable-HeadG-Column1-Header1 p
{
	
}

.TableStyle-Horiz-rules_WideTable-FootI-Column1-
{
	padding-left: 4pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	vertical-align: top;
}

.TableStyle-Horiz-rules_WideTable-FootI-Column1- p
{
	
}

.TableStyle-Horiz-rules_WideTable-FootE-Column1-
{
	padding-left: 4pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #144999;
	border-right-style: none;
}

.TableStyle-Horiz-rules_WideTable-FootE-Column1- p
{
	
}

.TableStyle-Horiz-rules_WideTable-FootF-Column1-
{
	padding-left: 4pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	vertical-align: top;
}

.TableStyle-Horiz-rules_WideTable-FootF-Column1- p
{
	
}

.TableStyle-Horiz-rules_WideTable-FootH-Column1-
{
	padding-left: 4pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #144999;
	border-right-style: none;
}

.TableStyle-Horiz-rules_WideTable-FootH-Column1- p
{
	
}

.TableStyle-Horiz-rules_WideTable-FootD-Column1-
{
	padding-left: 4pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	vertical-align: top;
}

.TableStyle-Horiz-rules_WideTable-FootD-Column1- p
{
	
}

.TableStyle-Horiz-rules_WideTable-FootC-Column1-
{
	padding-left: 4pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	vertical-align: top;
}

.TableStyle-Horiz-rules_WideTable-FootC-Column1- p
{
	
}

.TableStyle-Horiz-rules_WideTable-FootB-Column1-
{
	padding-left: 4pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #144999;
	border-right-style: none;
}

.TableStyle-Horiz-rules_WideTable-FootB-Column1- p
{
	
}

.TableStyle-Horiz-rules_WideTable-FootA-Column1-
{
	padding-left: 4pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	vertical-align: top;
}

.TableStyle-Horiz-rules_WideTable-FootA-Column1- p
{
	
}

.TableStyle-Horiz-rules_WideTable-FootG-Column1-
{
	padding-left: 4pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	vertical-align: top;
}

.TableStyle-Horiz-rules_WideTable-FootG-Column1- p
{
	
}

.TableStyle-Horiz-rules_WideTable-Body-Body1
{
	
}

.TableStyle-Horiz-rules_WideTable-BodyI-Column1-Body1
{
	padding-left: 4pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	vertical-align: top;
}

.TableStyle-Horiz-rules_WideTable-BodyI-Column1-Body1 p
{
	
}

.TableStyle-Horiz-rules_WideTable-BodyE-Column1-Body1
{
	padding-left: 4pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	border-bottom-width: 1px;
	border-bottom-color: #4f81bd;
	border-bottom-style: solid;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #144999;
	border-right-style: none;
}

.TableStyle-Horiz-rules_WideTable-BodyE-Column1-Body1 p
{
	
}

.TableStyle-Horiz-rules_WideTable-BodyF-Column1-Body1
{
	padding-left: 4pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	border-bottom-width: 1px;
	border-bottom-color: #4f81bd;
	border-bottom-style: solid;
	vertical-align: top;
}

.TableStyle-Horiz-rules_WideTable-BodyF-Column1-Body1 p
{
	
}

.TableStyle-Horiz-rules_WideTable-BodyH-Column1-Body1
{
	padding-left: 4pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #144999;
	border-right-style: none;
}

.TableStyle-Horiz-rules_WideTable-BodyH-Column1-Body1 p
{
	
}

.TableStyle-Horiz-rules_WideTable-BodyD-Column1-Body1
{
	padding-left: 4pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	border-bottom-width: 1px;
	border-bottom-color: #4f81bd;
	border-bottom-style: solid;
	vertical-align: top;
}

.TableStyle-Horiz-rules_WideTable-BodyD-Column1-Body1 p
{
	
}

.TableStyle-Horiz-rules_WideTable-BodyC-Column1-Body1
{
	padding-left: 4pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	vertical-align: top;
}

.TableStyle-Horiz-rules_WideTable-BodyC-Column1-Body1 p
{
	
}

.TableStyle-Horiz-rules_WideTable-BodyB-Column1-Body1
{
	padding-left: 4pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #144999;
	border-right-style: none;
}

.TableStyle-Horiz-rules_WideTable-BodyB-Column1-Body1 p
{
	
}

.TableStyle-Horiz-rules_WideTable-BodyA-Column1-Body1
{
	padding-left: 4pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	vertical-align: top;
}

.TableStyle-Horiz-rules_WideTable-BodyA-Column1-Body1 p
{
	
}

.TableStyle-Horiz-rules_WideTable-BodyG-Column1-Body1
{
	padding-left: 4pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	vertical-align: top;
}

.TableStyle-Horiz-rules_WideTable-BodyG-Column1-Body1 p
{
	
}

.TableStyle-Horiz-rules_WideTable-Body-Body2
{
	
}

.TableStyle-Horiz-rules_WideTable-BodyI-Column1-Body2
{
	padding-left: 4pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	vertical-align: top;
}

.TableStyle-Horiz-rules_WideTable-BodyI-Column1-Body2 p
{
	
}

.TableStyle-Horiz-rules_WideTable-BodyE-Column1-Body2
{
	padding-left: 4pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	border-bottom-width: 1px;
	border-bottom-color: #4f81bd;
	border-bottom-style: solid;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #144999;
	border-right-style: none;
}

.TableStyle-Horiz-rules_WideTable-BodyE-Column1-Body2 p
{
	
}

.TableStyle-Horiz-rules_WideTable-BodyF-Column1-Body2
{
	padding-left: 4pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	border-bottom-width: 1px;
	border-bottom-color: #4f81bd;
	border-bottom-style: solid;
	vertical-align: top;
}

.TableStyle-Horiz-rules_WideTable-BodyF-Column1-Body2 p
{
	
}

.TableStyle-Horiz-rules_WideTable-BodyH-Column1-Body2
{
	padding-left: 4pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #144999;
	border-right-style: none;
}

.TableStyle-Horiz-rules_WideTable-BodyH-Column1-Body2 p
{
	
}

.TableStyle-Horiz-rules_WideTable-BodyD-Column1-Body2
{
	padding-left: 4pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	border-bottom-width: 1px;
	border-bottom-color: #4f81bd;
	border-bottom-style: solid;
	vertical-align: top;
}

.TableStyle-Horiz-rules_WideTable-BodyD-Column1-Body2 p
{
	
}

.TableStyle-Horiz-rules_WideTable-BodyC-Column1-Body2
{
	padding-left: 4pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	vertical-align: top;
}

.TableStyle-Horiz-rules_WideTable-BodyC-Column1-Body2 p
{
	
}

.TableStyle-Horiz-rules_WideTable-BodyB-Column1-Body2
{
	padding-left: 4pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #144999;
	border-right-style: none;
}

.TableStyle-Horiz-rules_WideTable-BodyB-Column1-Body2 p
{
	
}

.TableStyle-Horiz-rules_WideTable-BodyA-Column1-Body2
{
	padding-left: 4pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	vertical-align: top;
}

.TableStyle-Horiz-rules_WideTable-BodyA-Column1-Body2 p
{
	
}

.TableStyle-Horiz-rules_WideTable-BodyG-Column1-Body2
{
	padding-left: 4pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	vertical-align: top;
}

.TableStyle-Horiz-rules_WideTable-BodyG-Column1-Body2 p
{
	
}

mcTableStyle
{
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #dcdcdc;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #dcdcdc;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #dcdcdc;
}

mcTableColumnStyle
{
	separator-style: solid;
	separator-width: 1px;
	separator-color: #dcdcdc;
}

mcTableHeadStyle
{
	background-color: #dcdcdc;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #dcdcdc;
}

mcTableBodyStyle
{
	separator-style: solid;
	separator-width: 1px;
	separator-color: #dcdcdc;
}

mcTableBodyStyle
{
	separator-style: solid;
	separator-width: 1px;
	separator-color: #dcdcdc;
}

.TableStyle-Horiz-rules_WideTable
{
	border-left-style: solid;
	border-left-color: #dcdcdc;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #dcdcdc;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #dcdcdc;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #dcdcdc;
	border-bottom-width: 1px;
	border-spacing: 0px 0px;
}

.TableStyle-Horiz-rules_WideTable-HeadI-Column1-Header1
{
	background-color: #dcdcdc;
}

.TableStyle-Horiz-rules_WideTable-HeadE-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
	background-color: #dcdcdc;
	border-bottom-width: 1px;
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
}

.TableStyle-Horiz-rules_WideTable-HeadF-Column1-Header1
{
	background-color: #dcdcdc;
	border-bottom-width: 1px;
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
}

.TableStyle-Horiz-rules_WideTable-HeadH-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
	background-color: #dcdcdc;
}

.TableStyle-Horiz-rules_WideTable-HeadD-Column1-Header1
{
	background-color: #dcdcdc;
	border-bottom-width: 1px;
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
}

.TableStyle-Horiz-rules_WideTable-HeadC-Column1-Header1
{
	background-color: #dcdcdc;
}

.TableStyle-Horiz-rules_WideTable-HeadB-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
	background-color: #dcdcdc;
}

.TableStyle-Horiz-rules_WideTable-HeadA-Column1-Header1
{
	background-color: #dcdcdc;
}

.TableStyle-Horiz-rules_WideTable-HeadG-Column1-Header1
{
	background-color: #dcdcdc;
}

.TableStyle-Horiz-rules_WideTable-FootE-Column1-
{
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-Horiz-rules_WideTable-FootH-Column1-
{
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-Horiz-rules_WideTable-FootB-Column1-
{
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-Horiz-rules_WideTable-BodyE-Column1-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-Horiz-rules_WideTable-BodyF-Column1-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
}

.TableStyle-Horiz-rules_WideTable-BodyH-Column1-Body1
{
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-Horiz-rules_WideTable-BodyD-Column1-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
}

.TableStyle-Horiz-rules_WideTable-BodyB-Column1-Body1
{
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-Horiz-rules_WideTable-BodyE-Column1-Body2
{
	border-bottom-width: 1px;
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-Horiz-rules_WideTable-BodyF-Column1-Body2
{
	border-bottom-width: 1px;
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
}

.TableStyle-Horiz-rules_WideTable-BodyH-Column1-Body2
{
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-Horiz-rules_WideTable-BodyD-Column1-Body2
{
	border-bottom-width: 1px;
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
}

.TableStyle-Horiz-rules_WideTable-BodyB-Column1-Body2
{
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

