/* MadCap Table Style: */

/*<meta Version="7" />*/

mcTableStyle
{
	name: Plain_NoIndent;
	margin-left: 0em;
	margin-right: 1em;
	margin-top: 1em;
	margin-bottom: 1em;
	border-spacing-x: 0;
	border-spacing-y: 0;
	border-collapse: collapse;
	border-left-color: #000000;
	border-right-color: #000000;
	border-top-color: #000000;
	border-bottom-color: #000000;
	border-top-style: none;
	border-bottom-style: none;
	border-right-style: none;
	border-left-style: none;
	cell-padding-top: 0.25em;
	cell-padding-left: 0em;
	cell-padding-right: 0.25em;
	cell-padding-bottom: 0.25em;
	max-id: 4;
}

mcTableColumnStyle
{
	separator-style: none;
	name: Column1;
	id: 0;
	span: 1;
	vertical-align: top;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: none;
	name: Header1;
	id: 3;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: none;
	name: Body1;
	id: 1;
	page-break-inside: avoid;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: none;
	name: Body2;
	id: 2;
}


/* Cell Styles: */
 
.TableStyle-Plain_NoIndent
{
	border-collapse: collapse;
	border-left-style: none;
	border-left-color: #000000;
	border-right-style: none;
	border-right-color: #000000;
	border-top-style: none;
	border-top-color: #000000;
	border-bottom-style: none;
	border-bottom-color: #000000;
	margin-left: 0em;
	margin-right: 1em;
	margin-top: 1em;
	margin-bottom: 1em;
	border-spacing: 0px 0px;
}

.TableStyle-Plain_NoIndent .Column-Column1
{
	
}

.TableStyle-Plain_NoIndent .Head-Header1
{
	
}

.TableStyle-Plain_NoIndent .HeadI-Column1-Header1
{
	padding-left: 0em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
}

.TableStyle-Plain_NoIndent .HeadI-Column1-Header1 p
{
	
}

.TableStyle-Plain_NoIndent .HeadE-Column1-Header1
{
	padding-left: 0em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
	border-right-style: none;
	border-bottom-style: none;
}

.TableStyle-Plain_NoIndent .HeadE-Column1-Header1 p
{
	
}

.TableStyle-Plain_NoIndent .HeadF-Column1-Header1
{
	padding-left: 0em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
	border-bottom-style: none;
}

.TableStyle-Plain_NoIndent .HeadF-Column1-Header1 p
{
	
}

.TableStyle-Plain_NoIndent .HeadH-Column1-Header1
{
	padding-left: 0em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
	border-right-style: none;
}

.TableStyle-Plain_NoIndent .HeadH-Column1-Header1 p
{
	
}

.TableStyle-Plain_NoIndent .HeadD-Column1-Header1
{
	padding-left: 0em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
	border-bottom-style: none;
}

.TableStyle-Plain_NoIndent .HeadD-Column1-Header1 p
{
	
}

.TableStyle-Plain_NoIndent .HeadC-Column1-Header1
{
	padding-left: 0em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
}

.TableStyle-Plain_NoIndent .HeadC-Column1-Header1 p
{
	
}

.TableStyle-Plain_NoIndent .HeadB-Column1-Header1
{
	padding-left: 0em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
	border-right-style: none;
}

.TableStyle-Plain_NoIndent .HeadB-Column1-Header1 p
{
	
}

.TableStyle-Plain_NoIndent .HeadA-Column1-Header1
{
	padding-left: 0em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
}

.TableStyle-Plain_NoIndent .HeadA-Column1-Header1 p
{
	
}

.TableStyle-Plain_NoIndent .HeadG-Column1-Header1
{
	padding-left: 0em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
}

.TableStyle-Plain_NoIndent .HeadG-Column1-Header1 p
{
	
}

.TableStyle-Plain_NoIndent .FootI-Column1-
{
	padding-left: 0em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
}

.TableStyle-Plain_NoIndent .FootI-Column1- p
{
	
}

.TableStyle-Plain_NoIndent .FootE-Column1-
{
	padding-left: 0em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
	border-right-style: none;
}

.TableStyle-Plain_NoIndent .FootE-Column1- p
{
	
}

.TableStyle-Plain_NoIndent .FootF-Column1-
{
	padding-left: 0em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
}

.TableStyle-Plain_NoIndent .FootF-Column1- p
{
	
}

.TableStyle-Plain_NoIndent .FootH-Column1-
{
	padding-left: 0em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
	border-right-style: none;
}

.TableStyle-Plain_NoIndent .FootH-Column1- p
{
	
}

.TableStyle-Plain_NoIndent .FootD-Column1-
{
	padding-left: 0em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
}

.TableStyle-Plain_NoIndent .FootD-Column1- p
{
	
}

.TableStyle-Plain_NoIndent .FootC-Column1-
{
	padding-left: 0em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
}

.TableStyle-Plain_NoIndent .FootC-Column1- p
{
	
}

.TableStyle-Plain_NoIndent .FootB-Column1-
{
	padding-left: 0em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
	border-right-style: none;
}

.TableStyle-Plain_NoIndent .FootB-Column1- p
{
	
}

.TableStyle-Plain_NoIndent .FootA-Column1-
{
	padding-left: 0em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
}

.TableStyle-Plain_NoIndent .FootA-Column1- p
{
	
}

.TableStyle-Plain_NoIndent .FootG-Column1-
{
	padding-left: 0em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
}

.TableStyle-Plain_NoIndent .FootG-Column1- p
{
	
}

.TableStyle-Plain_NoIndent .Body-Body1
{
	page-break-inside: avoid;
}

.TableStyle-Plain_NoIndent .BodyI-Column1-Body1
{
	padding-left: 0em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
}

.TableStyle-Plain_NoIndent .BodyI-Column1-Body1 p
{
	
}

.TableStyle-Plain_NoIndent .BodyE-Column1-Body1
{
	padding-left: 0em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	border-bottom-style: none;
	vertical-align: top;
	border-right-style: none;
}

.TableStyle-Plain_NoIndent .BodyE-Column1-Body1 p
{
	
}

.TableStyle-Plain_NoIndent .BodyF-Column1-Body1
{
	padding-left: 0em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	border-bottom-style: none;
	vertical-align: top;
}

.TableStyle-Plain_NoIndent .BodyF-Column1-Body1 p
{
	
}

.TableStyle-Plain_NoIndent .BodyH-Column1-Body1
{
	padding-left: 0em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
	border-right-style: none;
}

.TableStyle-Plain_NoIndent .BodyH-Column1-Body1 p
{
	
}

.TableStyle-Plain_NoIndent .BodyD-Column1-Body1
{
	padding-left: 0em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	border-bottom-style: none;
	vertical-align: top;
}

.TableStyle-Plain_NoIndent .BodyD-Column1-Body1 p
{
	
}

.TableStyle-Plain_NoIndent .BodyC-Column1-Body1
{
	padding-left: 0em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
}

.TableStyle-Plain_NoIndent .BodyC-Column1-Body1 p
{
	
}

.TableStyle-Plain_NoIndent .BodyB-Column1-Body1
{
	padding-left: 0em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
	border-right-style: none;
}

.TableStyle-Plain_NoIndent .BodyB-Column1-Body1 p
{
	
}

.TableStyle-Plain_NoIndent .BodyA-Column1-Body1
{
	padding-left: 0em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
}

.TableStyle-Plain_NoIndent .BodyA-Column1-Body1 p
{
	
}

.TableStyle-Plain_NoIndent .BodyG-Column1-Body1
{
	padding-left: 0em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
}

.TableStyle-Plain_NoIndent .BodyG-Column1-Body1 p
{
	
}

.TableStyle-Plain_NoIndent .Body-Body2
{
	
}

.TableStyle-Plain_NoIndent .BodyI-Column1-Body2
{
	padding-left: 0em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
}

.TableStyle-Plain_NoIndent .BodyI-Column1-Body2 p
{
	
}

.TableStyle-Plain_NoIndent .BodyE-Column1-Body2
{
	padding-left: 0em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	border-bottom-style: none;
	vertical-align: top;
	border-right-style: none;
}

.TableStyle-Plain_NoIndent .BodyE-Column1-Body2 p
{
	
}

.TableStyle-Plain_NoIndent .BodyF-Column1-Body2
{
	padding-left: 0em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	border-bottom-style: none;
	vertical-align: top;
}

.TableStyle-Plain_NoIndent .BodyF-Column1-Body2 p
{
	
}

.TableStyle-Plain_NoIndent .BodyH-Column1-Body2
{
	padding-left: 0em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
	border-right-style: none;
}

.TableStyle-Plain_NoIndent .BodyH-Column1-Body2 p
{
	
}

.TableStyle-Plain_NoIndent .BodyD-Column1-Body2
{
	padding-left: 0em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	border-bottom-style: none;
	vertical-align: top;
}

.TableStyle-Plain_NoIndent .BodyD-Column1-Body2 p
{
	
}

.TableStyle-Plain_NoIndent .BodyC-Column1-Body2
{
	padding-left: 0em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
}

.TableStyle-Plain_NoIndent .BodyC-Column1-Body2 p
{
	
}

.TableStyle-Plain_NoIndent .BodyB-Column1-Body2
{
	padding-left: 0em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
	border-right-style: none;
}

.TableStyle-Plain_NoIndent .BodyB-Column1-Body2 p
{
	
}

.TableStyle-Plain_NoIndent .BodyA-Column1-Body2
{
	padding-left: 0em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
}

.TableStyle-Plain_NoIndent .BodyA-Column1-Body2 p
{
	
}

.TableStyle-Plain_NoIndent .BodyG-Column1-Body2
{
	padding-left: 0em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
}

.TableStyle-Plain_NoIndent .BodyG-Column1-Body2 p
{
	
}


