/*<meta />*/

@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);

td.GenMiniTOCText1 a
{
	font-family: 'Siemens Sans';
	font-size: 0.8em;
	color: red;
}

td.GenMiniTOCText2 a
{
	font-family: 'Siemens Sans';
	font-size: 0.8em;
	color: red;
}

p.Head2-NonTOC
{
	text-align: left;
	margin-left: 0pc;
	margin-right: 0pc;
	font-weight: normal;
	font-style: normal;
	letter-spacing: 0em;
	mc-hyphenate: never;
	text-indent: 0px;
	text-decoration: none;
	font-size: 1.5em;
	margin-top: 1.5em;
	margin-bottom: 1.25em;
	color: #006487;
	font-family: 'Siemens Slab';
}

p.Head3-NonTOC
{
	text-align: left;
	margin-left: 0pc;
	margin-right: 0pc;
	font-weight: normal;
	font-style: normal;
	letter-spacing: 0em;
	mc-hyphenate: never;
	text-indent: 0px;
	text-decoration: none;
	page-break-after: avoid;
	margin-top: 1em;
	margin-bottom: 0em;
	font-size: 1em;
	color: #006487;
	font-family: 'Siemens Slab';
}

/* *************  ONLINE MEDIUM STYLES ************* */

@media non-print
{
	/* ********  ONLINE MINI-TOC STYLES ******** */

	p.Head2	/* mc-heading-level of 1 applies only to online media to enable mini-toc to work */
	{
		text-align: left;
		margin-left: 0pc;
		margin-right: 0pc;
		font-weight: normal;
		font-style: normal;
		letter-spacing: 0em;
		mc-hyphenate: never;
		text-indent: 0px;
		text-decoration: none;
		mc-heading-level: 1;
		page-break-before: always;
		font-size: 1.5em;
		margin-top: 2em;
		margin-bottom: 1.25em;
		color: #006487;
		font-family: 'Segoe UI';
	}

	MadCap|miniTocProxy
	{
		border-top-color: ;
		border-top-style: none;
		mc-pagenum-display: none;
		font-size: 9pt;
		vertical-align: text-top;
		empty-cells: hide;
	}

	div.MCMiniTocBox_0
	{
		border-top-width: 0;
		padding-top: 0;
		margin-top: -15px;
		padding-left: 20px;
		font-size: 9pt;
	}

	div.column
	{
		-webkit-clumn-count: 2;
		-moz-column-count: 2;
		column-count: 2;
		mc-pagenum-display: none;
		padding-top: 0;
		margin-top: 20px;
		vertical-align: text-top;
		empty-cells: hide;
	}

	/* Affects each entry in Online MiniTOC */

	p.MiniTOC1_0
	{
		margin-left: 30px;
		padding-top: 0px;
		padding-bottom: 0px;
		line-height: 13px;
		empty-cells: hide;
		font-size: 9pt;
	}

	p.MiniTOC1
	{
		display: list-item;
		list-style-type: disc;
		list-style: disc;
		font-weight: normal;
		empty-cells: hide;
		font-size: 9pt;
	}

	a.MiniTOC1:link
	{
		font-family: Arial;
		font-size: 10pt;
		color: #006487;
	}
}

/* *************  PRINT MEDIUM STYLES ************* */

@media print
{
	/* ********  PRINT MINI-TOC STYLES ******** */

	p.MiniTOC1
	{
		mc-pagenum-display: none;
		font-weight: normal;
		margin-bottom: 5px;
		margin-top: 0px;
		padding-top: 0px;
		font-family: 'Siemens Sans';
		font-size: 0.85em;
	}

	td.GenMiniTOCText1
	{
		list-style: disc;
		list-style-type: disc;
		mc-multiline-indent: 15px;
		background-color: green;
	}

	td.GenMiniTOCText1:before
	{
		content: "•   ";
	}

	MadCap|miniTocProxy
	{
		margin-top: 0px;
		padding-top: 0px;
		border-top-color: ;
		border-top-style: none;
		border-top-width: 0px;
		frame-break-after: always;
		frame-break-before: always;
	}

	p._1bodyIntro
	{
		text-align: left;
		font-weight: normal;
		font-style: normal;
		letter-spacing: 0em;
		color: #000000;
		mc-hyphenate: never;
		text-indent: 0px;
		text-decoration: none;
		orphans: 2;
		margin-top: 0px;
		margin-left: 25px;
		margin-bottom: 0px;
		margin-right: 0em;
		line-height: 1em;
		font-size: 0.8em;
		font-family: 'Siemens Sans';
		frame-break-after: always;
	}
}

p.Head2	/* mc-heading-level of 1 applies only to online media to enable mini-toc to work */
{
	text-align: left;
	margin-left: 0pc;
	margin-right: 0pc;
	font-weight: normal;
	font-style: normal;
	letter-spacing: 0em;
	mc-hyphenate: never;
	text-indent: 0px;
	text-decoration: none;
	mc-heading-level: 1;
	page-break-before: always;
	font-size: 1.5em;
	margin-top: 2em;
	margin-bottom: 1.25em;
	color: #006487;
	font-family: 'Segoe UI';
}

MadCap|miniTocProxy
{
	border-top-color: ;
	border-top-style: none;
	mc-pagenum-display: none;
	font-size: 9pt;
	vertical-align: text-top;
	empty-cells: hide;
}

div.MCMiniTocBox_0
{
	border-top-width: 0;
	padding-top: 0;
	margin-top: -15px;
	padding-left: 20px;
	font-size: 9pt;
}

div.column
{
	-webkit-clumn-count: 2;
	-moz-column-count: 2;
	column-count: 2;
	mc-pagenum-display: none;
	padding-top: 0;
	margin-top: 20px;
	vertical-align: text-top;
	empty-cells: hide;
}

p.MiniTOC1_0
{
	margin-left: 30px;
	padding-top: 0px;
	padding-bottom: 0px;
	line-height: 13px;
	empty-cells: hide;
	font-size: 9pt;
}

p.MiniTOC1
{
	display: list-item;
	list-style-type: disc;
	list-style: disc;
	font-weight: normal;
	empty-cells: hide;
	font-size: 9pt;
}

a.MiniTOC1:link
{
	font-family: Arial;
	font-size: 10pt;
	color: #006487;
}

