<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright Siemens 2023   -->
<configuration>
  <appSettings>
    <add key="TargetVersionFolder" value="C:\Program Files (x86)\Camstar\InSite Administration\Portal Data"/>
    <add key="BaseXmlFile" value="5.8_Page_Webpart_Export.xml"/>
    <add key="BaseWorkspaceCode" value="CSI"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
