<div class="aw-jswidgets-lovParentContainer aw-jswidgets-lovParent" ng-class="{'aw-jswidgets-popUpVisible': expanded}">
    <aw-property-error>
        <div class="aw-layout-flexRowContainer aw-widget-iconParent">
            <input class="aw-jswidgets-choice gwt-ListBox" type="text" aw-widget-initialize aw-autofocus auto-focus="prop.autofocus"
                autocomplete="off" autocorrect="off" autocapitilize="off" spellcheck="false" aria-label= "{{prop.propertyRequiredText}}" placeholder="{{prop.propertyRequiredText}}"
                ng-model="prop.uiValue" ng-click="toggleDropdown()" ng-change="changeFunctionCustom()" ng-class="{'aw-widgets-propertyError': errorApi.errorMsg, 'aw-jswidgets-expanded': expanded,
                'aw-search-dirty': prop.defaultSelectionValue !== prop.dbValue }"
                ng-keydown="evalKey($event)" ng-disabled="!prop.isEnabled" ng-blur="blurLovFunction($event)"
                ng-required="prop.isRequired" aria-required="{{prop.isRequired}}" ng-attr-tabindex="{{prop.tabIndex}}" ng-readonly="prop.isSelectOnly"/>
            <aw-property-image ng-if="prop.isSearchPrefilter" name="cmdDrop" class="aw-widget-icon" ng-class="{'aw-search-prefilter-icon' :prop.isSearchPrefilter}"></aw-property-image>
            <aw-property-image ng-if="!prop.isSearchPrefilter" name="miscDownArrow_uxRefresh" class="aw-widget-icon" ></aw-property-image>
        </div>
    </aw-property-error>
</div>
