<div role="button" aria-label="i18n.userProfile" class="aw-generic-avatar" ng-if="!fullLayout" ng-class="{ 'aw-avatar-xsmall': size == 'xsmall',
    'aw-avatar-small': size == 'small', 'aw-avatar-medium': size == 'medium','aw-avatar-large': size == 'large','aw-avatar-xlarge': size == 'xlarge' }" ng-click="onClick()" ng-keydown="handleKeyPress($event)" tabindex="0">
    <img ng-if="source" ng-src="{{source}}" class="aw-avatar-icon aw-avatar-image" alt="">
    <a ng-if="!source" class="aw-avatar-icon">
        <span class="aw-avatar-name aw-avatar-initials" ng-if="initials">{{initials}}</span>
        <div ng-if="!initials" class="aw-avatar-name aw-avatar-normal-icon">
            <aw-icon icon-id="{{icon}}"></aw-icon>
        </div>
    </a>
</div>
<div role="button" aria-label="i18n.userProfile" ng-if="fullLayout" class="aw-avatar-layout" ng-class="textPosition == 'BOTTOM' ? 'aw-avatar-layout-vertical' : textPosition == 'RIGHT' ? 'aw-avatar-layout-horizontal' : ''" ng-click="onClick()" ng-keydown="handleKeyPress($event)" tabindex="0">
    <div class="aw-generic-avatar aw-avatar-small aw-avatar-layout-img" role="button" aria-label="i18n.userProfile">
        <img ng-src="{{source}}" class="aw-avatar-icon aw-avatar-image" alt="">
    </div>
    <div class="aw-avatar-text">{{name.propertyDisplayName}}</div>
</div>
