<div class="aw-commands-wrapper" ng-class="{'aw-no-overflow': !overflow, 'aw-commands-showIconLabel':showCommandLabels,'aw-commands-noLabel':showCommandLabels===false}" ng-style="!overflow && { 'flex-grow': showDownArrow ? (visibleCommands.length - overflowCommands.length) : visibleCommands.length }">
    <!-- All of the currently visible commands that fit within the command bar -->
    <aw-command ng-repeat="command in commandsList | filter:{visible:true} | orderBy: '':reverse | limitTo:commandLimit as visibleCommands" command-id="{{$index}}"></aw-command>
</div>
<div class="aw-commands-wrapper aw-commands-overflow" ng-class="{'aw-commands-showIconLabel':showCommandLabels,'aw-commands-noLabel':showCommandLabels===false}" ng-show="!overflow && overflowCommands.length > 0 && showDownArrow" ng-style="{'flex-grow': overflowCommands.length * 2}">
    <!-- All of the currently visible overflow commands -->
    <aw-command ng-repeat="command in commandsList | filter:{visible:true} | orderBy: '':reverse | limitTo:commandsList.length:commandLimit as overflowCommands" command-id="{{$index}}"></aw-command>
</div>
<div ng-if="::!overflow" class="aw-command-overflowIcon" ng-show="overflowCommands.length > 0">
    <button type="button"
        class="aw-commands-commandIconButton aw-commands-commandWrapperVertical"
        ng-click="toggleOverflow($event)" title="{{showDownArrow ? collapseText : expandText}}">
        <aw-icon icon-id="miscChevronDown" ng-class="['aw-commands-svg', {'aw-icon-rotate': showDownArrow}]"></aw-icon>
        <div class="aw-commands-commandIconButtonText">{{showDownArrow ? collapseText : expandText}}</div>
    </button>
</div>

<!-- The more button visible when overflow occurred-->
<div ng-if="overflow && !hideMore" class="aw-toolbarIcon aw-commands-moreButton">
    <button type="button" class="aw-commands-commandToolbarIconButton aw-use-commandOverflow" extended-tooltip-options="{alignment : '{{alignment}}'}" extended-tooltip="{extendedTooltipContent: '{{moreCommandExtendedTooltip}}' }" ng-click="toggleOverflowPopup($event)" aria-label="{{moreCommandExtendedTooltip}}">
        <aw-icon icon-id="cmdMore" class="aw-commands-svg"></aw-icon>
    </button>
</div>
