<div class="aw-base-normal aw-layout-flexRow aw-ui-filterCategoryCell" ng-class="{'aw-ui-filterNameLabelSelected': filter.selected, 'aw-ui-filterNameLabel': !filter.selected}" title="{{filter.name}}">
    <div class="aw-ui-filterNameCheckbox afx-checkbox aw-aria-border" ng-class="{
        'afx-checkbox-label-side': prop.propertyLabelDisplay=='PROPERTY_LABEL_AT_SIDE',
        'afx-checkbox-label-right': prop.propertyLabelDisplay=='PROPERTY_LABEL_AT_RIGHT',
        'afx-checkbox-label-top': prop.propertyLabelDisplay=='PROPERTY_LABEL_AT_TOP' }">
        <label class="aw-jswidgets-checkboxWrapper">
            <span class="hidden">{{filter.name}}</span>
            <input aria-label="{{category.displayName + '-' +  filter.name}}" type="checkbox" id="{{category.displayName + '-' +  filter.name}}" class="aw-jswidgets-checkboxButton" ng-model="filter.selected" ng-keydown="selectionKeyPress(category, filter, $event)" ng-click="select(category, filter, $event)" />
            <span class="afx-checkbox-md-style">
                <span class="check"></span>
            </span>
        </label>
    </div>
    <span filterNameColorBlockId="filterLabelColorBlock1"
           class="aw-ui-filterNameColorBlock {{filter.color}}"
           visible-when="filter.showColor"
           ng-click="select(category, filter, $event)">&nbsp;
    </span>
    <div class="aw-ui-filterCategoryNameAndCountContainer aw-layout-flexRow" ng-click="select(category, filter, $event)">
        <span class="aw-ui-filterCategoryName">{{filter.name}}&nbsp;</span>
        <span class="aw-layout-flexRow aw-ui-filterCategoryCountContainer">
            <span ng-if="category.type === 'RadioFilter' ">
                {{filter.count > 0 ? '(' +  filter.count + ')' : ''}}
            </span>
        <span ng-if="category.type !== 'RadioFilter' ">
        {{filter.showCount ? '(' +  filter.count + ')' : ''}}
        </span>
        </span>
    </div>
    <div class="aw-ui-filterCategoryShowSuffixIconContainer" ng-if="filter.showSuffixIcon" ng-keydown="selectionKeyPress($event)" ng-click="select(category, filter, $event)">
        <aw-icon class="aw-ui-filterCategoryShowSuffixIcon" icon-id="{{filter.suffixIconId}}"></aw-icon>
    </div>
</div>
