<div class='aw-multi-file-upload'>
    <span class="aw-upload">
        <input multiple type='file' ng-model='fileInputForm.fmsFile'  name='fmsFile' on-file-change='updateFile' accept="{{typeFilter === '.' ? '' : typeFilter}}">
        </input>
        <div class='aw-upload-drop-container' >
            <div class="aw-commandIcon aw-commands-svg">
                <aw-icon icon-id="cmdUpload"></aw-icon>
            </div>
            <div class='aw-upload-drag-label'>
                <aw-i18n>{{ i18n.dropHere }}</aw-i18n>
            </div>
            <div class='aw-upload-click-label'>
                <button class="aw-base-blk-button aw-base-button"  aw-click="clickFireInput()" >
                    <aw-i18n>{{ i18n.chooseFile }}</aw-i18n>
                </button>
            </div>
        </div>
    </span>

    <ul class="aw-upload-list-items">
        <div ng-repeat="uploadListItem in data.uploadListItems">
            <li class="aw-upload-item-info">
                <span class="aw-upload-item-info-label">{{uploadListItem}}</span>
                <span class="aw-upload-item-info-action">
                    <button
                    id="{{uploadListItem}}"
                    class="aw-commands-commandIconButton"
                    aw-click="removeItem( $index )" >
                    <div class="aw-commandIcon aw-commands-svg">
                        <aw-icon icon-id="cmdRemove"></aw-icon>
                    </div>
                </button>
                </span>
            </li>
        </div>
    </ul>
</div>
