<div class='aw-uiwidgets-searchBoxContainer' ng-class="{'aw-uiwidgets-searchBoxContainerFocus':focused}">
    <input type='{{prop.inputType}}' aw-autofocus auto-focus='prop.autofocus' ng-model='prop.dbValue' placeholder='{{inContentSearchPlaceHolder}}' aria-label='{{inContentSearchPlaceHolder}}' class='aw-uiwidgets-searchBox' ng-disabled='!prop.isEnabled' aw-enter-key='{{action}}' ng-focus='setFocus( true )' ng-blur='setFocus( false )' />
    <aw-icon class='aw-uiwidgets-searchResetIcon aw-aria-border' icon-id='cmdClearText' ng-click='reset()' tabindex="0" ng-keydown="clearInContentKeyPress($event)" ng-if='prop.dbValue && prop.dbValue.length>0' extended-tooltip='{"extendedTooltipContent": "{{resetText}}"}'></aw-icon>
    <aw-icon class='aw-uiwidgets-searchBoxIcon aw-aria-border' ng-click='doit(action)' tabindex="0" ng-keydown="performSearchInContentKeyPress($event, action)" icon-id='cmdSearch'></aw-icon>
</div>
