<div class="aw-image-cell-container aw-layout-flexColumnContainer">

    <!-- large thumbnail -->
    <div class="aw-image-cell-xl-thumbnail aw-layout-flexItem">
        <img class="aw-base-icon" ng-if="thumbnailUrl" ng-src="{{thumbnailUrl}}" alt="{{vmo.cellHeader1}}" />
    </div>

    <div class="aw-image-cell-footer aw-layout-flexItem aw-layout-flexRowContainer">
        <!-- medium typeicon -->
        <div class="aw-base-large-thumbnail" ng-if="typeIconFileUrl">
            <img class="aw-base-icon" ng-src="{{typeIconFileUrl}}" draggable="false" ondragstart="return false;" alt="{{vmo.modelType.displayName}}" />
        </div>

        <!-- Cell list content -->
        <div class="aw-widgets-cellListCellContent aw-layout-flexItem">
            <aw-default-cell-content vmo="vmo"></aw-default-cell-content>
        </div>
    </div>

</div>
