<div class="aw-layout-flexColumn">
    <aw-textbox prop="prop"></aw-textbox>
    <div class="aw-base-scrollPanel" ng-if="fixedCellHeight && !isGroupList" aria-live="polite">
        <aw-list dataprovider="dataprovider" fixed-cell-height="{{fixedCellHeight}}">
            <div aw-transclude></div>
        </aw-list>
    </div>
    <div class="aw-base-scrollPanel" ng-if="!fixedCellHeight && !isGroupList" aria-live="polite">
        <aw-list dataprovider="dataprovider" has-floating-cell-commands="hasFloatingCellCommands">
            <div aw-transclude></div>
        </aw-list>
    </div>
    <div class="aw-base-scrollPanel" ng-if="isGroupList" aria-live="polite">
        <aw-list dataprovider="dataprovider" is-group-list="true" has-floating-cell-commands="hasFloatingCellCommands">
            <div aw-transclude></div>
        </aw-list>
    </div>
</div>
