<div class="aw-layout-panelSection" ng-class="{ 'aw-layout-panelSectionNoTitle' : ( !caption || caption.length === 0 ) }">
    <div role="button" class="aw-layout-panelSectionTitle aw-layout-flexRow" ng-class="{ 'aw-layout-collapsiblePanelSectionTitle collapsible' : isCollapsible }" visible-when="caption" ng-hide="!!hideTitle" title="{{!isCollapsible ? caption : (collapsed === 'true' ? expand : collapse)}}" ng-click="flipSectionDisplay()" ng-keydown="handleKeyPress($event)">
        <aw-property-image ng-if="caption" class="aw-layout-panelSectionTitleChevron" ng-class="{ 'aw-layout-panelSectionTitleChevronDown' : collapsed === 'true' }" visible-when="isCollapsible" name="miscDownArrow_uxRefresh"></aw-property-image>
        <label ng-if="caption" title={{caption}} ng-class="{'collapsible' : isCollapsible }">{{caption}}</label>
    </div>
    <form name="{{name}}" class="aw-layout-panelSectionContent afx-base-parentElement" visible-when="collapsed !== 'true'" ng-class="{ 'aw-layout-panelSectionNoTitle' : ( !caption || caption.length === 0 ) }" ng-transclude novalidate>
    </form>
</div>
