<div ng-if="prop.renderingHint == 'label'">
    <aw-property-non-edit-val prop="prop" ></aw-property-non-edit-val>
</div>
<div ng-if="prop.renderingHint != 'label' && prop.hasLov">
    <aw-property-lov-val prop="prop" ></aw-property-lov-val>
</div>
<div ng-if="prop.renderingHint != 'label' && !prop.hasLov">
    <div class="aw-jswidgets-dateTimeInputbox">
        <div ng-if="prop.dateApi.isDateEnabled">
            <aw-property-date-val prop="prop" quick-nav="{{quickNav}}" change-action="{{changeAction}}" ></aw-property-date-val>
        </div>
        <div ng-if="prop.dateApi.isTimeEnabled">
            <aw-property-time-val prop="prop" change-action="{{changeAction}}" ></aw-property-time-val>
        </div>
    </div>
</div>
