<div class='aw-uiwidgets-searchBoxContainer' ng-class="{'aw-uiwidgets-searchBoxContainerFocus':focused}">
    <input type='{{prop.inputType}}' aw-autofocus auto-focus='prop.autofocus' aria-label='{{i18n.searchBox}}' ng-model='prop.dbValue' placeholder='{{getPlaceHolder()}}' class='aw-uiwidgets-searchBox' ng-disabled='!prop.isEnabled' aw-enter-key='{{action}}' ng-focus='setFocus( true )' ng-blur='setFocus( false )' ng-change='doChangeAction()' />
    <aw-icon class='aw-uiwidgets-searchResetIcon aw-aria-border' icon-id='cmdClearText' ng-click='reset($event)' tabindex= "0" ng-keydown="resetKeyPress($event)" ng-if='prop.dbValue && prop.dbValue.length>0' extended-tooltip='{"extendedTooltipContent": "{{resetText}}"}'></aw-icon>
    <aw-icon class='aw-uiwidgets-searchBoxIcon aw-aria-border' ng-click='doit(action)' tabindex= "0" ng-keydown="performSearchKeyPress($event, action)" icon-id='cmdSearch'></aw-icon>
</div>

