<div ng-class="{'aw-xrt-summaryXrt' : !context.isXrtApplicable || selection.length !== 1, 'aw-selection-summaryContainer':context.isXrtApplicable && selection.length === 1}">
    <div ng-show="visibleTabs.length > 1" ng-if="activeTab && !activeTab.isExclusive" class="aw-xrt-tabsContainer">
        <aw-tab-container tab-container-model="visibleTabs" callback="api" tab-set-id="secondary">
            <aw-tab tab-model="tab" ng-repeat="tab in visibleTabs" ></aw-tab>
        </aw-tab-container>
    </div>
    <aw-include class="aw-xrt-pageContainer aw-widgets-multiSelectContainer" name="{{activeTab.view}}" sub-panel-context="subPanelContext" ></aw-include>
</div>
