<div class="aw-widgets-propertyContainer">
    <aw-property-label prop="prop"></aw-property-label>
    <div class="aw-widgets-propertyLabelTopValueContainer">
          <div ng-if="!prop.isEditable">
        <aw-property-non-edit-val prop="prop" ></aw-property-non-edit-val>
    </div>
    <div ng-if="prop.isEditable">
        <div ng-if="prop.hasLov">
            <aw-property-lov-val prop="prop" ></aw-property-lov-val>
        </div>
        <div ng-if="!prop.hasLov">
            <aw-property-text-area-val prop="prop" ></aw-property-text-area-val>
        </div>
    </div>   
    </div>
</div>
