<div class="aw-widgets-propertyContainer">
    <div class="aw-widgets-propertyLabelTopValueContainer">
        <div>
            <div ng-class="{'mom-leftMinusCommand-class': prop.dbValue === 'Light', 'mom-leftMinusCommand-dark-class':prop.dbValue === 'Dark'}">
                <aw-icon-button id="leftMinusCommand" command="command" ng-repeat="command in leftMinusCommands"></aw-icon-button>
            </div>
            <div ng-class="{'mom-zoomControl-class': prop.dbValue === 'Light', 'mom-zoomControl-dark-class':prop.dbValue === 'Dark'}">
                <input type="text" ng-class="{'mom-zoomControl-Input-class': prop.dbValue === 'Light', 'mom-zoomControl-Input-Dark-class':prop.dbValue === 'Dark'}" id="momZoomText" name="momZoomText" disabled>
            </div>
            <div ng-class="{'mom-rightPlusCommand-class': prop.dbValue === 'Light', 'mom-rightPlusCommand-dark-class':prop.dbValue === 'Dark'}">
                <aw-icon-button id="rightPlusCommand" command="command" ng-repeat="command in rightPlusCommands"></aw-icon-button>
            </div>
        </div>
        <div class="mom-mag-reset-div">
            <button id="momZoomResetButton" ng-class="{'mom-reset-btn': prop.dbValue === 'Light', 'mom-reset-dark-btn':prop.dbValue === 'Dark'}" ng-click="ResetMag()">Reset</button>
        </div>
    </div>
</div>
