<div class="aw-layout-sublocationContent aw-base-scrollPanel">
    <div class="mom-details-summary" ng-if="momDetails">
        <aw-include name="momEmptyComponent" ng-if="!momDisableEmptyComponent && selected.length === 0"></aw-include>
        <aw-include name="{{viewBase}}Details" ng-if="momDisableEmptyComponent || selected.length > 0" sub-panel-context="{selection: selected}"></aw-include>
    </div>
    <aw-selection-summary ng-if="!momDetails" selection="selected"></aw-selection-summary>
</div>
