<?xml version="1.0" encoding="UTF-8"?>
<!-- © 2018 Siemens Product Lifecycle Management Software Inc. -->
<PortalSettings>
  <CDOFormsSettings>
    <CDOForms>
      <CDOForm Service="isInventoryLocationMaint" PageName="isInventoryLocation_VP"></CDOForm>
      <CDOForm Service="UOMMaint" PageName="isUOMMaint_VP"></CDOForm>
      <CDOForm Service="OrderStatusMaint" PageName="isOrderStatusMaint_VP"></CDOForm>
      <CDOForm Service="isMaterialQueueMaint" PageName="isMaterialQueue_VP"></CDOForm>
      <CDOForm Service="isDefectSeverityMaint" PageName="isDefectSeverity_VP" />
      <CDOForm Service="isDefectReasonMaint" PageName="isDefectReason_VP" />
      <CDOForm Service="isRepairActionMaint" PageName="isRepairAction_VP" />
      <CDOForm Service="isAutoStartSettingsMaint" PageName="isAutoStartSettingsMaint_VP" />
      <CDOForm Service="isOEESettingsMaint" PageName="isOEESettings_VP" />
      <CDOForm Service="CarrierFamilyMaint" PageName="CarrierFamilyMaint_VP" />
      <CDOForm Service="isRecipePlanMaint" PageName="isRecipeMatrixMaint_VP" />
      <CDOForm Service="ResourceGroupMaint" PageName="ResourceGroup_VP" />
      <CDOForm Service="isDefectMappingMaint" PageName="isDefectMapping_VP" />
    </CDOForms>
  </CDOFormsSettings>
</PortalSettings>