{
  "presets": ["module:X:/MxBuild/win-mxbuild-10.24.4/modeler/tools/node/node_modules/@react-native/babel-preset"],
  "plugins": [
    [
      "X:/MxBuild/win-mxbuild-10.24.4/modeler/tools/node/node_modules/babel-plugin-inline-import",
      {
        "extensions": [".svg"]
      }
    ],
    [
      "module:X:/MxBuild/win-mxbuild-10.24.4/modeler/tools/node/node_modules/react-native-reanimated/plugin"
    ]
  ]
}