// Array widget
aw-property-array-val,
aw-search-property-array-val {
    .aw-layout-flexRow.aw-jswidgets-arrayWidgetContainer {
        width: 100%;
    }

    .aw-jswidgets-arrayWidgetContainer {
        &.aw-array-border {
            border: $default_border;
            border-bottom-style: none;
        }
    }

    aw-property-radio-button-val,
    aw-property-toggle-button-val,
    aw-property-checkbox-val {
        .aw-widgets-innerWidget {
            border: $default_border;
        }
    }

    .aw-jswidgets-arrayValueCellListItem{
        padding: $property_array_val_padding;
    }

    .aw-jswidgets-dateInputbox .aw-widgets-innerWidget {
        .aw-widget-icon {
            top: $property_array_val_dateInputbox_calender_icon_top;
        }
    }

    .aw-jswidgets-dateTimeInputbox .aw-jswidgets-timepicker .aw-widgets-innerWidget {
        & .aw-widget-icon {
            top: $property_array_val_dateTimeInputbox_calender_icon_top;
        }
    }

    .aw-jswidgets-arrayEditWidgetContainer aw-property-text-area-val .aw-widgets-innerWidget textarea {
        width: 100% !important;
    }
}
