
p.Head1-Preface_Word
 {
	  font-family: 'Siemens Slab';
	  font-size:16pt;
	  font-weight: bold;
	  padding-bottom:12px;
	  page-break-before:always;
	  mc-heading-level: 1;
}
p.Head1-Preface_Word_NoBreak
{
 	 font-family: 'Siemens Slab';
	 font-size:16pt;
	 font-weight:bold;
	 color:#000000;
	 padding-top:18px;
     padding-bottom:12px;
	 mc-heading-level: 1;
	 page-break-before:avoid;
}
p.Head2-Preface_Word
 {
 	text-align: left;
	margin-left: 0pc;
	margin-right: 0pc;
	font-weight: normal;
	font-style: normal;
	letter-spacing: 0em;
	mc-hyphenate: never;
	text-indent: 0px;
	text-decoration: none;
	mc-heading-level: 2;
	page-break-after: avoid;
	margin-top: 2em;
	margin-bottom: 0.8em;
	color: #006487;
	font-family: 'Siemens Slab';
    font-size:11pt;
	font-weight:bold;
}
p.CellBodyPrint {
    font-family: 'Siemens Sans';
}