@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);
/*<meta />*/

body
{
	font-family: 'Siemens Sans';
	font-size: 11pt;
}

h1
{
	font-weight: bold;
	text-align: left;
	font-size: 16pt;
	color: #000000;
	font-family: 'Siemens Slab';
}

h2
{
	font-weight: bold;
	text-align: left;
	font-size: 11pt;
	color: #000000;
	font-family: 'Siemens Slab';
	margin-top: 30pt;
	margin-bottom: 12pt;
}

h3
{
	font-weight: bold;
	font-size: 11.0pt;
	color: #000000;
	font-family: 'Siemens Slab';
	margin-top: 12pt;
	margin-bottom: 0pt;
}

h4
{
	font-weight: bold;
	margin-bottom: 0pt;
	font-style: italic;
}

h5
{
	font-weight: bold;
}

h6
{
	font-weight: bold;
}

p
{
	font-family: 'Siemens Sans';
	font-size: 11pt;
}

ol,
ul
{
	margin-top: 0px;
	margin-bottom: 0px;
}

img
{
	border: none;
}

a.Popup
{
	
}

MadCap|expandingHead
{
	font-style: italic;
	font-weight: normal;
	cursor: hand;
	text-decoration: none;
	color: #006600;
}

MadCap|expandingBody
{
	color: #777777;
	font-style: italic;
}

MadCap|dropDownHotspot
{
	cursor: hand;
	font-style: italic;
	text-decoration: none;
	color: #006600;
}

p.Title
{
	text-align: left;
	margin-left: 0pc;
	margin-right: 0pc;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-weight: normal;
	font-style: normal;
	letter-spacing: 0em;
	mc-hyphenate: never;
	text-indent: 0px;
	text-decoration: none;
	mc-heading-level: 0;
	font-size: 20pt;
	color: #ffffff;
	font-family: 'Siemens Slab';
}

p.TitleRelease
{
	text-align: left;
	margin-left: 0pc;
	margin-right: 0pc;
	font-weight: normal;
	font-style: normal;
	letter-spacing: 0em;
	mc-hyphenate: never;
	text-indent: 0px;
	text-decoration: none;
	mc-heading-level: 0;
	margin-top: 2em;
	margin-bottom: 1em;
	font-size: 13pt;
	color: #ffffff;
	font-family: 'Siemens Slab';
}

p.Title-Notices
{
	text-align: left;
	margin-left: 0in;
	margin-bottom: 0pt;
	font-style: normal;
	letter-spacing: 0em;
	mc-hyphenate: never;
	text-indent: 0px;
	text-decoration: none;
	margin-top: 1em;
	margin-right: 2em;
	color: #000000;
	font-size: 16pt;
	font-weight: bold;
	font-family: 'Siemens Sans';
}

p.Title-NoticesText
{
	text-align: left;
	margin-left: 0in;
	margin-bottom: 0pt;
	font-weight: normal;
	font-style: normal;
	letter-spacing: 0em;
	mc-hyphenate: never;
	text-indent: 0px;
	text-decoration: none;
	margin-right: 2em;
	color: #000000;
	font-size: 9pt;
	margin-top: 1em;
	font-family: 'Siemens Sans';
}

p.Head1-Contents
{
	text-align: left;
	font-size: 16pt;
	color: #000000;
	font-family: 'Siemens Slab';
	font-weight: bold;
}

p.CellHead-Left
{
	text-align: left;
	margin-right: 0pc;
	font-style: normal;
	letter-spacing: 0em;
	mc-hyphenate: never;
	text-indent: 0px;
	text-decoration: none;
	margin-left: 0.25em;
	margin-bottom: 0.45em;
	margin-top: 0.45em;
	color: #ffffff;
	font-weight: bold;
	font-size: 11pt;
	font-family: 'Siemens Slab';
}

p.ProgramCode1
{
	text-align: left;
	margin-right: 0pc;
	margin-bottom: 0pt;
	font-family: CourierSH;
	font-weight: bold;
	font-style: normal;
	letter-spacing: 0em;
	mc-hyphenate: never;
	text-decoration: none;
	font-size: 0.75em;
	margin-top: 0.5em;
	margin-left: 50px;
	color: #0000ff;
}

span.Program_Code
{
	font-family: CourierSH;
	font-weight: bold;
	font-style: normal;
	letter-spacing: 0em;
	color: #000000;
	text-decoration: none;
	font-size: 0.75em;
}

p.ProgramCode2
{
	text-align: left;
	margin-right: 0pc;
	margin-bottom: 0pt;
	font-family: CourierSH;
	font-weight: bold;
	font-style: normal;
	letter-spacing: 0em;
	mc-hyphenate: never;
	text-decoration: none;
	font-size: 0.75em;
	margin-top: 0.5em;
	margin-left: 75px;
	color: #0000ff;
}

p.Important1body
{
	text-align: left;
	margin-bottom: 0px;
	font-weight: normal;
	letter-spacing: 0em;
	mc-hyphenate: never;
	mc-auto-number-class: Note;
	text-decoration: none;
	text-indent: 0em;
	margin-right: 1em;
	margin-top: 1em;
	mc-auto-number-position: outside-head;
	color: #000000;
	font-style: normal;
	margin-left: 110px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	mc-auto-number-offset: 90px;
	mc-auto-number-format: '{b}{color #006487}{family Siemens Serif}Important:';
	font-family: 'Siemens Sans';
}

p.Important2body
{
	text-align: left;
	margin-bottom: 0px;
	font-weight: normal;
	letter-spacing: 0em;
	mc-hyphenate: never;
	mc-auto-number-class: Note;
	text-decoration: none;
	text-indent: 0em;
	margin-right: 1em;
	margin-top: 1em;
	mc-auto-number-position: outside-head;
	color: #000000;
	font-style: normal;
	margin-left: 135px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	mc-auto-number-offset: 90px;
	mc-auto-number-format: '{b}{color #006487}{family Siemens Serif}Important:';
	font-family: 'Siemens Sans';
}

p.Note1body
{
	text-align: left;
	margin-bottom: 0px;
	font-weight: normal;
	letter-spacing: 0em;
	mc-auto-number-class: Note;
	text-decoration: none;
	text-indent: 0em;
	margin-right: 1em;
	margin-top: 1em;
	mc-auto-number-position: outside-head;
	color: #000000;
	font-style: normal;
	margin-left: 50px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	mc-auto-number-offset: 50px;
	font-family: 'Siemens Sans';
	mc-hyphenate: always;
	mc-auto-number-format: '{family Siemens Serif}{b}{color #006487}Note:';
}

p.Note2body
{
	text-align: left;
	margin-bottom: 0px;
	font-weight: normal;
	letter-spacing: 0em;
	mc-hyphenate: never;
	mc-auto-number-class: Note;
	text-decoration: none;
	text-indent: 0em;
	margin-right: 1em;
	margin-top: 1em;
	mc-auto-number-position: outside-head;
	color: #000000;
	font-style: normal;
	margin-left: 100px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	mc-auto-number-offset: 55px;
	font-family: 'Siemens Sans';
	mc-auto-number-format: '{family Siemens Serif}{b}{color #006487}Note:';
}

p._1bodyKeepWithNext
{
	text-align: left;
	margin-right: 0pc;
	margin-bottom: 6pt;
	font-weight: normal;
	font-style: normal;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	text-decoration: none;
	orphans: 2;
	page-break-after: avoid;
	margin-top: 1em;
	margin-left: 0px;
	font-family: 'Siemens Sans';
}

ul
{
	margin-left: 25px;
}

li
{
	margin-bottom: 6px;
}

ul li ul li
{
	margin-left: 50px;
}

td
{
	text-align: left;
	font-size: 11pt;
	color: #000000;
	font-family: 'Siemens Slab';
}

td p
{
	text-align: left;
	font-size: 11pt;
	color: #000000;
	font-family: 'Siemens Slab';
}

span.User_Entry
{
	font-weight: bold;
	font-style: normal;
	letter-spacing: 0em;
	color: #000000;
	text-decoration: none;
}

span.Hyperlinked_Cell_Text
{
	font-weight: normal;
	font-style: normal;
	letter-spacing: 0em;
	color: #0000ff;
	text-decoration: underline;
	font-size: 0.95em;
	font-family: 'Siemens Sans';
}

span.Emphasis
{
	font-style: italic;
	font-size: inherit;
}

span.NoteColor
{
	color: #006487;
	font-weight: bold;
}

@media print
{
	h1.NoBreak
	{
		page-break-before: avoid;
		margin-top: 30pt;
		margin-bottom: 12pt;
	}

	h2
	{
		color: #006487;
	}

	h3
	{
		color: #006487;
		font-size: 10pt;
	}

	h4
	{
		font-weight: normal;
		font-style: italic;
	}
}

MadCap|xref
{
	mc-format: '{paratext}';
}

MadCap|xref.Page
{
	mc-format: '{page}';
}

