<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<ExcludeSuperClass>
		<!--Example: <CDOSuperClass name="NamedDataObject"></CDOSuperClass>-->
	</ExcludeSuperClass>

	<ExcludeSingleClass>
		<!--Example: <CDOSingleClass name="MfgOrder"></CDOSingleClass>-->
	</ExcludeSingleClass>

	<PurgeTables>
		<!--Example1:-->
		<!--<Table>
			<SetupTable>HistoryMainline</SetupTable>
			<SetupColumn>HistoryId</SetupColumn>
			<ParentTable>Container</ParentTable>
			<ParentColumn>ContainerId</ParentColumn>
		</Table>-->
		<!--Example2:-->
		<!--<Table>
			<SetupTable>CurrentStatus</SetupTable>
			<SetupColumn>CurrentStatusId</SetupColumn>
			<ParentTable>Container</ParentTable>
			<ParentColumn>CurrentStatusId</ParentColumn>
			<ParentColumnIsPrimaryKey>false</ParentColumnIsPrimaryKey>
		</Table>-->
	</PurgeTables>
</configuration>