/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: Plain;
	margin-left: 0pc;
	margin-right: 0pc;
	margin-top: 6pt;
	margin-bottom: 0pt;
	border-spacing-x: 0;
	border-spacing-y: 0;
	border-collapse: collapse;
	border-left-color: #000000;
	border-right-color: #000000;
	border-top-color: #000000;
	border-bottom-color: #000000;
	border-top-style: none;
	border-bottom-style: none;
	border-right-style: none;
	border-left-style: none;
	cell-padding-top: 0pt;
	cell-padding-left: 2pt;
	cell-padding-right: 0pt;
	cell-padding-bottom: 2pt;
	max-id: 4;
}

mcTableColumnStyle
{
	separator-style: none;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	name: Header1;
	id: 3;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: none;
	name: Body1;
	id: 1;
}

mcTableBodyStyle
{
	span: 20;
	separator-style: none;
	name: Body2;
	id: 2;
}

mcTableFootStyle
{
	name: Footer1;
	id: 4;
}


/* Cell Styles: */
 
.TableStyle-Plain
{
	border-collapse: collapse;
	border-left-style: none;
	border-left-color: #000000;
	border-right-style: none;
	border-right-color: #000000;
	border-top-style: none;
	border-top-color: #000000;
	border-bottom-style: none;
	border-bottom-color: #000000;
	margin-left: 0pc;
	margin-right: 0pc;
	margin-top: 6pt;
	margin-bottom: 0pt;
	border-spacing: 0px 0px;
}

.TableStyle-Plain-Column-Column1
{
	
}

.TableStyle-Plain-Head-Header1
{
	
}

.TableStyle-Plain-HeadI-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
}

.TableStyle-Plain-HeadI-Column1-Header1 p
{
	
}

.TableStyle-Plain-HeadE-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
	border-right-style: none;
}

.TableStyle-Plain-HeadE-Column1-Header1 p
{
	
}

.TableStyle-Plain-HeadF-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
}

.TableStyle-Plain-HeadF-Column1-Header1 p
{
	
}

.TableStyle-Plain-HeadH-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
	border-right-style: none;
}

.TableStyle-Plain-HeadH-Column1-Header1 p
{
	
}

.TableStyle-Plain-HeadD-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
}

.TableStyle-Plain-HeadD-Column1-Header1 p
{
	
}

.TableStyle-Plain-HeadC-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
}

.TableStyle-Plain-HeadC-Column1-Header1 p
{
	
}

.TableStyle-Plain-HeadB-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
	border-right-style: none;
}

.TableStyle-Plain-HeadB-Column1-Header1 p
{
	
}

.TableStyle-Plain-HeadA-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
}

.TableStyle-Plain-HeadA-Column1-Header1 p
{
	
}

.TableStyle-Plain-HeadG-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
}

.TableStyle-Plain-HeadG-Column1-Header1 p
{
	
}

.TableStyle-Plain-Foot-Footer1
{
	
}

.TableStyle-Plain-FootI-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
}

.TableStyle-Plain-FootI-Column1-Footer1 p
{
	
}

.TableStyle-Plain-FootE-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
	border-right-style: none;
}

.TableStyle-Plain-FootE-Column1-Footer1 p
{
	
}

.TableStyle-Plain-FootF-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
}

.TableStyle-Plain-FootF-Column1-Footer1 p
{
	
}

.TableStyle-Plain-FootH-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
	border-right-style: none;
}

.TableStyle-Plain-FootH-Column1-Footer1 p
{
	
}

.TableStyle-Plain-FootD-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
}

.TableStyle-Plain-FootD-Column1-Footer1 p
{
	
}

.TableStyle-Plain-FootC-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
}

.TableStyle-Plain-FootC-Column1-Footer1 p
{
	
}

.TableStyle-Plain-FootB-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
	border-right-style: none;
}

.TableStyle-Plain-FootB-Column1-Footer1 p
{
	
}

.TableStyle-Plain-FootA-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
}

.TableStyle-Plain-FootA-Column1-Footer1 p
{
	
}

.TableStyle-Plain-FootG-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
}

.TableStyle-Plain-FootG-Column1-Footer1 p
{
	
}

.TableStyle-Plain-Body-Body1
{
	
}

.TableStyle-Plain-BodyI-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
}

.TableStyle-Plain-BodyI-Column1-Body1 p
{
	
}

.TableStyle-Plain-BodyE-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-Plain-BodyE-Column1-Body1 p
{
	
}

.TableStyle-Plain-BodyF-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
	border-bottom-style: none;
}

.TableStyle-Plain-BodyF-Column1-Body1 p
{
	
}

.TableStyle-Plain-BodyH-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
	border-right-style: none;
}

.TableStyle-Plain-BodyH-Column1-Body1 p
{
	
}

.TableStyle-Plain-BodyD-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
	border-bottom-style: none;
}

.TableStyle-Plain-BodyD-Column1-Body1 p
{
	
}

.TableStyle-Plain-BodyC-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
}

.TableStyle-Plain-BodyC-Column1-Body1 p
{
	
}

.TableStyle-Plain-BodyB-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
	border-right-style: none;
}

.TableStyle-Plain-BodyB-Column1-Body1 p
{
	
}

.TableStyle-Plain-BodyA-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
}

.TableStyle-Plain-BodyA-Column1-Body1 p
{
	
}

.TableStyle-Plain-BodyG-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
}

.TableStyle-Plain-BodyG-Column1-Body1 p
{
	
}

.TableStyle-Plain-Body-Body2
{
	
}

.TableStyle-Plain-BodyI-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
}

.TableStyle-Plain-BodyI-Column1-Body2 p
{
	
}

.TableStyle-Plain-BodyE-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-Plain-BodyE-Column1-Body2 p
{
	
}

.TableStyle-Plain-BodyF-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
	border-bottom-style: none;
}

.TableStyle-Plain-BodyF-Column1-Body2 p
{
	
}

.TableStyle-Plain-BodyH-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
	border-right-style: none;
}

.TableStyle-Plain-BodyH-Column1-Body2 p
{
	
}

.TableStyle-Plain-BodyD-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
	border-bottom-style: none;
}

.TableStyle-Plain-BodyD-Column1-Body2 p
{
	
}

.TableStyle-Plain-BodyC-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
}

.TableStyle-Plain-BodyC-Column1-Body2 p
{
	
}

.TableStyle-Plain-BodyB-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
	border-right-style: none;
}

.TableStyle-Plain-BodyB-Column1-Body2 p
{
	
}

.TableStyle-Plain-BodyA-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
}

.TableStyle-Plain-BodyA-Column1-Body2 p
{
	
}

.TableStyle-Plain-BodyG-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
}

.TableStyle-Plain-BodyG-Column1-Body2 p
{
	
}


