/* Copyright Siemens 2023   */
.navigation-gradient {
  background: url(../svg/cs-grd-01.svg);
  background: linear-gradient(#5ca9c3, #255061);
  background: -ms-linear-gradient(to bottom, #5ca9c3, #255061);
}
.picklist-select-gradient {
  background: url(../svg/cs-grd-02.svg);
  background: linear-gradient(#ffffff 0, #ceeaf4 50%, #c4e2ed 51%, #ffffff 100%);
}
.shadow-gradient {
  background-image: url(../svg/cs-grd-03.svg);
  background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.3));
}
.primary-button-gradient {
  background-color: #2074da;
  background-image: url(../svg/cs-grd-03.svg);
  background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.3));
}
.secondary-button-gradient {
  background-color: #626262;
  background-image: url(../svg/cs-grd-03.svg);
  background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.3));
}
.hover-button-gradient {
  background-color: #215f74;
  background-image: url(../svg/cs-grd-03.svg);
  background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.3));
}
.active-button-gradient {
  background-color: #106d19;
  background-image: url(../svg/cs-grd-03.svg);
  background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.3));
}
.disabled-button-gradient {
  background: url(../svg/cs-grd-07.svg);
  background: linear-gradient(#ffffff, #e6e6e6);
}
.taskname-gradient {
  background: url(../svg/cs-grd-08.svg);
  background: linear-gradient(#fbfbfb, #e8e8e8);
}
.success-message-gradient {
  background: url(../svg/cs-grd-10.svg) !important;
  background: linear-gradient(#e8ffd6, #b2d26f);
}
.error-message-gradient {
  background: url(../svg/cs-grd-11.svg);
  background: linear-gradient(#f9a1a1, #ec4040);
}
.warning-message-gradient {
  background: url(../svg/cs-grd-12.svg);
  background: linear-gradient(#f9eeb1, #fcb435);
}
.menuitem-hover-gradient {
  background: url(../svg/cs-grd-13.svg);
  background: linear-gradient(#d1d1d1, #f5f5f5);
}
.jqgrid-titlebar-gradient {
  background: url(../svg/cs-grd-14.svg);
  background: linear-gradient(#ffffff 0, #cccccc 40%);
}
.tabcontainer-span-gradient {
  background: url(../svg/cs-grd-16.svg);
  background: linear-gradient(#f7f3f7 0, #bdbebd 50%, #e1e1e1 100%);
}
.item-hover-gradient {
  background: url(../svg/cs-grd-17.svg);
  background: linear-gradient(#ffffff 0, #f3f3f3 50%, #ededed 51%, #ffffff 100%);
}
.status-bar-fixed-gradient {
  background: url(../svg/cs-grd-15.svg);
  background: linear-gradient(#f6f2f6, #bfc1bf);
}
.header-gradient {
  background: url(../svg/cs-grd-18.svg);
  background: linear-gradient(#fafafa, #f3f3f3);
}
.hdiv-gradient {
  background: url(../svg/cs-grd-20.svg);
  background: linear-gradient(#8a8a8a 0, #898989 50%, #6f6f6f 51%, #5b5b5b 100%);
}
.a-clicked-gradient {
  background-image: url(../svg/cs-grd-21.svg);
  background-color: #ceeaf4;
  background: #ceeaf4 linear-gradient(#ffffff 0, #ceeaf4 50%, #c4e2ed 51%, #ffffff 100%);
}
.webpart-header-gradient {
  background: url(../less/svg/cs-grd-26.svg);
  background: linear-gradient(#fbfbfb, #eeeeee);
}
.jqgrid-button-hover-gradient {
  background: url(../svg/cs-grd-28.svg);
  background: linear-gradient(#ffffff, #cccccc);
}
.scrollmenu-btn-gradient {
  background: url(../svg/cs-grd-btn.svg);
  background: linear-gradient(#ffffff 0%, #fefefe 50%, #ecf0f3 51%, #ced3d8 100%);
}
.instruction-gradient {
  background: url(../svg/cs-grd-31.svg);
  background: linear-gradient(#fef3b9, #feef6f);
}
.expander-gradient {
  background: url(../svg/cs-grd-38.svg);
  background: linear-gradient(#eab102 60%, #c17b2c 100%);
}
.tabs-gray-gradient {
  background: url(../svg/cs-grd-04.svg);
  background: linear-gradient(#d1d1d1, #969696);
}
.completed-cell-gradient {
  background: url(../svg/cs-grd-39.svg);
  background: linear-gradient(#e5f2cf 0, #B0D473 50%, #BDDD86 51%, #e5f2cf 100%);
}
.inprocess-cell-gradient {
  background: url(../svg/cs-grd-43.svg);
  background: linear-gradient(#f9eee1 0, #fcb435 50%, #f3cd6d 51%, #f9eee1 100%);
}
.error-cell-gradient {
  background: url(../svg/cs-grd-40.svg);
  background: linear-gradient(#ffd1d1 0, #F66161 50%, #FF8181 51%, #ffd1d1 100%);
}
.darkgray-header-gradient {
  background: url(../svg/cs-grd-dark-header.svg);
  background: linear-gradient(#555555, #171717);
}
.FocusOutline {
  outline: solid 1px #808080;
}
.cs-textbox,
.cs-textarea > textarea,
.cs-date > input,
.cs-picklist,
.cs-picklist-rev,
.cs-picklist-rev-disabled {
  border-radius: 0 !important;
  box-shadow: none !important;
}
.cs-picklist input[type="image"] {
  box-shadow: none !important;
  border-radius: 0 !important;
  /*margin: 0;*/
}
.dropdown-container {
  display: inline-block;
  position: relative;
}
.dropdown-container .dropdown-toggle-button {
  display: inline-block;
}
.dropdown-container .dropdown-menu .dropdown-panel-title {
  background-color: #55a0b9;
  color: #FFF;
  padding: 5px;
}
.cs-picklist-panel-container {
  width: calc(100% - 35px);
}
.cs-picklist-panel-container .viewer {
  width: 100%;
}
.nowrap {
  white-space: nowrap;
}
.wrap,
.wrap.nowrap {
  white-space: normal;
}
.cell-m[orientation],
.cell-m[align] {
  display: inline-flex;
}
.cell-m[orientation="vertical"] {
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.cell-m[align="middle"] {
  justify-content: center;
}
.cell-m[align="right"] {
  justify-content: flex-end;
}
.toggle-container {
  margin-top: 10px;
}
.toggle-container .content {
  cursor: default;
  /*.toggle-control-container .container-fluid {
            padding: 0;
        }*/
}
.toggle-container .header > img {
  padding-right: 5px;
}
.navbar {
  border-bottom: 1px solid #AAA;
  padding: 6px 12px;
  display: block;
  background-image: radial-gradient(ellipse farthest-side at 75% top, #55A0B9 -100%, #0077A1 40%, #006B91 75%, #006487 100%);
}
.navbar .navbar-header {
  display: flex;
  align-items: center;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.navbar .navbar-header .navbar-toggle {
  background: url(images/icons/cmdMenu24.svg) no-repeat center center;
  height: 24px;
  width: 24px;
}
.navbar .navbar-header .navbar-toggle[aria-expanded="true"] {
  background-color: #D5E5EB;
}
.navbar .navbar-header .navbar-cep {
  font-weight: bold;
  -ms-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  margin: 0 10px;
}
.navbar .navbar-header .alerts-container .navbar-alerts {
  background: url(images/icons/Alerts.svg) no-repeat center center;
  width: 24px;
  height: 24px;
  background-size: contain;
}
.navbar .navbar-header .alerts-container.show .navbar-alerts {
  background-color: #D5E5EB;
}
.navbar .navbar-header .navbar-logo {
  background: url(images/icons/sie-logo-white-rgb.svg) no-repeat center center;
  width: 95px;
  height: 40px;
  background-size: contain;
}
.navbar-menu {
  max-height: calc(100vh - 53px);
  overflow: hidden;
  position: absolute;
  top: 53px;
  width: 100%;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  background-color: #f0f0f0;
}
.navbar-menu .navbar-collapse.collapse.show {
  display: flex;
  flex: 1 1 auto;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.navbar-menu .navbar-collapse ul.navi.top-menu {
  display: block;
  overflow: auto;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 100%;
}
.navbar-menu .navbar-collapse ul.navi {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.navbar-menu .navbar-collapse ul.navi li {
  position: relative;
  display: block;
  float: none;
}
.navbar-menu .navbar-collapse ul.navi li.opened {
  display: block;
}
.navbar-menu .navbar-collapse ul.navi li.opened > a {
  background-color: #55a0b9;
}
.navbar-menu .navbar-collapse ul.navi li a {
  position: relative;
  display: block;
  padding: 10px 15px;
  color: #000;
  text-decoration: none;
}
.navbar-menu .navbar-collapse ul.navi li.LogOff > a,
.navbar-menu .navbar-collapse ul.navi li.Settings > a {
  padding-left: 35px;
}
.navbar-menu .navbar-collapse ul.navi li.LogOff > a:before,
.navbar-menu .navbar-collapse ul.navi li.Settings > a:before {
  content: '';
  background: url(images/icons/cmdSignout24.svg) no-repeat center center;
  background-size: cover;
  position: absolute;
  height: 24px;
  width: 24px;
  left: 5px;
  top: 5px;
}
.navbar-menu .navbar-collapse ul.navi li.Settings > a:before {
  background: url(images/icons/cmdSettings24.svg) no-repeat center center;
}
.navbar-menu .navbar-collapse ul.navi ul.nav-second-level a {
  padding-left: 30px;
}
.navbar-menu .navbar-collapse ul.navi ul.nav-second-level ul li a {
  padding-left: 40px;
}
.navbar-menu .navbar-collapse ul li:last-child {
  border-bottom: none;
}
.alerts-container {
  position: static;
}
.alerts-container .dropdown-menu {
  left: 5px;
  padding: 0;
  width: calc(100vw - 10px);
  max-height: calc(100vh - 53px);
  border-radius: 0;
  overflow: hidden;
}
.alerts-container .dropdown-menu .wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  overflow: hidden;
}
.alerts-container .dropdown-menu .wrapper .dropdown-panel-title {
  flex: 0 1 auto;
}
.alerts-container .dropdown-menu .wrapper .dropdown-panel-content {
  flex: 1 1 auto;
  overflow-y: auto;
}
.alerts-container .dropdown-menu .wrapper .dropdown-panel-content .alert {
  padding: 0 5px;
  margin-bottom: 5px;
  border: none;
}
.alerts-container .dropdown-menu .wrapper .dropdown-panel-content .alert .time {
  text-align: right;
}
.alerts-container .dropdown-menu .wrapper .dropdown-panel-content .alert .msg {
  padding: 5px;
}
.alerts-container .dropdown-menu .wrapper .dropdown-panel-content .alert .msg .messageType {
  display: block;
  margin-bottom: 3px;
  font-weight: bold;
  font-size: 14px;
}
.alerts-container .dropdown-menu .wrapper .dropdown-panel-content .alert.Error .msg {
  color: #FFF;
  background-color: #FA142D;
}
.alerts-container .dropdown-menu .wrapper .dropdown-panel-content .alert.Warning .msg {
  background-color: #FADC5A;
}
.alerts-container .dropdown-menu .wrapper .dropdown-panel-content .alert.Success .msg {
  background-color: #28E632;
}
.alerts-container.show .dropdown-menu {
  display: flex;
}
button[data-toggle] {
  outline: none;
}
.block {
  display: block;
  width: 100%;
}
.block .cs-textarea > textarea {
  width: 100%;
}
.ui-dialog-session-timeout-warning {
  width: auto;
}
.cs-workflow-navigator {
  display: flex;
}
.cs-workflow-navigator .cs-workflow-rdo {
  flex: 0 0 auto;
}
.cs-workflow-navigator .cs-workflow-rdo .cs-label {
  margin-left: 0;
}
.cs-workflow-navigator .cs-picklist-workflow {
  flex: 1 1;
  margin: 0;
}
.cs-title,
.cs-title-small {
  box-shadow: none;
}
.rd-hidden {
  display: none !important;
}
.ui-jqgrid {
  box-shadow: none;
}
.ui-jqgrid .ui-paging-info {
  display: none;
}
.ui-jqgrid .grid-flyout .header,
.ui-jqgrid .ui-jqgrid-titlebar {
  background: none !important;
}
.ui-jqgrid.ui-corner-all {
  border-radius: 0;
}
.ui-jqgrid .ui-jqgrid-pager {
  background: none;
  height: auto;
}
.ui-jqgrid .ui-jqgrid-pager .ui-pager-control {
  height: auto;
}
.ui-jqgrid .ui-pg-table.navtable {
  width: 100%;
}
/* .accordion-menu
----------------------------------*/
.accordion-menu {
  display: inline-block;
  height: 40px;
  background: red;
}
/* accordion-menu-responsive
----------------------------------*/
.tasklist-container-cell-m {
  z-index: 0;
  table-layout: fixed;
}
.accordion-menu-m {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: auto;
}
.accordion-menu-m span {
  height: 32px;
}
.accordion-menu-m div:before {
  position: absolute;
  top: 0;
  left: 0;
  content: " ";
  border-left: 10px solid transparent;
}
.accordion-menu-m div:after {
  z-index: 20;
  position: absolute;
  top: 0;
  left: 100%;
  display: block;
  border-left: 10px solid transparent;
  height: 0;
  content: " ";
}
.accordion-menu-m div.active {
  background-color: #2387aa;
  color: #fff;
}
.accordion-menu-m div.active:before {
  border-left: 10px solid transparent;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
}
.accordion-menu-m div.active:after {
  border-left: 10px solid #2387aa;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
}
.accordion-menu-m div.tasklist-item:first-child {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-left: 1px solid #aaa;
}
.accordion-menu-m div.tasklist-item:first-child.inactive:before {
  border-left: 0px solid transparent;
}
.accordion-menu-m div.tasklist-item:first-child.active:before {
  border-left: 0px solid transparent;
}
.accordion-menu-m div.tasklist-item:last-child {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-right: 1px solid #aaa;
}
.accordion-menu-m div.tasklist-item:last-child.active:after {
  border-left: 0px solid transparent;
}
.accordion-menu-m div.tasklist-item:last-child.inactive:after {
  border-left: 0px solid transparent;
}
.accordion-menu-m div.tasklist-item.inactive:before {
  border-left-color: #aaa;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  color: transparent;
}
.accordion-menu-m div.tasklist-item.inactive:after {
  border-left: 10px solid #fff;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
}
.accordion-menu-m div.inactive {
  color: #aaa;
  border-left-color: transparent;
}
.accordion-menu-m .tasklist-item {
  flex: 1;
  position: relative;
  align-self: stretch;
  border-width: 1px;
  border-style: solid;
  border-right: 0;
}
.instruction-m {
  color: #000;
  font-size: 12px !important;
  display: block;
  white-space: pre-wrap;
}
.activename-m {
  display: inline-block;
  position: relative;
  font-size: 1em;
  height: 50px;
  width: 185px;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 5px 0 0 40px;
}
.inactivename-m {
  display: inline-block;
  position: relative;
  height: 50px;
  width: 185px;
  font-size: 1em;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 5px 0 0 40px;
}
.cs-fileupload {
  width: 50px;
}
.cs-fileupload > span {
  height: 28px !important;
}
.cs-fileinput-button {
  width: 31px;
}
.cs-fileuploadtext {
  width: calc(100% - 50px) !important;
}
.cs-radio-frame {
  flex-wrap: nowrap !important;
  display: flex !important;
  width: initial !important;
}
.cs-document-path {
  width: 100% !important;
}
.body-comp-issue .satisfied-widget {
  margin: auto;
}
.body-comp-issue .webpart-buttonbar {
  width: initial;
}
/* Scrollable-menu-m Responsive */
.wrapper-m {
  z-index: 1;
}
.scrollable-menu-m {
  height: calc(100vh - 250px);
  overflow: auto;
}
.header-m {
  background-color: #dcdcdc;
  color: #000;
  border-bottom: solid 2px white;
  padding: 3px 3px 3px 3px;
}
.scrollable-menu-container-m {
  background-color: #dcdcdc;
  display: flex;
  border-bottom: solid 2px white;
}
.scrollable-menu-container-m.selected {
  background-color: #A3D0DC;
}
.column1-m {
  border-left: 5px #dcdcdc solid;
  margin: 5px;
}
.passed-m {
  border-left: 5px #0B9B01 solid;
}
.failed-m {
  border-left: 5px red solid;
}
.column2-m {
  justify-content: flex-start;
  margin: auto;
}
.column3-m {
  flex: 1 1 60%;
  justify-content: flex-start;
  margin: auto;
}
.taskitem-m {
  font-weight: bold;
}
.taskitem-m > span {
  color: red;
}
.circleSelected-m {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #55a0b9;
  padding: 8px 0px 0px 14px;
  border-color: blue;
  position: relative;
  font-family: Helvetica;
  font-weight: bold;
  margin-right: 0.5rem;
}
.circleNotSelected-m {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #cccccc;
  padding: 8px 0px 0px 14px;
  position: relative;
  font-family: Helvetica;
  font-weight: bold;
  margin-right: 0.5rem;
}
.document-m {
  margin: auto;
  margin-right: 0.5rem;
  justify-content: center;
}
.document-m .button-m {
  cursor: pointer;
  background-image: url('images/TaskItemDocument.jpg');
  height: 28px;
  width: 24px;
}
.ui-flyout-container-m {
  background: none;
  position: relative;
}
.ui-flyout-container-m .ui-flyout-header {
  font-size: 1.62rem;
  margin: 5px 0 5px 5px;
}
.ui-flyout-container-m .ui-flyout-panel {
  border-top: none;
}
.ui-flyout-container-m .ui-flyout-closebutton {
  display: none;
}
.ui-flyout-panel > iframe {
  height: 250px;
}
.task-menu-flyout-m {
  overflow: unset;
}
.ui-datepicker {
  width: 290px !important;
  background: #f3f3f3;
}
.ui-datepicker .ui_tpicker_minute_label {
  margin-top: 10px;
}
.ui-datepicker .ui-datepicker-header {
  height: 25px;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-title {
  margin: 2px 10px;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-header .ui-datepicker-next {
  top: 0;
}
.ui-datepicker .ui-datepicker-buttonpane {
  width: 25%;
  margin-top: 0;
}
.ui-datepicker .ui-datepicker-buttonpane .cs-button-secondary,
.ui-datepicker .ui-datepicker-buttonpane .cs-button {
  height: 20px;
  margin: 5px;
  min-width: 60px;
  border-radius: 0;
  box-shadow: none;
  text-shadow: none;
  background-image: none;
  border: 1px solid #3A6680;
  background-color: #F0F0F0;
  color: #3A6680;
  padding: 0;
  font-weight: normal;
}
.ui-datepicker .ui-datepicker-buttonpane .cs-button {
  background-color: #3A6680;
  color: #FFF;
}
.ui-datepicker .ui-timepicker-div {
  width: 75%;
  margin-left: 0;
  padding-left: 5px;
}
.cs-checkbox {
  white-space: nowrap;
}
@media (max-width: 465px) {
  .cs-checkbox {
    margin-top: 5px;
  }
}