/*<meta Version="9" />*/

/* MadCap Table Style: */

@media non-print
{
	mcTableStyle
	{
		border-left-style: solid;
		border-left-width: 1px;
		border-left-color: #dcdcdc;
		border-right-style: solid;
		border-right-width: 1px;
		border-right-color: #dcdcdc;
		border-top-style: solid;
		border-top-width: 1px;
		border-top-color: #dcdcdc;
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-bottom-color: #dcdcdc;
	}

	mcTableColumnStyle
	{
		separator-style: solid;
		separator-width: 1px;
		separator-color: #dcdcdc;
	}

	mcTableHeadStyle
	{
		separator-style: solid;
		separator-width: 1px;
		separator-color: #dcdcdc;
		background-color: #dcdcdc;
		cell-content-style-class: CellHead-Left;
	}

	mcTableBodyStyle
	{
		separator-style: solid;
		separator-width: 1px;
		separator-color: #dcdcdc;
	}

	mcTableBodyStyle
	{
		separator-style: solid;
		separator-width: 1px;
		separator-color: #dcdcdc;
	}
}

mcTableStyle
{
	name: Horiz-rules_Table;
	margin-left: 25px;
	margin-right: 1em;
	margin-top: 1em;
	margin-bottom: 1em;
	border-spacing-x: 0;
	border-spacing-y: 0;
	border-collapse: collapse;
	border-left-color: #4f81bd;
	border-right-color: #4f81bd;
	border-top-color: #4f81bd;
	border-bottom-color: #4f81bd;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-left-style: solid;
	border-left-width: 1px;
	cell-padding-top: 0.25em;
	cell-padding-left: 0.25em;
	cell-padding-right: 0.25em;
	cell-padding-bottom: 0.25em;
	max-id: 5;
}

mcTableColumnStyle
{
	separator-style: none;
	separator-width: 1px;
	separator-color: #4f81bd;
	name: Column1;
	id: 0;
	span: 1;
	vertical-align: top;
	type: Automatic;
}

mcTableHeadStyle
{
	span: 1;
	background-color: #006487;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #4f81bd;
	name: Header1;
	id: 3;
	cell-content-style-tag: p;
	cell-content-style-class: CellHead-Left;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #4f81bd;
	name: Body1;
	id: 1;
	page-break-inside: avoid;
	cell-content-style-tag: p;
	cell-content-style-class: CellBody;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #4f81bd;
	name: Body2;
	id: 2;
	cell-content-style-tag: p;
	cell-content-style-class: CellBody;
}

/* Cell Styles: */

@media non-print
{
	.TableStyle-Horiz-rules_Table
	{
		border-left-style: solid;
		border-left-color: #dcdcdc;
		border-left-width: 1px;
		border-right-style: solid;
		border-right-color: #dcdcdc;
		border-right-width: 1px;
		border-top-style: solid;
		border-top-color: #dcdcdc;
		border-top-width: 1px;
		border-bottom-style: solid;
		border-bottom-color: #dcdcdc;
		border-bottom-width: 1px;
		border-spacing: 0px 0px;
	}

	.TableStyle-Horiz-rules_Table-HeadI-Column1-Header1
	{
		background-color: #dcdcdc;
	}

	.TableStyle-Horiz-rules_Table-HeadE-Column1-Header1
	{
		border-right-width: 1px;
		border-right-color: #dcdcdc;
		border-right-style: solid;
		background-color: #dcdcdc;
		border-bottom-width: 1px;
		border-bottom-color: #dcdcdc;
		border-bottom-style: solid;
	}

	.TableStyle-Horiz-rules_Table-HeadF-Column1-Header1
	{
		background-color: #dcdcdc;
		border-bottom-width: 1px;
		border-bottom-color: #dcdcdc;
		border-bottom-style: solid;
	}

	.TableStyle-Horiz-rules_Table-HeadH-Column1-Header1
	{
		border-right-width: 1px;
		border-right-color: #dcdcdc;
		border-right-style: solid;
		background-color: #dcdcdc;
	}

	.TableStyle-Horiz-rules_Table-HeadD-Column1-Header1
	{
		background-color: #dcdcdc;
		border-bottom-width: 1px;
		border-bottom-color: #dcdcdc;
		border-bottom-style: solid;
	}

	.TableStyle-Horiz-rules_Table-HeadC-Column1-Header1
	{
		background-color: #dcdcdc;
	}

	.TableStyle-Horiz-rules_Table-HeadB-Column1-Header1
	{
		border-right-width: 1px;
		border-right-color: #dcdcdc;
		border-right-style: solid;
		background-color: #dcdcdc;
	}

	.TableStyle-Horiz-rules_Table-HeadA-Column1-Header1
	{
		background-color: #dcdcdc;
	}

	.TableStyle-Horiz-rules_Table-HeadG-Column1-Header1
	{
		background-color: #dcdcdc;
	}

	.TableStyle-Horiz-rules_Table-FootE-Column1-
	{
		border-right-width: 1px;
		border-right-color: #dcdcdc;
		border-right-style: solid;
	}

	.TableStyle-Horiz-rules_Table-FootH-Column1-
	{
		border-right-width: 1px;
		border-right-color: #dcdcdc;
		border-right-style: solid;
	}

	.TableStyle-Horiz-rules_Table-FootB-Column1-
	{
		border-right-width: 1px;
		border-right-color: #dcdcdc;
		border-right-style: solid;
	}

	.TableStyle-Horiz-rules_Table-BodyE-Column1-Body1
	{
		border-bottom-width: 1px;
		border-bottom-color: #dcdcdc;
		border-bottom-style: solid;
		border-right-width: 1px;
		border-right-color: #dcdcdc;
		border-right-style: solid;
	}

	.TableStyle-Horiz-rules_Table-BodyF-Column1-Body1
	{
		border-bottom-width: 1px;
		border-bottom-color: #dcdcdc;
		border-bottom-style: solid;
	}

	.TableStyle-Horiz-rules_Table-BodyH-Column1-Body1
	{
		border-right-width: 1px;
		border-right-color: #dcdcdc;
		border-right-style: solid;
	}

	.TableStyle-Horiz-rules_Table-BodyD-Column1-Body1
	{
		border-bottom-width: 1px;
		border-bottom-color: #dcdcdc;
		border-bottom-style: solid;
	}

	.TableStyle-Horiz-rules_Table-BodyB-Column1-Body1
	{
		border-right-width: 1px;
		border-right-color: #dcdcdc;
		border-right-style: solid;
	}

	.TableStyle-Horiz-rules_Table-BodyE-Column1-Body2
	{
		border-bottom-width: 1px;
		border-bottom-color: #dcdcdc;
		border-bottom-style: solid;
		border-right-width: 1px;
		border-right-color: #dcdcdc;
		border-right-style: solid;
	}

	.TableStyle-Horiz-rules_Table-BodyF-Column1-Body2
	{
		border-bottom-width: 1px;
		border-bottom-color: #dcdcdc;
		border-bottom-style: solid;
	}

	.TableStyle-Horiz-rules_Table-BodyH-Column1-Body2
	{
		border-right-width: 1px;
		border-right-color: #dcdcdc;
		border-right-style: solid;
	}

	.TableStyle-Horiz-rules_Table-BodyD-Column1-Body2
	{
		border-bottom-width: 1px;
		border-bottom-color: #dcdcdc;
		border-bottom-style: solid;
	}

	.TableStyle-Horiz-rules_Table-BodyB-Column1-Body2
	{
		border-right-width: 1px;
		border-right-color: #dcdcdc;
		border-right-style: solid;
	}
}

.TableStyle-Horiz-rules_Table
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #4f81bd;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #4f81bd;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #4f81bd;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #4f81bd;
	border-bottom-width: 1px;
	margin-left: 25px;
	margin-right: 1em;
	margin-top: 1em;
	margin-bottom: 1em;
	border-spacing: 0px 0px;
}

.TableStyle-Horiz-rules_Table-Column-Column1
{
	
}

.TableStyle-Horiz-rules_Table-Head-Header1
{
	
}

.TableStyle-Horiz-rules_Table-HeadI-Column1-Header1
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
	background-color: #006487;
}

.TableStyle-Horiz-rules_Table-HeadI-Column1-Header1 p
{
	
}

.TableStyle-Horiz-rules_Table-HeadE-Column1-Header1
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #4f81bd;
	border-right-style: none;
	background-color: #006487;
	border-bottom-width: 1px;
	border-bottom-color: #4f81bd;
	border-bottom-style: solid;
}

.TableStyle-Horiz-rules_Table-HeadE-Column1-Header1 p
{
	
}

.TableStyle-Horiz-rules_Table-HeadF-Column1-Header1
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
	background-color: #006487;
	border-bottom-width: 1px;
	border-bottom-color: #4f81bd;
	border-bottom-style: solid;
}

.TableStyle-Horiz-rules_Table-HeadF-Column1-Header1 p
{
	
}

.TableStyle-Horiz-rules_Table-HeadH-Column1-Header1
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #4f81bd;
	border-right-style: none;
	background-color: #006487;
}

.TableStyle-Horiz-rules_Table-HeadH-Column1-Header1 p
{
	
}

.TableStyle-Horiz-rules_Table-HeadD-Column1-Header1
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
	background-color: #006487;
	border-bottom-width: 1px;
	border-bottom-color: #4f81bd;
	border-bottom-style: solid;
}

.TableStyle-Horiz-rules_Table-HeadD-Column1-Header1 p
{
	
}

.TableStyle-Horiz-rules_Table-HeadC-Column1-Header1
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
	background-color: #006487;
}

.TableStyle-Horiz-rules_Table-HeadC-Column1-Header1 p
{
	
}

.TableStyle-Horiz-rules_Table-HeadB-Column1-Header1
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #4f81bd;
	border-right-style: none;
	background-color: #006487;
}

.TableStyle-Horiz-rules_Table-HeadB-Column1-Header1 p
{
	
}

.TableStyle-Horiz-rules_Table-HeadA-Column1-Header1
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
	background-color: #006487;
}

.TableStyle-Horiz-rules_Table-HeadA-Column1-Header1 p
{
	
}

.TableStyle-Horiz-rules_Table-HeadG-Column1-Header1
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
	background-color: #006487;
}

.TableStyle-Horiz-rules_Table-HeadG-Column1-Header1 p
{
	
}

.TableStyle-Horiz-rules_Table-FootI-Column1-
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
}

.TableStyle-Horiz-rules_Table-FootI-Column1- p
{
	
}

.TableStyle-Horiz-rules_Table-FootE-Column1-
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #4f81bd;
	border-right-style: none;
}

.TableStyle-Horiz-rules_Table-FootE-Column1- p
{
	
}

.TableStyle-Horiz-rules_Table-FootF-Column1-
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
}

.TableStyle-Horiz-rules_Table-FootF-Column1- p
{
	
}

.TableStyle-Horiz-rules_Table-FootH-Column1-
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #4f81bd;
	border-right-style: none;
}

.TableStyle-Horiz-rules_Table-FootH-Column1- p
{
	
}

.TableStyle-Horiz-rules_Table-FootD-Column1-
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
}

.TableStyle-Horiz-rules_Table-FootD-Column1- p
{
	
}

.TableStyle-Horiz-rules_Table-FootC-Column1-
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
}

.TableStyle-Horiz-rules_Table-FootC-Column1- p
{
	
}

.TableStyle-Horiz-rules_Table-FootB-Column1-
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #4f81bd;
	border-right-style: none;
}

.TableStyle-Horiz-rules_Table-FootB-Column1- p
{
	
}

.TableStyle-Horiz-rules_Table-FootA-Column1-
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
}

.TableStyle-Horiz-rules_Table-FootA-Column1- p
{
	
}

.TableStyle-Horiz-rules_Table-FootG-Column1-
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
}

.TableStyle-Horiz-rules_Table-FootG-Column1- p
{
	
}

.TableStyle-Horiz-rules_Table-Body-Body1
{
	page-break-inside: avoid;
}

.TableStyle-Horiz-rules_Table-BodyI-Column1-Body1
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
}

.TableStyle-Horiz-rules_Table-BodyI-Column1-Body1 p
{
	
}

.TableStyle-Horiz-rules_Table-BodyE-Column1-Body1
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	border-bottom-width: 1px;
	border-bottom-color: #4f81bd;
	border-bottom-style: solid;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #4f81bd;
	border-right-style: none;
}

.TableStyle-Horiz-rules_Table-BodyE-Column1-Body1 p
{
	
}

.TableStyle-Horiz-rules_Table-BodyF-Column1-Body1
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	border-bottom-width: 1px;
	border-bottom-color: #4f81bd;
	border-bottom-style: solid;
	vertical-align: top;
}

.TableStyle-Horiz-rules_Table-BodyF-Column1-Body1 p
{
	
}

.TableStyle-Horiz-rules_Table-BodyH-Column1-Body1
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #4f81bd;
	border-right-style: none;
}

.TableStyle-Horiz-rules_Table-BodyH-Column1-Body1 p
{
	
}

.TableStyle-Horiz-rules_Table-BodyD-Column1-Body1
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	border-bottom-width: 1px;
	border-bottom-color: #4f81bd;
	border-bottom-style: solid;
	vertical-align: top;
}

.TableStyle-Horiz-rules_Table-BodyD-Column1-Body1 p
{
	
}

.TableStyle-Horiz-rules_Table-BodyC-Column1-Body1
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
}

.TableStyle-Horiz-rules_Table-BodyC-Column1-Body1 p
{
	
}

.TableStyle-Horiz-rules_Table-BodyB-Column1-Body1
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #4f81bd;
	border-right-style: none;
}

.TableStyle-Horiz-rules_Table-BodyB-Column1-Body1 p
{
	
}

.TableStyle-Horiz-rules_Table-BodyA-Column1-Body1
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
}

.TableStyle-Horiz-rules_Table-BodyA-Column1-Body1 p
{
	
}

.TableStyle-Horiz-rules_Table-BodyG-Column1-Body1
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
}

.TableStyle-Horiz-rules_Table-BodyG-Column1-Body1 p
{
	
}

.TableStyle-Horiz-rules_Table-Body-Body2
{
	
}

.TableStyle-Horiz-rules_Table-BodyI-Column1-Body2
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
}

.TableStyle-Horiz-rules_Table-BodyI-Column1-Body2 p
{
	
}

.TableStyle-Horiz-rules_Table-BodyE-Column1-Body2
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	border-bottom-width: 1px;
	border-bottom-color: #4f81bd;
	border-bottom-style: solid;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #4f81bd;
	border-right-style: none;
}

.TableStyle-Horiz-rules_Table-BodyE-Column1-Body2 p
{
	
}

.TableStyle-Horiz-rules_Table-BodyF-Column1-Body2
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	border-bottom-width: 1px;
	border-bottom-color: #4f81bd;
	border-bottom-style: solid;
	vertical-align: top;
}

.TableStyle-Horiz-rules_Table-BodyF-Column1-Body2 p
{
	
}

.TableStyle-Horiz-rules_Table-BodyH-Column1-Body2
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #4f81bd;
	border-right-style: none;
}

.TableStyle-Horiz-rules_Table-BodyH-Column1-Body2 p
{
	
}

.TableStyle-Horiz-rules_Table-BodyD-Column1-Body2
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	border-bottom-width: 1px;
	border-bottom-color: #4f81bd;
	border-bottom-style: solid;
	vertical-align: top;
}

.TableStyle-Horiz-rules_Table-BodyD-Column1-Body2 p
{
	
}

.TableStyle-Horiz-rules_Table-BodyC-Column1-Body2
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
}

.TableStyle-Horiz-rules_Table-BodyC-Column1-Body2 p
{
	
}

.TableStyle-Horiz-rules_Table-BodyB-Column1-Body2
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #4f81bd;
	border-right-style: none;
}

.TableStyle-Horiz-rules_Table-BodyB-Column1-Body2 p
{
	
}

.TableStyle-Horiz-rules_Table-BodyA-Column1-Body2
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
}

.TableStyle-Horiz-rules_Table-BodyA-Column1-Body2 p
{
	
}

.TableStyle-Horiz-rules_Table-BodyG-Column1-Body2
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
}

.TableStyle-Horiz-rules_Table-BodyG-Column1-Body2 p
{
	
}

mcTableStyle
{
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #dcdcdc;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #dcdcdc;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #dcdcdc;
}

mcTableColumnStyle
{
	separator-style: solid;
	separator-width: 1px;
	separator-color: #dcdcdc;
}

mcTableHeadStyle
{
	separator-style: solid;
	separator-width: 1px;
	separator-color: #dcdcdc;
	background-color: #dcdcdc;
	cell-content-style-class: CellHead-Left;
}

mcTableBodyStyle
{
	separator-style: solid;
	separator-width: 1px;
	separator-color: #dcdcdc;
}

mcTableBodyStyle
{
	separator-style: solid;
	separator-width: 1px;
	separator-color: #dcdcdc;
}

.TableStyle-Horiz-rules_Table
{
	border-left-style: solid;
	border-left-color: #dcdcdc;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #dcdcdc;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #dcdcdc;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #dcdcdc;
	border-bottom-width: 1px;
	border-spacing: 0px 0px;
}

.TableStyle-Horiz-rules_Table-HeadI-Column1-Header1
{
	background-color: #dcdcdc;
}

.TableStyle-Horiz-rules_Table-HeadE-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
	background-color: #dcdcdc;
	border-bottom-width: 1px;
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
}

.TableStyle-Horiz-rules_Table-HeadF-Column1-Header1
{
	background-color: #dcdcdc;
	border-bottom-width: 1px;
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
}

.TableStyle-Horiz-rules_Table-HeadH-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
	background-color: #dcdcdc;
}

.TableStyle-Horiz-rules_Table-HeadD-Column1-Header1
{
	background-color: #dcdcdc;
	border-bottom-width: 1px;
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
}

.TableStyle-Horiz-rules_Table-HeadC-Column1-Header1
{
	background-color: #dcdcdc;
}

.TableStyle-Horiz-rules_Table-HeadB-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
	background-color: #dcdcdc;
}

.TableStyle-Horiz-rules_Table-HeadA-Column1-Header1
{
	background-color: #dcdcdc;
}

.TableStyle-Horiz-rules_Table-HeadG-Column1-Header1
{
	background-color: #dcdcdc;
}

.TableStyle-Horiz-rules_Table-FootE-Column1-
{
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-Horiz-rules_Table-FootH-Column1-
{
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-Horiz-rules_Table-FootB-Column1-
{
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-Horiz-rules_Table-BodyE-Column1-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-Horiz-rules_Table-BodyF-Column1-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
}

.TableStyle-Horiz-rules_Table-BodyH-Column1-Body1
{
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-Horiz-rules_Table-BodyD-Column1-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
}

.TableStyle-Horiz-rules_Table-BodyB-Column1-Body1
{
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-Horiz-rules_Table-BodyE-Column1-Body2
{
	border-bottom-width: 1px;
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-Horiz-rules_Table-BodyF-Column1-Body2
{
	border-bottom-width: 1px;
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
}

.TableStyle-Horiz-rules_Table-BodyH-Column1-Body2
{
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

.TableStyle-Horiz-rules_Table-BodyD-Column1-Body2
{
	border-bottom-width: 1px;
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
}

.TableStyle-Horiz-rules_Table-BodyB-Column1-Body2
{
	border-right-width: 1px;
	border-right-color: #dcdcdc;
	border-right-style: solid;
}

