/* MadCap Table Style: */

/*<meta Version="7" />*/

mcTableStyle
{
	name: PlainRuled;
	margin-left: 2em;
	margin-right: 1em;
	margin-top: 1em;
	margin-bottom: 1em;
	border-spacing-x: 0;
	border-spacing-y: 0;
	border-collapse: collapse;
	border-left-color: #144999;
	border-right-color: #144999;
	border-top-color: #144999;
	border-bottom-color: #144999;
	border-top-style: solid;
	border-bottom-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	cell-padding-top: 0.25em;
	cell-padding-left: 0.25em;
	cell-padding-right: 0.25em;
	cell-padding-bottom: 0.25em;
	max-id: 4;
	border-left-width: 1px;
	border-right-width: 1px;
	border-top-width: 1px;
	border-bottom-width: 1px;
}

mcTableColumnStyle
{
	separator-style: solid;
	name: Column1;
	id: 0;
	span: 1;
	separator-width: 1px;
	separator-color: #144999;
	vertical-align: top;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: none;
	name: Header1;
	id: 3;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	name: Body1;
	id: 1;
	separator-width: 1px;
	separator-color: #144999;
	type: Manual;
	page-break-inside: avoid;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	name: Body2;
	id: 2;
	separator-width: 1px;
	separator-color: #144999;
}


/* Cell Styles: */
 
.TableStyle-PlainRuled
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #144999;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #144999;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #144999;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #144999;
	border-bottom-width: 1px;
	margin-left: 2em;
	margin-right: 1em;
	margin-top: 1em;
	margin-bottom: 1em;
	border-spacing: 0px 0px;
}

.TableStyle-PlainRuled .Column-Column1
{
	
}

.TableStyle-PlainRuled .Head-Header1
{
	
}

.TableStyle-PlainRuled .HeadI-Column1-Header1
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
}

.TableStyle-PlainRuled .HeadI-Column1-Header1 p
{
	
}

.TableStyle-PlainRuled .HeadE-Column1-Header1
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #144999;
	border-right-style: solid;
	border-bottom-style: none;
}

.TableStyle-PlainRuled .HeadE-Column1-Header1 p
{
	
}

.TableStyle-PlainRuled .HeadF-Column1-Header1
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
	border-bottom-style: none;
}

.TableStyle-PlainRuled .HeadF-Column1-Header1 p
{
	
}

.TableStyle-PlainRuled .HeadH-Column1-Header1
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #144999;
	border-right-style: solid;
}

.TableStyle-PlainRuled .HeadH-Column1-Header1 p
{
	
}

.TableStyle-PlainRuled .HeadD-Column1-Header1
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
	border-bottom-style: none;
}

.TableStyle-PlainRuled .HeadD-Column1-Header1 p
{
	
}

.TableStyle-PlainRuled .HeadC-Column1-Header1
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
}

.TableStyle-PlainRuled .HeadC-Column1-Header1 p
{
	
}

.TableStyle-PlainRuled .HeadB-Column1-Header1
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #144999;
	border-right-style: solid;
}

.TableStyle-PlainRuled .HeadB-Column1-Header1 p
{
	
}

.TableStyle-PlainRuled .HeadA-Column1-Header1
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
}

.TableStyle-PlainRuled .HeadA-Column1-Header1 p
{
	
}

.TableStyle-PlainRuled .HeadG-Column1-Header1
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
}

.TableStyle-PlainRuled .HeadG-Column1-Header1 p
{
	
}

.TableStyle-PlainRuled .FootI-Column1-
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
}

.TableStyle-PlainRuled .FootI-Column1- p
{
	
}

.TableStyle-PlainRuled .FootE-Column1-
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #144999;
	border-right-style: solid;
}

.TableStyle-PlainRuled .FootE-Column1- p
{
	
}

.TableStyle-PlainRuled .FootF-Column1-
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
}

.TableStyle-PlainRuled .FootF-Column1- p
{
	
}

.TableStyle-PlainRuled .FootH-Column1-
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #144999;
	border-right-style: solid;
}

.TableStyle-PlainRuled .FootH-Column1- p
{
	
}

.TableStyle-PlainRuled .FootD-Column1-
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
}

.TableStyle-PlainRuled .FootD-Column1- p
{
	
}

.TableStyle-PlainRuled .FootC-Column1-
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
}

.TableStyle-PlainRuled .FootC-Column1- p
{
	
}

.TableStyle-PlainRuled .FootB-Column1-
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #144999;
	border-right-style: solid;
}

.TableStyle-PlainRuled .FootB-Column1- p
{
	
}

.TableStyle-PlainRuled .FootA-Column1-
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
}

.TableStyle-PlainRuled .FootA-Column1- p
{
	
}

.TableStyle-PlainRuled .FootG-Column1-
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
}

.TableStyle-PlainRuled .FootG-Column1- p
{
	
}

.TableStyle-PlainRuled .Body-Body1
{
	page-break-inside: avoid;
}

.TableStyle-PlainRuled .BodyI-Column1-Body1
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
}

.TableStyle-PlainRuled .BodyI-Column1-Body1 p
{
	
}

.TableStyle-PlainRuled .BodyE-Column1-Body1
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	border-bottom-width: 1px;
	border-bottom-color: #144999;
	border-bottom-style: solid;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #144999;
	border-right-style: solid;
}

.TableStyle-PlainRuled .BodyE-Column1-Body1 p
{
	
}

.TableStyle-PlainRuled .BodyF-Column1-Body1
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	border-bottom-width: 1px;
	border-bottom-color: #144999;
	border-bottom-style: solid;
	vertical-align: top;
}

.TableStyle-PlainRuled .BodyF-Column1-Body1 p
{
	
}

.TableStyle-PlainRuled .BodyH-Column1-Body1
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #144999;
	border-right-style: solid;
}

.TableStyle-PlainRuled .BodyH-Column1-Body1 p
{
	
}

.TableStyle-PlainRuled .BodyD-Column1-Body1
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	border-bottom-width: 1px;
	border-bottom-color: #144999;
	border-bottom-style: solid;
	vertical-align: top;
}

.TableStyle-PlainRuled .BodyD-Column1-Body1 p
{
	
}

.TableStyle-PlainRuled .BodyC-Column1-Body1
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
}

.TableStyle-PlainRuled .BodyC-Column1-Body1 p
{
	
}

.TableStyle-PlainRuled .BodyB-Column1-Body1
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #144999;
	border-right-style: solid;
}

.TableStyle-PlainRuled .BodyB-Column1-Body1 p
{
	
}

.TableStyle-PlainRuled .BodyA-Column1-Body1
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
}

.TableStyle-PlainRuled .BodyA-Column1-Body1 p
{
	
}

.TableStyle-PlainRuled .BodyG-Column1-Body1
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
}

.TableStyle-PlainRuled .BodyG-Column1-Body1 p
{
	
}

.TableStyle-PlainRuled .Body-Body2
{
	
}

.TableStyle-PlainRuled .BodyI-Column1-Body2
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
}

.TableStyle-PlainRuled .BodyI-Column1-Body2 p
{
	
}

.TableStyle-PlainRuled .BodyE-Column1-Body2
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	border-bottom-width: 1px;
	border-bottom-color: #144999;
	border-bottom-style: solid;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #144999;
	border-right-style: solid;
}

.TableStyle-PlainRuled .BodyE-Column1-Body2 p
{
	
}

.TableStyle-PlainRuled .BodyF-Column1-Body2
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	border-bottom-width: 1px;
	border-bottom-color: #144999;
	border-bottom-style: solid;
	vertical-align: top;
}

.TableStyle-PlainRuled .BodyF-Column1-Body2 p
{
	
}

.TableStyle-PlainRuled .BodyH-Column1-Body2
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #144999;
	border-right-style: solid;
}

.TableStyle-PlainRuled .BodyH-Column1-Body2 p
{
	
}

.TableStyle-PlainRuled .BodyD-Column1-Body2
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	border-bottom-width: 1px;
	border-bottom-color: #144999;
	border-bottom-style: solid;
	vertical-align: top;
}

.TableStyle-PlainRuled .BodyD-Column1-Body2 p
{
	
}

.TableStyle-PlainRuled .BodyC-Column1-Body2
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
}

.TableStyle-PlainRuled .BodyC-Column1-Body2 p
{
	
}

.TableStyle-PlainRuled .BodyB-Column1-Body2
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #144999;
	border-right-style: solid;
}

.TableStyle-PlainRuled .BodyB-Column1-Body2 p
{
	
}

.TableStyle-PlainRuled .BodyA-Column1-Body2
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
}

.TableStyle-PlainRuled .BodyA-Column1-Body2 p
{
	
}

.TableStyle-PlainRuled .BodyG-Column1-Body2
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
}

.TableStyle-PlainRuled .BodyG-Column1-Body2 p
{
	
}


