/* MadCap Table Style: */

/*<meta Version="7" />*/

mcTableStyle
{
	name: Plain;
	margin-left: 2em;
	margin-right: 1em;
	margin-top: 1em;
	margin-bottom: 1em;
	border-spacing-x: 0;
	border-spacing-y: 0;
	border-collapse: collapse;
	border-left-color: #000000;
	border-right-color: #000000;
	border-top-color: #000000;
	border-bottom-color: #000000;
	border-top-style: none;
	border-bottom-style: none;
	border-right-style: none;
	border-left-style: none;
	cell-padding-top: 0.25em;
	cell-padding-left: 0.25em;
	cell-padding-right: 0.25em;
	cell-padding-bottom: 0.25em;
	max-id: 4;
}

mcTableColumnStyle
{
	separator-style: none;
	name: Column1;
	id: 0;
	span: 1;
	vertical-align: top;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: none;
	name: Header1;
	id: 3;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: none;
	name: Body1;
	id: 1;
	page-break-inside: avoid;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: none;
	name: Body2;
	id: 2;
}


/* Cell Styles: */
 
.TableStyle-Plain
{
	border-collapse: collapse;
	border-left-style: none;
	border-left-color: #000000;
	border-right-style: none;
	border-right-color: #000000;
	border-top-style: none;
	border-top-color: #000000;
	border-bottom-style: none;
	border-bottom-color: #000000;
	margin-left: 2em;
	margin-right: 1em;
	margin-top: 1em;
	margin-bottom: 1em;
	border-spacing: 0px 0px;
}

.TableStyle-Plain .Column-Column1
{
	
}

.TableStyle-Plain .Head-Header1
{
	
}

.TableStyle-Plain .HeadI-Column1-Header1
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
}

.TableStyle-Plain .HeadI-Column1-Header1 p
{
	
}

.TableStyle-Plain .HeadE-Column1-Header1
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
	border-right-style: none;
	border-bottom-style: none;
}

.TableStyle-Plain .HeadE-Column1-Header1 p
{
	
}

.TableStyle-Plain .HeadF-Column1-Header1
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
	border-bottom-style: none;
}

.TableStyle-Plain .HeadF-Column1-Header1 p
{
	
}

.TableStyle-Plain .HeadH-Column1-Header1
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
	border-right-style: none;
}

.TableStyle-Plain .HeadH-Column1-Header1 p
{
	
}

.TableStyle-Plain .HeadD-Column1-Header1
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
	border-bottom-style: none;
}

.TableStyle-Plain .HeadD-Column1-Header1 p
{
	
}

.TableStyle-Plain .HeadC-Column1-Header1
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
}

.TableStyle-Plain .HeadC-Column1-Header1 p
{
	
}

.TableStyle-Plain .HeadB-Column1-Header1
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
	border-right-style: none;
}

.TableStyle-Plain .HeadB-Column1-Header1 p
{
	
}

.TableStyle-Plain .HeadA-Column1-Header1
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
}

.TableStyle-Plain .HeadA-Column1-Header1 p
{
	
}

.TableStyle-Plain .HeadG-Column1-Header1
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
}

.TableStyle-Plain .HeadG-Column1-Header1 p
{
	
}

.TableStyle-Plain .FootI-Column1-
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
}

.TableStyle-Plain .FootI-Column1- p
{
	
}

.TableStyle-Plain .FootE-Column1-
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
	border-right-style: none;
}

.TableStyle-Plain .FootE-Column1- p
{
	
}

.TableStyle-Plain .FootF-Column1-
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
}

.TableStyle-Plain .FootF-Column1- p
{
	
}

.TableStyle-Plain .FootH-Column1-
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
	border-right-style: none;
}

.TableStyle-Plain .FootH-Column1- p
{
	
}

.TableStyle-Plain .FootD-Column1-
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
}

.TableStyle-Plain .FootD-Column1- p
{
	
}

.TableStyle-Plain .FootC-Column1-
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
}

.TableStyle-Plain .FootC-Column1- p
{
	
}

.TableStyle-Plain .FootB-Column1-
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
	border-right-style: none;
}

.TableStyle-Plain .FootB-Column1- p
{
	
}

.TableStyle-Plain .FootA-Column1-
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
}

.TableStyle-Plain .FootA-Column1- p
{
	
}

.TableStyle-Plain .FootG-Column1-
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
}

.TableStyle-Plain .FootG-Column1- p
{
	
}

.TableStyle-Plain .Body-Body1
{
	page-break-inside: avoid;
}

.TableStyle-Plain .BodyI-Column1-Body1
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
}

.TableStyle-Plain .BodyI-Column1-Body1 p
{
	
}

.TableStyle-Plain .BodyE-Column1-Body1
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	border-bottom-style: none;
	vertical-align: top;
	border-right-style: none;
}

.TableStyle-Plain .BodyE-Column1-Body1 p
{
	
}

.TableStyle-Plain .BodyF-Column1-Body1
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	border-bottom-style: none;
	vertical-align: top;
}

.TableStyle-Plain .BodyF-Column1-Body1 p
{
	
}

.TableStyle-Plain .BodyH-Column1-Body1
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
	border-right-style: none;
}

.TableStyle-Plain .BodyH-Column1-Body1 p
{
	
}

.TableStyle-Plain .BodyD-Column1-Body1
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	border-bottom-style: none;
	vertical-align: top;
}

.TableStyle-Plain .BodyD-Column1-Body1 p
{
	
}

.TableStyle-Plain .BodyC-Column1-Body1
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
}

.TableStyle-Plain .BodyC-Column1-Body1 p
{
	
}

.TableStyle-Plain .BodyB-Column1-Body1
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
	border-right-style: none;
}

.TableStyle-Plain .BodyB-Column1-Body1 p
{
	
}

.TableStyle-Plain .BodyA-Column1-Body1
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
}

.TableStyle-Plain .BodyA-Column1-Body1 p
{
	
}

.TableStyle-Plain .BodyG-Column1-Body1
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
}

.TableStyle-Plain .BodyG-Column1-Body1 p
{
	
}

.TableStyle-Plain .Body-Body2
{
	
}

.TableStyle-Plain .BodyI-Column1-Body2
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
}

.TableStyle-Plain .BodyI-Column1-Body2 p
{
	
}

.TableStyle-Plain .BodyE-Column1-Body2
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	border-bottom-style: none;
	vertical-align: top;
	border-right-style: none;
}

.TableStyle-Plain .BodyE-Column1-Body2 p
{
	
}

.TableStyle-Plain .BodyF-Column1-Body2
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	border-bottom-style: none;
	vertical-align: top;
}

.TableStyle-Plain .BodyF-Column1-Body2 p
{
	
}

.TableStyle-Plain .BodyH-Column1-Body2
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
	border-right-style: none;
}

.TableStyle-Plain .BodyH-Column1-Body2 p
{
	
}

.TableStyle-Plain .BodyD-Column1-Body2
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	border-bottom-style: none;
	vertical-align: top;
}

.TableStyle-Plain .BodyD-Column1-Body2 p
{
	
}

.TableStyle-Plain .BodyC-Column1-Body2
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
}

.TableStyle-Plain .BodyC-Column1-Body2 p
{
	
}

.TableStyle-Plain .BodyB-Column1-Body2
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
	border-right-style: none;
}

.TableStyle-Plain .BodyB-Column1-Body2 p
{
	
}

.TableStyle-Plain .BodyA-Column1-Body2
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
}

.TableStyle-Plain .BodyA-Column1-Body2 p
{
	
}

.TableStyle-Plain .BodyG-Column1-Body2
{
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	vertical-align: top;
}

.TableStyle-Plain .BodyG-Column1-Body2 p
{
	
}


