USE [Camstar v1.0 AS Ultimate v12.2]
GO
/****** Object:  StoredProcedure [Camstar].[CreateFirmOrderData]    Script Date: 6/22/2017 5:22:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [Camstar].[CreateFirmOrderData](@SerializedMsg AS XML = NULL)
	AS
BEGIN TRY
	SET NOCOUNT ON;
	Print CONVERT(nvarchar (MAX),@SerializedMsg)

	BEGIN TRANSACTION T1

	DECLARE @index INT;
	DECLARE @Multiply as bit = 1;
	DECLARE @IgnoreShortages as bit = 1;
	DECLARE @MultipleQuantity as float = -1;
	DECLARE @RequiredResource as nvarchar(99) = null;

	EXEC sp_xml_preparedocument @index OUTPUT, @SerializedMsg, '<root xmlns:n="Camstar.Interoperability" xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>'

	------------------------------------------------------------------------------------------
	------------------------------------------------------------------------------------------
	--Deletes/Inserts into the [Camstar].[FirmOrdersBoMData] Table extracting the parameters to columns
	------------------------------------------------------------------------------------------
	------------------------------------------------------------------------------------------

	MERGE [Camstar].[FirmOrdersBoMData] AS [Target]
	USING (SELECT XMLMfgOrderData.MfgOrderName as OrderNo
		,XMLMfgOrderData.PartNo + '_' +  XMLMfgOrderData.PartNoRev as OrderPartNo
		,XMLMfgOrderData.OperationNo as OperationNo
		,XMLMfgOrderData.RequiredPartNo + '_' + XMLMfgOrderData.RequiredPartRev as RequiredPartNo		
		,XMLMfgOrderData.RequiredQty as RequiredQuantity
		,@Multiply as Multiply 
		,@IgnoreShortages as IgnoreShortages
		,@MultipleQuantity as MultipleQuantity
		,OrderState
	FROM OPENXML (@index, N'/PreactorFirmOrder/MfgOrderMaterialList/MfgOrderMaterialListItem',2)
	WITH (MfgOrderName nvarchar(99) '../../OrderNo'
			,PartNo nvarchar(99)	'../../PartNo'
			,PartNoRev nvarchar (15)  '../../PartNoRevision'
			,OperationNo float 'RouteStepSequence'
			,RequiredPartNo nvarchar(99) 'ProductName'
			,RequiredPartRev nvarchar(15) 'ProductRev'
			,RequiredQty float 'QtyRequired'
			,OrderState float '../../OrderState') XMLMfgOrderData)
    AS [Source] ( MfgOrderName, PartNo, OperationNo, RequiredPartNo, RequiredQty, Multiply, IgnoreShortages, MultipleQuantity, OrderState)
    ON [Target].[OrderNo] = [Source].[MfgOrderName]

	--Deletes records if OrderNo's match
	WHEN MATCHED AND OrderState like '2' THEN 
    Delete;

	MERGE [Camstar].[FirmOrdersBoMData] AS [Target]
	USING (SELECT XMLMfgOrderData.MfgOrderName as OrderNo
		,XMLMfgOrderData.PartNo + '_' +  XMLMfgOrderData.PartNoRev as OrderPartNo
		,XMLMfgOrderData.OperationNo as OperationNo
		,XMLMfgOrderData.RequiredPartNo + '_' + XMLMfgOrderData.RequiredPartRev as RequiredPartNo		
		,XMLMfgOrderData.RequiredQty as RequiredQuantity
		,@Multiply as Multiply 
		,@IgnoreShortages as IgnoreShortages
		,@MultipleQuantity as MultipleQuantity
		,OrderState
	FROM OPENXML (@index, N'/PreactorFirmOrder/MfgOrderMaterialList/MfgOrderMaterialListItem',2)
	WITH (MfgOrderName nvarchar(99) '../../OrderNo'
			,PartNo nvarchar(99)	'../../PartNo'
			,PartNoRev nvarchar (15)  '../../PartNoRevision'
			,OperationNo float 'RouteStepSequence'
			,RequiredPartNo nvarchar(99) 'ProductName'
			,RequiredPartRev nvarchar(15) 'ProductRev'
			,RequiredQty float 'QtyRequired'
			,OrderState float '../../OrderState') XMLMfgOrderData)
    AS [Source] ( MfgOrderName, PartNo, OperationNo, RequiredPartNo, RequiredQty, Multiply, IgnoreShortages, MultipleQuantity, OrderState)
    ON [Target].[OrderNo] = [Source].[MfgOrderName]

	--Deletes records if OrderNo's match
	WHEN MATCHED AND OrderState like '1' THEN 
    Delete;

	MERGE [Camstar].[FirmOrdersBoMData] AS [Target]
	USING (SELECT XMLMfgOrderData.MfgOrderName as OrderNo
		,XMLMfgOrderData.PartNo + '_' +  XMLMfgOrderData.PartNoRev as OrderPartNo
		,XMLMfgOrderData.OperationNo as OperationNo
		,XMLMfgOrderData.RequiredPartNo + '_' + XMLMfgOrderData.RequiredPartRev as RequiredPartNo		
		,XMLMfgOrderData.RequiredQty as RequiredQuantity
		,@Multiply as Multiply 
		,@IgnoreShortages as IgnoreShortages
		,@MultipleQuantity as MultipleQuantity
		,OrderState
	FROM OPENXML (@index, N'/PreactorFirmOrder/MfgOrderMaterialList/MfgOrderMaterialListItem',2)
	WITH (MfgOrderName nvarchar(99) '../../OrderNo'
			,PartNo nvarchar(99)	'../../PartNo'
			,PartNoRev nvarchar (15)  '../../PartNoRevision'
			,OperationNo float 'RouteStepSequence'
			,RequiredPartNo nvarchar(99) 'ProductName'
			,RequiredPartRev nvarchar(15) 'ProductRev'
			,RequiredQty float 'QtyRequired'
			,OrderState float '../../OrderState') XMLMfgOrderData)
    AS [Source] ( MfgOrderName, PartNo, OperationNo, RequiredPartNo, RequiredQty, Multiply, IgnoreShortages, MultipleQuantity, OrderState )
    ON [Target].[OrderNo] = [Source].[MfgOrderName]

	--Inserts records if OrderNo's don't match or don't exist
	WHEN NOT MATCHED AND OrderState like '1' THEN
    INSERT ( OrderNo, OrderPartNo, OperationNo, RequiredPartNo, RequiredQuantity, Multiply, IgnoreShortages, MultipleQuantity)
    VALUES ( [Source].[MfgOrderName], [Source].[PartNo], [Source].[OperationNo], [Source].[RequiredPartNo], [Source].[RequiredQty]
			, [Source].[Multiply], [Source].[IgnoreShortages], [Source].[MultipleQuantity]);

	------------------------------------------------------------------------------------------
	------------------------------------------------------------------------------------------
	--Insert into the [Camstar].[FirmOrdersData] Table extracting the parameters to columns
	------------------------------------------------------------------------------------------
	------------------------------------------------------------------------------------------

	MERGE [Camstar].[FirmOrdersData] AS [Target]
	USING (SELECT XMLMfgOrderData.MfgOrderName as OrderNo
		,XMLMfgOrderData.PartNo + '_' +  XMLMfgOrderData.PartNoRev as PartNo
		,XMLMfgOrderData.Description as Description
		,XMLMfgOrderData.Qty as Quantity
		,XMLMfgOrderData.ReleaseDate as ReleaseDate
		,XMLMfgOrderData.DueDate as DueDate
		,XMLMfgOrderData.OrderPriority as Priority
		,XMLMfgOrderData.OperationNo as OperationNo
		,XMLMfgOrderData.OperationName as OperationName		
		,XMLMfgOrderData.ResourceGroup as ResourceGroup
		,@RequiredResource as RequiredResource
		,XMLMfgOrderData.SetupTime as SetupTime	
		,CASE WHEN XMLMfgOrderData.RunRateOption = 1 then 'Time Per Item' WHEN XMLMfgOrderData.RunRateOption = 2 then 'Rate Per Hour' else 'Time Per Batch' End ProcessTimeType
		,CASE WHEN XMLMfgOrderData.RunRateOption = 1 then DurationPerUnit WHEN XMLMfgOrderData.RunRateOption = 2 then UnitsPerHour else TimePerBatch End ProcessTime
		,CASE WHEN XMLMfgOrderData.RunRateOption = 1 then 0 WHEN XMLMfgOrderData.RunRateOption = 2 then 2 WHEN XMLMfgOrderData.RunRateOption = 3 THEN 1 else null End ProcessTimeTypeKey
		,OrderState
		,XMLMfgOrderData.ToolPlan as ToolPlan
		,XMLMfgOrderData.MaskLayer as MaskLayer
	FROM OPENXML (@index, N'/PreactorFirmOrder/RouteSteps/ERPRoute/RouteSteps/__listItem/isResourceGroup',2)
	WITH (MfgOrderName nvarchar(99) '../../../../../OrderNo'
			,PartNo nvarchar(99)	'../../../../../PartNo'
			,PartNoRev nvarchar (15)  '../../../../../PartNoRevision'
			,Description nvarchar(99) '../../../../../Description'
			,Qty float '../../../../../Quantity'
			,ReleaseDate datetime2(7) '../../../../../ReleaseDate'
			,DueDate datetime2(7) '../../../../../DueDate'
			,OrderPriority float '../../../../../Priority'
			,OperationNo float '../Sequence'
			,OperationName nvarchar(99) '../ERPOperation'
			,ResourceGroup nvarchar(99) '__name'
			,SetupTime float '../isSetupTime'
			,RunRateOption int '../isRunRateOption'
			,DurationPerUnit float '../isDurationPerUnit'
			,UnitsPerHour float '../isUnitsPerHour'
			,TimePerBatch float '../isTimePerBatch'
			,OrderState float '../../../../../OrderState'
			,ToolPlan nvarchar(99) '../scsToolPlan'
			,MaskLayer nvarchar(99) '../scsMaskLayer') XMLMfgOrderData)
    AS [Source] ( MfgOrderName, PartNo, Description, Qty, ReleaseDate, DueDate, OrderPriority, OperationNo, OperationName
				, ResourceGroup, RequiredResource, SetupTime, ProcessTimeType, ProcessTime, ProcessTimeTypeKey, OrderState, ToolPlan, MaskLayer)
    ON [Target].[OrderNo] = [Source].[MfgOrderName]

	--Deletes records if OrderNo's match
	WHEN MATCHED AND OrderState like '2' THEN
    Delete;

	MERGE [Camstar].[FirmOrdersData] AS [Target]
	USING (SELECT XMLMfgOrderData.MfgOrderName as OrderNo
		,XMLMfgOrderData.PartNo + '_' +  XMLMfgOrderData.PartNoRev as PartNo
		,XMLMfgOrderData.Description as Description
		,XMLMfgOrderData.Qty as Quantity
		,XMLMfgOrderData.ReleaseDate as ReleaseDate
		,XMLMfgOrderData.DueDate as DueDate
		,XMLMfgOrderData.OrderPriority as Priority
		,XMLMfgOrderData.OperationNo as OperationNo
		,XMLMfgOrderData.OperationName as OperationName		
		,XMLMfgOrderData.ResourceGroup as ResourceGroup
		,@RequiredResource as RequiredResource
		,XMLMfgOrderData.SetupTime as SetupTime
		,CASE WHEN XMLMfgOrderData.RunRateOption = 1 then 'Time Per Item' WHEN XMLMfgOrderData.RunRateOption = 2 then 'Rate Per Hour' else 'Time Per Batch' End ProcessTimeType
		,CASE WHEN XMLMfgOrderData.RunRateOption = 1 then DurationPerUnit WHEN XMLMfgOrderData.RunRateOption = 2 then UnitsPerHour else TimePerBatch End ProcessTime
		,CASE WHEN XMLMfgOrderData.RunRateOption = 1 then 0 WHEN XMLMfgOrderData.RunRateOption = 2 then 2 WHEN XMLMfgOrderData.RunRateOption = 3 THEN 1 else null End ProcessTimeTypeKey
		,OrderState
		,XMLMfgOrderData.ToolPlan as ToolPlan
		,XMLMfgOrderData.MaskLayer as MaskLayer
	FROM OPENXML (@index, N'/PreactorFirmOrder/RouteSteps/ERPRoute/RouteSteps/__listItem/isResourceGroup',2)
	WITH (MfgOrderName nvarchar(99) '../../../../../OrderNo'
			,PartNo nvarchar(99)	'../../../../../PartNo'
			,PartNoRev nvarchar (15)  '../../../../../PartNoRevision'
			,Description nvarchar(99) '../../../../../Description'
			,Qty float '../../../../../Quantity'
			,ReleaseDate datetime2(7) '../../../../../ReleaseDate'
			,DueDate datetime2(7) '../../../../../DueDate'
			,OrderPriority float '../../../../../Priority'
			,OperationNo float '../Sequence'
			,OperationName nvarchar(99) '../ERPOperation'
			,ResourceGroup nvarchar(99) '__name'
			,SetupTime float '../isSetupTime'
			,RunRateOption int '../isRunRateOption'
			,DurationPerUnit float '../isDurationPerUnit'
			,UnitsPerHour float '../isUnitsPerHour'
			,TimePerBatch float '../isTimePerBatch'
			,OrderState float '../../../../../OrderState'
			,ToolPlan nvarchar(99) '../scsToolPlan'
			,MaskLayer nvarchar(99) '../scsMaskLayer') XMLMfgOrderData)
    AS [Source] ( MfgOrderName, PartNo, Description, Qty, ReleaseDate, DueDate, OrderPriority, OperationNo, OperationName
				, ResourceGroup, RequiredResource, SetupTime, ProcessTimeType, ProcessTime, ProcessTimeTypeKey, OrderState, ToolPlan, MaskLayer)
    ON [Target].[OrderNo] = [Source].[MfgOrderName]

	--Deletes records if OrderNo's match
	WHEN MATCHED AND OrderState like '1' THEN
    Delete;

	MERGE [Camstar].[FirmOrdersData] AS [Target]
	USING (SELECT XMLMfgOrderData.MfgOrderName as OrderNo
		,XMLMfgOrderData.PartNo + '_' +  XMLMfgOrderData.PartNoRev as PartNo
		,XMLMfgOrderData.Description as Description
		,XMLMfgOrderData.Qty as Quantity
		,XMLMfgOrderData.ReleaseDate as ReleaseDate
		,XMLMfgOrderData.DueDate as DueDate
		,XMLMfgOrderData.OrderPriority as Priority
		,XMLMfgOrderData.OperationNo as OperationNo
		,XMLMfgOrderData.OperationName as OperationName		
		,XMLMfgOrderData.ResourceGroup as ResourceGroup
		,@RequiredResource as RequiredResource
		,XMLMfgOrderData.SetupTime as SetupTime	
		,CASE WHEN XMLMfgOrderData.RunRateOption = 1 then 'Time Per Item' WHEN XMLMfgOrderData.RunRateOption = 2 then 'Rate Per Hour' else 'Time Per Batch' End ProcessTimeType
		,CASE WHEN XMLMfgOrderData.RunRateOption = 1 then DurationPerUnit WHEN XMLMfgOrderData.RunRateOption = 2 then UnitsPerHour else TimePerBatch End ProcessTime
		,CASE WHEN XMLMfgOrderData.RunRateOption = 1 then 0 WHEN XMLMfgOrderData.RunRateOption = 2 then 2 WHEN XMLMfgOrderData.RunRateOption = 3 THEN 1 else null End ProcessTimeTypeKey
		,OrderState
		,XMLMfgOrderData.ToolPlan as ToolPlan
		,XMLMfgOrderData.MaskLayer as MaskLayer
	FROM OPENXML (@index, N'/PreactorFirmOrder/RouteSteps/ERPRoute/RouteSteps/__listItem/isResourceGroup',2)
	WITH (MfgOrderName nvarchar(99) '../../../../../OrderNo'
			,PartNo nvarchar(99)	'../../../../../PartNo'
			,PartNoRev nvarchar (15)  '../../../../../PartNoRevision'
			,Description nvarchar(99) '../../../../../Description'
			,Qty float '../../../../../Quantity'
			,ReleaseDate datetime2(7) '../../../../../ReleaseDate'
			,DueDate datetime2(7) '../../../../../DueDate'
			,OrderPriority float '../../../../../Priority'
			,OperationNo float '../Sequence'
			,OperationName nvarchar(99) '../ERPOperation'
			,ResourceGroup nvarchar(99) '__name'
			,SetupTime float '../isSetupTime'
			,RunRateOption int '../isRunRateOption'
			,DurationPerUnit float '../isDurationPerUnit'
			,UnitsPerHour float '../isUnitsPerHour'
			,TimePerBatch float '../isTimePerBatch'
			,OrderState float '../../../../../OrderState'
			,ToolPlan nvarchar(99) '../scsToolPlan'
			,MaskLayer nvarchar(99) '../scsMaskLayer') XMLMfgOrderData)
    AS [Source] ( MfgOrderName, PartNo, Description, Qty, ReleaseDate, DueDate, OrderPriority, OperationNo, OperationName
				, ResourceGroup, RequiredResource, SetupTime, ProcessTimeType, ProcessTime, ProcessTimeTypeKey, OrderState, ToolPlan, MaskLayer )
    ON [Target].[OrderNo] = [Source].[MfgOrderName]

	--Inserts records if OrderNo's don't match or don't exist
	WHEN NOT MATCHED AND OrderState like '1' THEN
    INSERT ( OrderNo, PartNo, Description, Quantity, ReleaseDate, DueDate, Priority, OperationNo, OperationName
			, ResourceGroup, RequiredResource, SetupTime, ProcessTimeType, ProcessTime, ProcessTimeTypeKey, ToolPlan, MaskLayer)
    VALUES ( [Source].[MfgOrderName], [Source].[PartNo], [Source].[Description], [Source].[Qty], [Source].[ReleaseDate], [Source].[DueDate], [Source].[OrderPriority], [Source].[OperationNo], [Source].[OperationName], [Source].[ResourceGroup]
			, [Source].[RequiredResource], [Source].[SetupTime], [Source].[ProcessTimeType], [Source].[ProcessTime], [Source].[ProcessTimeTypeKey], [Source].[ToolPlan], [Source].[MaskLayer]);
	EXEC sp_xml_removedocument @index;

	COMMIT TRANSACTION T1
END TRY
BEGIN CATCH
	-- if any one thing went wrong, then roll back all updates and inserts
	IF @@TRANCOUNT > 0
	ROLLBACK

	-- then return the error message to the calling application
	DECLARE @ErrMsg nvarchar(4000), @ErrSeverity int
	SELECT @ErrMsg = ERROR_MESSAGE(), @ErrSeverity = ERROR_SEVERITY()

	RAISERROR(@ErrMsg, @ErrSeverity, 1)
END CATCH