USE [Camstar v1.0 AS Ultimate v12.2]
GO
/****** Object:  StoredProcedure [Camstar].[CreateItemData]    Script Date: 6/22/2017 5:21:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [Camstar].[CreateItemData](@SerializedMsg AS XML = NULL)
	AS
BEGIN TRY
	SET NOCOUNT ON;
	Print CONVERT(nvarchar (MAX),@SerializedMsg)
	--DECLARE @SerializedMsg as XML = NULL;

	BEGIN TRANSACTION T1

	DECLARE @index INT;
	DECLARE @RequiredResource as NVARCHAR(99) = null

	EXEC sp_xml_preparedocument @index OUTPUT, @SerializedMsg, '<root xmlns:n="Camstar.Interoperability" xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>'

	--Insert into the Camstar.RoutingData Table extracting the parameters to columns
	MERGE [Camstar].[RoutingData] AS [Target]
	USING (SELECT XMLProductData.PartNo + '_' +  XMLProductData.PartNoRev as PartNo
		,XMLProductData.OperationName
		,XMLProductData.OperationNo
		,XMLProductData.ResourceGroup as ResourceGroup
		,@RequiredResource as RequiredResource 
		,XMLProductData.SetupTime as SetupTime
		,CASE WHEN XMLProductData.RunRateOption = 1 then 'Time Per Item' WHEN XMLProductData.RunRateOption = 2 then 'Rate Per Hour' WHEN XMLProductData.RunRateOption = 3 then 'Time Per Batch' else 'Undefined' End ProcessTimeType
		,CASE WHEN XMLProductData.RunRateOption = 1 then RunTimeisDurationPerUnit WHEN XMLProductData.RunRateOption = 2 then RunTimeisUnitsPerHour WHEN XMLProductData.RunRateOption = 3 then RunTimeisTimePerBatch else null End RunTime
		,CASE WHEN XMLProductData.RunRateOption = 1 then 0 WHEN XMLProductData.RunRateOption = 2 then 2 WHEN XMLProductData.RunRateOption = 3 then 1 else null End ProcessTimeTypeKey
	FROM OPENXML (@index, N'/PreactorProduct/ERPRoute/RouteSteps/__listItem/isResourceGroup',2)
	WITH (OperationName nvarchar(99) '../ERPOperation'
			,PartNo nvarchar(99)	'../../../../PartNo'
			,PartNoRev nvarchar (15)  '../../../../Revision'
			,OperationNo float '../Sequence'
			,ResourceGroup nvarchar(99) '__name'
			,SetupTime float '../isSetupTime'
			,RunTimeisDurationPerUnit float '../isDurationPerUnit'
			,RunTimeisUnitsPerHour float '../isUnitsPerHour'
			,RunTimeisTimePerBatch float '../isTimePerBatch'
			,RunRateOption int '../isRunRateOption'
			,ProcessTimeType nvarchar (99)) XMLProductData)
    AS [Source] ( PartNo, OperationName, OperationNo, ResourceGroup, RequiredResource, SetupTime, ProcessTimeType, RunTime, ProcessTimeTypeKey )
    ON [Target].[PartNo] = [Source].[PartNo]

	WHEN MATCHED THEN
    Delete;

	MERGE [Camstar].[RoutingData] AS [Target]
	USING (SELECT XMLProductData.PartNo + '_' +  XMLProductData.PartNoRev as PartNo
		,XMLProductData.OperationName
		,XMLProductData.OperationNo
		,XMLProductData.ResourceGroup as ResourceGroup
		,@RequiredResource as RequiredResource 
		,XMLProductData.SetupTime as SetupTime
		,CASE WHEN XMLProductData.RunRateOption = 1 then 'Time Per Item' WHEN XMLProductData.RunRateOption = 2 then 'Rate Per Hour' WHEN XMLProductData.RunRateOption = 3 then 'Time Per Batch' else 'Undefined' End ProcessTimeType
		,CASE WHEN XMLProductData.RunRateOption = 1 then RunTimeisDurationPerUnit WHEN XMLProductData.RunRateOption = 2 then RunTimeisUnitsPerHour WHEN XMLProductData.RunRateOption = 3 then RunTimeisTimePerBatch else null End RunTime
		,CASE WHEN XMLProductData.RunRateOption = 1 then 0 WHEN XMLProductData.RunRateOption = 2 then 2 WHEN XMLProductData.RunRateOption = 3 then 1 else null End ProcessTimeTypeKey
	FROM OPENXML (@index, N'/PreactorProduct/ERPRoute/RouteSteps/__listItem/isResourceGroup',2)
	WITH (OperationName nvarchar(99) '../ERPOperation'
			,PartNo nvarchar(99)	'../../../../PartNo'
			,PartNoRev nvarchar (15)  '../../../../Revision'
			,OperationNo float '../Sequence'
			,ResourceGroup nvarchar(99) '__name'
			,SetupTime float '../isSetupTime'
			,RunTimeisDurationPerUnit float '../isDurationPerUnit'
			,RunTimeisUnitsPerHour float '../isUnitsPerHour'
			,RunTimeisTimePerBatch float '../isTimePerBatch'
			,RunRateOption int '../isRunRateOption'
			,ProcessTimeType nvarchar (99)) XMLProductData)
    AS [Source] ( PartNo, OperationName, OperationNo, ResourceGroup, RequiredResource, SetupTime, ProcessTimeType, RunTime, ProcessTimeTypeKey )
    ON [Target].[PartNo] = [Source].[PartNo]

	WHEN NOT MATCHED THEN
    INSERT ( PartNo, OperationName, OperationNo, ResourceGroup, RequiredResource, SetupTime, ProcessTimeType, RunTime, ProcessTimeTypeKey )
    VALUES ( [Source].[PartNo], [Source].[OperationName], [Source].[OperationNo], [Source].[ResourceGroup]
			, [Source].[RequiredResource], [Source].[SetupTime], [Source].[ProcessTimeType], [Source].[RunTime], [Source].[ProcessTimeTypeKey]);

	--Insert into the Camstar.ItemData Table extracting the parameters to columns
	MERGE [Camstar].[ItemData] AS [Target]
	USING (SELECT Distinct PartNo + '_' +  PartNoRev as PartNo, ProductDescription as Product, MaskSet as MaskSet
	FROM OPENXML (@index, N'/PreactorProduct/ERPRoute/RouteSteps/__listItem',2)
	WITH (PartNo nvarchar(99)	'../../../PartNo'
			,PartNoRev nvarchar (15)  '../../../Revision'
			,ProductDescription nvarchar(99) '../../../ProductDescription'
			,MaskSet nvarchar(99) '../../../MaskSet'))
    AS [Source] ( PartNo, ProductDescription, Maskset )
	ON [Target].[PartNo] = [Source].[PartNo]

	WHEN MATCHED THEN
    Delete;

	MERGE [Camstar].[ItemData] AS [Target]
	USING (SELECT Distinct PartNo + '_' +  PartNoRev as PartNo, ProductDescription as Product, MaskSet as MaskSet
	FROM OPENXML (@index, N'/PreactorProduct/ERPRoute/RouteSteps/__listItem',2)
	WITH (PartNo nvarchar(99)	'../../../PartNo'
			,PartNoRev nvarchar (15)  '../../../Revision'
			,ProductDescription nvarchar(99) '../../../ProductDescription'
			,MaskSet nvarchar(99) '../../../MaskSet'))
    AS [Source] ( PartNo, ProductDescription, MaskSet )
	ON [Target].[PartNo] = [Source].[PartNo]

	WHEN NOT MATCHED THEN
    INSERT ( PartNo, Product, MaskSet)
    VALUES ( [Source].[PartNo], [Source].[ProductDescription], [Source].[MaskSet]);

	EXEC sp_xml_removedocument @index;

	COMMIT TRANSACTION T1
END TRY
BEGIN CATCH
	-- if any one thing went wrong, then roll back all updates and inserts
	IF @@TRANCOUNT > 0
	ROLLBACK

	-- then return the error message to the calling application
	DECLARE @ErrMsg nvarchar(4000), @ErrSeverity int
	SELECT @ErrMsg = ERROR_MESSAGE(), @ErrSeverity = ERROR_SEVERITY()

	RAISERROR(@ErrMsg, @ErrSeverity, 1)
END CATCH