<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<WCFGenerator>
		<AllServices>
			<add ExposedType="BaseAndExposed" Name="Service">
				<add ExposedType="BaseAndExposed" Name="Update">
					<add ExposedType="BaseAndExposed" Name="ShopFloor">
						<add ExposedType="BaseAndExposed" Name="TrackTargetDeployment">
							<Methods>
								<add Name="GetNextAvailableTargetDeployment" ExposedType="BaseAndExposed"></add>
							</Methods>
						</add>
					</add>
				</add>
			</add>
		</AllServices>
	</WCFGenerator>
</configuration>
