/*
***************************************************************************
Copyright 2019 Siemens
This file should include all user-defined CSS classes. 
Classes defined in this file will over-ride any classes of the
same name written in any of the Camstar supplied CSS files.
***************************************************************************
*/

/*Start Reset Text boxes that hardcoded width in VP*/
    #ctl00_WebPartManager_SS_LotMoveInventoryWP_LotMoveInventory_SelectionId_ctl00,
    .ss-lotbonus-webpart #ctl00_WebPartManager_SS_LotBonusWP_LotBonus_SelectionId_ctl00,
    .ss-equipmentmaterialssetupvp #ctl00_WebPartManager_SS_WIPEqpMaterialsSetupWP_WIPEqpMaterialsSetup_MaterialPart > div > div {
	    width: 172px;
    }

    .ss-printingcomputermaintvp #ctl00_WebPartManager_CriteriaWP_CollapsibleSectionsAccordion_ctl03_ObjectChanges_PrintingSetup > div > div,
    .ss-printingcomputermaintvp #ctl00_WebPartManager_SelectionControlsWP_Selection_PrintingSetup > div > div,
    #ctl00_WebPartManager_ResourceStatusWP_WIPMain_Information > div:nth-child(2) > div,
    .ss-countvariancelimitsmaintvp #ctl00_WebPartManager_SelectionControlsWP_Selection_Spec > div > div,
    .ss-countvariancelimitsmaintvp #ctl00_WebPartManager_CriteriaWP_CollapsibleSectionsAccordion_ctl03_ObjectChanges_Spec > div > div,
    .ss-carriervalidationsetupvp #ctl00_WebPartManager_SelectionControlsWP_Selection_Spec > div > div,
    .ss-packingqtymaintvp #ctl00_WebPartManager_SelectionControlsWP_Selection_Product > div > div,
    .ss-packingqtymaintvp #ctl00_WebPartManager_SelectionControlsWP_Selection_PackingType > div > div,
    .ss-packingqtymaintvp #ctl00_WebPartManager_CriteriaWP_CollapsibleSectionsAccordion_ctl03_ObjectChanges_PackingType > div > div,
    .ss-packingqtymaintvp #ctl00_WebPartManager_CriteriaWP_CollapsibleSectionsAccordion_ctl03_ObjectChanges_Product > div > div {
	    width: 174px;
    }

    #ctl00_WebPartManager_SS_LotShipWP_LotShip_DocNo_ctl00,
    #ctl00_WebPartManager_SS_LotShipWP_LotShip_ShipNo_ctl00 {
        width: 90px;
    }

    #WebPart_ResourceStatusWP > div > div:nth-child(1) > div:nth-child(3) > span > input {
        width: 300px !important;
    }

    .ss-carrierassignslotmap-vp #ctl00_WebPartManager_SS_CarrierAssignSlotMapWP_SelectionId_ctl00 {
        width: 150px;
    }

    #ctl00_WebPartManager_ChoiceWP_ManualExportBtr_ctl00,
    #ctl00_WebPartManager_ChoiceWP_ManualImportBtr_ctl00 {
        margin-right: 5px;
    }

/*End Reset Text boxes that hardcoded width in VP*/

.float-form-container #WebPart_ButtonsBar {
	width:100% !important;
}

.ss-wipmainbody #WebPart_SS_WIPMain_ControllerWP > .matrix {
    border-collapse: separate !important;
}

/* ********************************************************************************************* 
    Setup B 
********************************************************************************************* */

.ss-setupb-webpart-extended .cs-revisioned-object
{
    margin-top: 12px;
}

 .ss-setupb-webpart-extended .cs-revisioned-object .cs-label {
        margin: 0px 0 2px 1px;
 }

/* ----------setup b selection grid style --------*/

.ss-setupb-webpart-selectioncontrol-extended .cs-revisioned-object {
    margin-top: 12px;
}


.ss-setupb-webpart-selectioncontrol-extended .cs-revisioned-object .cs-label {
    margin: 0px 0 2px 1px;
}

/* *********************************************************************************************
/* Job Txn 
********************************************************************************************* */ 
.ss-jobs-page-default .webpart-buttonbar
{
    width: 1005px;
    padding:0 0 0 0px;
}

/* ********************************************************************************************* 
   Equipment Setup
********************************************************************************************* */
.ss-equipmentsetup-webpart .documentset-cell
{
    display: table-cell;
    min-width: 200px;
    padding: 0 0 15px 0;
}


/* ********************************************************************************************* 
   Map Data
********************************************************************************************* */

.hiddenchart {
    display: none;
}

.fullviewchart {
    margin: 20px;
}

/* Move button to the bottom*/
.mapdatabutton {
    padding: 0px;
    vertical-align: bottom;
}

.assignslotmapgrid .ui-jqgrid 
{
    margin-left: -50px
}

/* Display SPC stats data in proper format */
.ss_spcrealtimemonitoringvp pre{
  display: block;
  font-family: monospace;
  white-space: pre;
  margin: 1em 0;
}

/* set the chart panel max width for classic */
#ctl00_WebPartManager_ChartAreaWP_ChartPanel {
    width: 1000px !important;
}