<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright Siemens 2025   -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <!-- Section added for FieldFix for TAC PR 10206310 -->
  <configSections>
    <sectionGroup name="camstarSecurityServices">
      <sectionGroup name="rbacServices">
        <section name="rbacSettings" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        </section>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <!-- End of section added for FieldFix for TAC PR 10206310 -->
  <system.web>
    <compilation batch="true" debug="false" defaultLanguage="c#" targetFramework="4.8">
      <assemblies>
        <add assembly="System.Runtime.Caching, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a">
        </add>
      </assemblies>
    </compilation>
    <!-- 
        We have a mix of managed and native dll dependencies, so we need
        to make sure our managed modules are loaded directly from the bin
        folder and not the temp asp.net folder, so disable shadow copying.
    -->
    <hostingEnvironment shadowCopyBinAssemblies="false">
    </hostingEnvironment>
    <httpRuntime targetFramework="4.8">
    </httpRuntime>
    <httpModules>
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation">
      </add>
      <add name="TelemetryHttpModule" type="OpenTelemetry.Instrumentation.AspNet.TelemetryHttpModule, OpenTelemetry.Instrumentation.AspNet.TelemetryHttpModule">
      </add>
    </httpModules>
    <authentication mode="None">
    </authentication>
  </system.web>
  <system.runtime.caching>
    <memoryCache>
      <namedCaches>
        <!-- 
            The following Cache contains items that expire so use a 
            expiration polling interval of 1 minute 
        -->
        <add name="LogonUserCache" cacheMemoryLimitMegabytes="0" physicalMemoryLimitPercentage="0" pollingInterval="00:01:00">
        </add>
        <add name="ActiveUserSessionCache" cacheMemoryLimitMegabytes="0" physicalMemoryLimitPercentage="0" pollingInterval="00:01:00">
        </add>
        <!-- 
             The following Caches contains items that DO-NOT expire so use a 
             higher value for the expiration polling interval (1 day)
        -->
        <add name="ResolvedUserPermissionsCache" cacheMemoryLimitMegabytes="0" physicalMemoryLimitPercentage="0" pollingInterval="23:59:59">
        </add>
        <add name="ResolvedUserRolesCache" cacheMemoryLimitMegabytes="0" physicalMemoryLimitPercentage="0" pollingInterval="23:59:59">
        </add>
        <add name="ConnectionStringCache" cacheMemoryLimitMegabytes="0" physicalMemoryLimitPercentage="0" pollingInterval="23:59:59">
        </add>
        <add name="GenericCache" cacheMemoryLimitMegabytes="0" physicalMemoryLimitPercentage="0" pollingInterval="23:59:59">
        </add>
      </namedCaches>
    </memoryCache>
  </system.runtime.caching>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="4000">
      </add>
    </connectionManagement>
  </system.net>
  <system.serviceModel>
    <protocolMapping>
      <add scheme="https" binding="basicHttpBinding">
      </add>
    </protocolMapping>
    <bindings>
      <basicHttpBinding>
        <binding name="DefaultBinding" sendTimeout="00:05:00" receiveTimeout="00:05:00" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647">
          </readerQuotas>
        </binding>
        <!-- DefaultBindingSSL is used for SSL mode -->
        <binding name="DefaultBindingSSL" sendTimeout="00:05:00" receiveTimeout="00:05:00" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647">
          </readerQuotas>
          <security mode="Transport">
            <transport clientCredentialType="None">
            </transport>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true">
      <serviceActivations>
        <add relativeAddress="AuthenticationService.svc" service="Camstar.Security.RBAC.Services.AuthenticationService">
        </add>
        <add relativeAddress="AuthorizationService.svc" service="Camstar.Security.RBAC.Services.AuthorizationService">
        </add>
        <add relativeAddress="LMInitializerService.svc" service="Camstar.Security.LM.Service.LMInitializerService">
        </add>
      </serviceActivations>
    </serviceHostingEnvironment>
    <behaviors>
      <serviceBehaviors>
        <behavior name="defaultServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true">
          </serviceMetadata>
          <serviceDebug httpHelpPageEnabled="true" httpsHelpPageEnabled="true" includeExceptionDetailInFaults="true">
          </serviceDebug>
          <serviceThrottling maxConcurrentCalls="4000" maxConcurrentInstances="4000" maxConcurrentSessions="4000">
          </serviceThrottling>
          <dataContractSerializer maxItemsInObjectGraph="2147483647">
          </dataContractSerializer>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="defaultServiceBehavior" name="Camstar.Security.RBAC.Services.AuthenticationService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="DefaultBindingSSL" contract="Camstar.Security.RBAC.Interfaces.IAuthenticationService">
        </endpoint>
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="DefaultBinding" contract="Camstar.Security.RBAC.Interfaces.IAuthenticationService">
        </endpoint>
      </service>
      <service behaviorConfiguration="defaultServiceBehavior" name="Camstar.Security.RBAC.Services.AuthorizationService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="DefaultBindingSSL" contract="Camstar.Security.RBAC.Interfaces.IAuthorizationService">
        </endpoint>
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="DefaultBinding" contract="Camstar.Security.RBAC.Interfaces.IAuthorizationService">
        </endpoint>
      </service>
      <service behaviorConfiguration="defaultServiceBehavior" name="Camstar.Security.LM.Service.LMInitializerService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="DefaultBindingSSL" contract="Camstar.Security.LM.Interfaces.ILMInitializerService">
        </endpoint>
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="DefaultBinding" contract="Camstar.Security.LM.Interfaces.ILMInitializerService">
        </endpoint>
      </service>
    </services>
  </system.serviceModel>
  <appSettings>
    <!--
        The values available for this setting are defined in the
        AuthType enum type. Negotiate and Basic have been tested.
        More info can be found at the following link.
        https://docs.microsoft.com/en-us/dotnet/api/system.directoryservices.protocols.authtype
        The default is Negotitate.
      -->
    <add key="LdapAuthType" value="Negotiate">
    </add>
    <!--
        This verification key is used to validate incoming request for endpoint : LoginViaIDP.
        This same key and same value will also be configured in WebClientPortal web.config file
        In request, we would get SHA256 computed hash from WebClientPortal and 
        in Camstar Security Server as well same SHA256 has will be computed based on this key.
    -->
    <add key="verificationKey" value="OpcenterCore">
    </add>
    <!--
        This integer value is used to increase/decrease the thread sleep time (in seconds) until the database is up 
        & AuthenticationService class is initialized to serve the requests that are coming in.
        If this value is not set then default 30 is used (i.e., 30 seconds).
        If large number of concurrent login requests are made and you get an error like "Security service: Login Failed - invalid user name or password"
        then increase this value.
    -->
    <add key="AuthenticationServiceThreadSleepMaxCount" value="30">
    </add>
    <!-- Add Telemetry Configurations -->
    <add key="TelemetryAppName" value="Security Services">
    </add>
    <add key="EnableTelemetry" value="false">
    </add>
    <add key="TelemetryConnectionString" value="">
    </add>
    <add key="TelemetryDLLErrorLogging" value="false">
    </add>
    <add key="TelemetryDLLLogFolderPath" value="">
    </add>
    <add key="TelemetryAnalyticsPlatform" value="">
    </add>
    <add key="OtlpExportProtocolEndPoint" value="">
    </add>
    <add key="TelemetryMetrics" value="true">
    </add>
    <add key="TelemetryTraces" value="true">
    </add>
    <add key="TelemetryLogs" value="true">
    </add>
  </appSettings>
  <system.webServer>
    <handlers accessPolicy="Read, Script">
    </handlers>
    <directoryBrowse enabled="false">
    </directoryBrowse>
    <validation validateIntegratedModeConfiguration="false">
    </validation>
    <modules>
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="managedHandler">
      </add>
      <add name="TelemetryHttpModule" type="OpenTelemetry.Instrumentation.AspNet.TelemetryHttpModule, OpenTelemetry.Instrumentation.AspNet.TelemetryHttpModule" preCondition="integratedMode,managedHandler">
      </add>
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.3.0" newVersion="6.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" culture="neutral" publicKeyToken="adb9793829ddae60" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" culture="neutral" publicKeyToken="cc7b13ffcd2ddd51" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" culture="neutral" publicKeyToken="cc7b13ffcd2ddd51" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.5" newVersion="8.0.0.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" culture="neutral" publicKeyToken="cc7b13ffcd2ddd51" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" culture="neutral" publicKeyToken="cc7b13ffcd2ddd51" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.12.0.0" newVersion="8.12.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Abstractions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.12.0.0" newVersion="8.12.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding>
    </assemblyBinding>
  </runtime>
  <!-- Section added for FieldFix for TAC PR 10206310 -->
  <camstarSecurityServices>
    <rbacServices>
      <rbacSettings>
        <!--
            Value of updateInterval below must be integer value between 0 and 30 inclusive. Any integer outside that range will cause default of 0 to be used 
            Default of 0 was the behavior before this change and will be used if no updateInterval value is present
          -->
        <add key="updateInterval" value="5">
        </add>
      </rbacSettings>
    </rbacServices>
  </camstarSecurityServices>
  <!-- End of section added for FieldFix for TAC PR 10206310 -->
</configuration>