<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings>
        <add key="PlugInsDirectory" value="C:\Program Files (x86)\Camstar\InSite Server\Plugins" />
    </appSettings>
    <system.webServer>
        <handlers accessPolicy="Read, Script">
            <add name="CamstarRequestHandler" path="*" verb="*" modules="CamstarAppServer" preCondition="bitness64" responseBufferLimit="4294967295" />
        </handlers>
        <directoryBrowse enabled="false" />
        <modules>
            <add name="CamstarAppServer" preCondition="bitness64" />
        </modules>
    </system.webServer>
</configuration>
