/* ui-jqgrid-row section , additional color for Jobs */
.ss-general-color-yellow {
  border: 1px solid #d8bf00;
  background: url(svg/cs-grd-31.svg);
  background: #f6ff6b;
}
.ss-general-color-orange {
  border: 1px solid #f99229;
  background: url(svg/cs-grd-25.svg);
  background: #f9b471;
}
.ss-general-color-lightpink {
  border: 1px solid #ef8f8f;
  background: url(svg/cs-grd-23.svg);
  background: #f66161;
}
.ss-general-color-lightblue {
  border: 1px solid #6ebcd7;
  background-image: url(svg/cs-grd-21.svg);
  background-color: #9eb7c0;
}
.ss-general-color-lightgreen {
  border: 1px solid #9bc651;
  background-image: url(svg/cs-grd-10.svg);
  background-color: #bddd86;
}
.ss-jobs-page #WebPart_SS_JobResourceWP > .matrix {
  overflow: visible;
}
.ss-jobs-page .ss-jobComments .cs-textarea > textarea {
  width: 100%;
}
.ss-jobs-page .ss-jobs-page-default .webpart-buttonbar {
  width: 100%;
  padding-left: 10px;
  padding: 0 0 0 0px;
  padding-right: 10px;
}
.ss-jobs-page .cell-m.multi {
  display: inline-flex;
  flex-wrap: nowrap;
}
.ss-jobs-page #WebPart_ButtonsBar .right {
  display: flex;
  flex-flow: wrap;
}
.ss-jobs-page .ss-jobs-page-supervisor .container-fluid.page-container > .row:first-child > .cell-m:first-child,
.ss-jobs-page .ss-jobs-page-technicians .container-fluid.page-container > .row:first-child > .cell-m:first-child {
  flex: 0 0 360px;
  padding-right: 0;
  border: 0;
  padding-left: 0;
  box-shadow: 8px -16px 16px 0 rgba(0, 0, 0, 0.3);
}
.ss-jobs-page .ss-jobs-page-supervisor .container-fluid.page-container > .row:first-child > .cell-m:nth-child(2),
.ss-jobs-page .ss-jobs-page-technicians .container-fluid.page-container > .row:first-child > .cell-m:nth-child(2) {
  flex: 1 1 0%;
  min-width: 0;
}
.ss-general-color-lightpink {
  border: 1px solid #fa142d;
  background: url(svg/cs-grd-23.svg);
  background: #fa142d;
}
.ss-general-color-yellow {
  border: 1px solid #fadc5a;
  background: url(svg/cs-grd-31.svg);
  background: #fadc5a;
}
.ss-general-color-orange {
  border: 1px solid #eb780a;
  background: url(svg/cs-grd-25.svg);
  background: #eb780a;
}
.ss-general-color-lightblue {
  border: 1px solid #50bed7;
  background-image: url(svg/cs-grd-21.svg);
  background-color: #50bed7;
}
.ss-general-color-lightgreen {
  border: 1px solid #28e632;
  background-image: url(svg/cs-grd-10.svg);
  background-color: #28e632;
}
.ss-job-stage-documents {
    height: 24px;
    width: 24px;
    background-image: url(/CamstarPortal/Images/User/documentset_24_24.png);
    border-color: transparent !important;
    background-color: transparent !important;
}
.ss-job-resource-button {
    background-image: url(/CamstarPortal/assets/image/cmdCriteria24.svg);
    border-color: transparent !important;
    background-color: transparent !important;
    height: 24px;
    width: 24px;
    margin-top: 48px;
    margin-left: 6px;
}
.ss-job-order-button {
    background-image: url(/CamstarPortal/assets/image/cmdHistory24.svg);
    border-color: transparent !important;
    background-color: transparent !important;
    height: 24px;
    width: 24px;
    margin-top: 48px;
    margin-left: 6px;
}
.ss-resource-selval {
    width: 24px;
    margin-left: 6px;
    margin-top: 36px;
    background-repeat: no-repeat;
    background-position: center;
    border: 0px;
    border-color: white;
    height: 48px;
    background-image: url(/CamstarPortal/assets/image/cmdMore24.svg);
    background-color: white;
}
.ss-jobs-webpart-resourcestatus {
  width: 100%;
}
.ss-jobs-webpart-resourcestatus .inputFieldButton {
  border-color: transparent ! important;
  background-color: transparent ! important;
  height: 24px;
  width: 24px;
}
.ss-jobs-webpart-resourcestatus .aspNetDisabled {
  display: none;
}
.ss-jobs-page-create #ctl00_WebPartManager_SS_JobGeneralWP_tglDetail {
  width: 100%;
}
.ss-jobs-page-create .ss-job-technicians-cell {
  margin-top: 40px;
}

#ctl00_WebPartManager_SS_JobGeneralWP_btnStageDoc .cs-image-button,
#ctl00_WebPartManager_SS_JobGeneralWP_btnToStageDoc .cs-image-button{
  margin-top: 34px;
}

#ctl00_WebPartManager_SS_JobResourceWP_btnModelDoc .cs-image-button {
  margin-top: 44px;
}

#ctl00_WebPartManager_RL_SearchGridWP_mainSearchGrid > tbody > tr > td:nth-child(5),
#ctl00_WebPartManager_RL_SearchGridWP_mainSearchGrid > tbody > tr > td:nth-child(7) {
  padding: 0px;
  vertical-align: middle;
  text-align: center;
}
.ss-jobs-page-supervisor #WebPart_RL_HiddenFilter_UIComponent,
.ss-jobs-page-technicians #WebPart_RL_HiddenFilter_UIComponent {
  margin-bottom: 20px;
}
@media only screen and (min-device-width: 1025px) {
  .ss-jobs-page-supervisor .search-results-actions-section,
  .ss-jobs-page-technicians .search-results-actions-section {
    display: none;
  }
  .ss-jobs-page-supervisor #WebPart_ActionsControl,
  .ss-jobs-page-technicians #WebPart_ActionsControl {
    width: 205px;
  }
  .ss-jobs-page-supervisor #WebPart_RL_HiddenFilter,
  .ss-jobs-page-technicians #WebPart_RL_HiddenFilter {
    width: 250px;
  }
}
@media only screen and (max-device-width: 1024px) {
  .ss-jobs-page-supervisor #WebPart_SS_JobFilterWP,
  .ss-jobs-page-technicians #WebPart_SS_JobFilterWP {
    padding-left: 10px;
  }
  .ss-jobs-page-supervisor #WebPart_RL_SearchGridWP,
  .ss-jobs-page-technicians #WebPart_RL_SearchGridWP {
    margin-top: 20px;
  }
  .ss-jobs-page-supervisor #WebPart_RL_HiddenFilter,
  .ss-jobs-page-technicians #WebPart_RL_HiddenFilter {
    display: inline;
  }
  .ss-jobs-page-supervisor #WebPart_ActionsControl,
  .ss-jobs-page-technicians #WebPart_ActionsControl {
    width: 100%;
  }
  .ss-jobs-page-supervisor #WebPart_ActionsControl .action,
  .ss-jobs-page-technicians #WebPart_ActionsControl .action {
    display: inline;
  }
  .ss-jobs-page-supervisor #WebPart_ActionsControl .action input,
  .ss-jobs-page-technicians #WebPart_ActionsControl .action input {
    display: inline;
  }
  .ss-jobs-page-supervisor #WebPart_RL_SearchGridWP > .matrix > .row > .cell-m,
  .ss-jobs-page-technicians #WebPart_RL_SearchGridWP > .matrix > .row > .cell-m {
    padding-right: 0px;
  }
  .search-results-grid-section {
    width: 100%;
  }
}