@import "../../../User/SCS/scsJobPages.less";

@theme-image-folder: '/CamstarPortal/Themes/Horizon/images/user/SCS';

.ss-jobs-page {
    #WebPart_SS_JobResourceWP > .matrix {
        overflow: visible;
    }

    .ss-jobComments .cs-textarea > textarea {
        width: 100%;
    }


    .ss-jobs-page-default .webpart-buttonbar {
        width: 100%;
        padding-left: 10px;
        padding: 0 0 0 0px;
        padding-right: 10px;
    }

    .cell-m.multi {
        display: inline-flex;
        flex-wrap: nowrap;
    }

    #WebPart_ButtonsBar .right {
        display: flex;
        flex-flow: wrap;
    }

    .ss-jobs-page-supervisor .container-fluid.page-container > .row:first-child > .cell-m:first-child,
    .ss-jobs-page-technicians .container-fluid.page-container > .row:first-child > .cell-m:first-child {
        flex: 0 0 360px;
        padding-right: 0;
        border: 0;
        padding-left: 0;
        box-shadow: 8px -16px 16px 0 rgba(0,0,0,.3);
    }

    .ss-jobs-page-supervisor .container-fluid.page-container > .row:first-child > .cell-m:nth-child(2),
    .ss-jobs-page-technicians .container-fluid.page-container > .row:first-child > .cell-m:nth-child(2) {
        flex: 1 1 0%;
        min-width: 0;
    }
}

.ss-general-color-lightpink {
    border: 1px solid #fa142d;
    background: url(svg/cs-grd-23.svg);
    background: #fa142d;
}

.ss-general-color-yellow {
    border: 1px solid #fadc5a;
    background: url(svg/cs-grd-31.svg);
    background: #fadc5a;
}

.ss-general-color-orange {
    border: 1px solid #eb780a;
    background: url(svg/cs-grd-25.svg);
    background: #eb780a;
}

.ss-general-color-lightblue {
    border: 1px solid #50bed7;
    background-image: url(svg/cs-grd-21.svg);
    background-color: #50bed7;
}

.ss-general-color-lightgreen {
    border: 1px solid #28e632;
    background-image: url(svg/cs-grd-10.svg);
    background-color: #28e632;
}

.ss-job-stage-documents {
    height: 24px;
    width: 24px;    
    background-image: url(../../Images/User/SCS/SS_DocumentSet-24x24.png);
    border-color:transparent ! important;
    background-color: transparent ! important;
}
.ss-job-resource-button {
    background-image: url(../../Images/User/SCS/cmdCriteria24.svg);
    border-color: transparent !important;
    background-color: transparent !important;
    height: 24px;
    width: 24px;
    margin-top: 48px;
    margin-left: 6px;
}
.ss-job-order-button {
    background-image: url(../../Images/User/SCS/cmdHistory24.svg);
    border-color: transparent !important;
    background-color: transparent !important;
    height: 24px;
    width: 24px;
    margin-top: 48px;
    margin-left: 6px;
}
.ss-resource-selval {
    width: 24px;
    margin-left: 6px;
    margin-top: 36px;
    background-repeat: no-repeat;
    background-position: center;
    border: 0px;
    border-color: white;// #D4D4D4;
    height: 48px;    
    background-image: url(/CamstarPortal/assets/image/cmdMore24.svg);
    background-color: white;
}
.ss-jobs-webpart-resourcestatus 
{
    width: 100%;

    .inputFieldButton
    {    
        border-color:transparent ! important;
        background-color: transparent ! important;
        height: 24px;
        width: 24px;
    }
    // In the Camstar theme the buttons are effectively hidden when no resource is selected. This is because blank.gif is an empty image.
    // In the Horizon theme the blank.gif is shown as a grey block. This will make both themes work the same.
    .aspNetDisabled
    {
        display: none;
    }
}



.ss-jobs-page-create
{
    #ctl00_WebPartManager_SS_JobGeneralWP_tglDetail
    {
        width: 100%;
    }

    .ss-job-technicians-cell 
    {
            margin-top: 40px;
    }
}

#ctl00_WebPartManager_SS_JobGeneralWP_btnStageDoc {
    .cs-image-button {
        margin-top: 44px;
    }
}
#ctl00_WebPartManager_RL_SearchGridWP_mainSearchGrid > tbody > tr> td:nth-child(5), 
#ctl00_WebPartManager_RL_SearchGridWP_mainSearchGrid > tbody > tr> td:nth-child(7) 
{
    padding: 0px;
    vertical-align: middle; 
    text-align: center;
}

.ss-jobs-page-supervisor, .ss-jobs-page-technicians 
{ 
    #WebPart_RL_HiddenFilter_UIComponent 
    {
        margin-bottom: 20px;
    }
}

@media only screen and (min-device-width : 1025px) 
{
    .ss-jobs-page-supervisor, .ss-jobs-page-technicians 
    {
        .search-results-actions-section 
        {
            display: none;
        }

        #WebPart_ActionsControl 
        {
            width: 205px;
        }

        #WebPart_RL_HiddenFilter 
        {
            width: 250px;
        }
    }
}

@media only screen and (max-device-width : 1024px) 
{
    .ss-jobs-page-supervisor, 
    .ss-jobs-page-technicians 
    {
        #WebPart_SS_JobFilterWP 
        {
            padding-left: 10px;
        }

        #WebPart_RL_SearchGridWP
        {
            margin-top: 20px;
        }

        #WebPart_RL_HiddenFilter
        {
            display:inline;
        }
    
        #WebPart_ActionsControl 
        {
            width: 100%;


            .action
            {
                display:inline;

                input
                {
                    display:inline;
                }

            }
        }

        #WebPart_RL_SearchGridWP > .matrix > .row  > .cell-m 
        {
            padding-right: 0px;
        }
    }


    .search-results-grid-section
    {
        width: 100%
    }
}