/*
***************************************************************************
Copyright 2022 Siemens
This file include all user-defined CSS classes for the Landing Page
***************************************************************************
*/

.landing-page {
    flex: 1 1 auto;
    overflow: auto;
    background-color: #fafafa !important;
    width: 100%;
    box-sizing: border-box;
    font-size: small;
}

    .landing-page .form-container {
        background-color: #fafafa !important;
    }

    .landing-page .cell-m {
        padding: 0 !important;
    }

    .landing-page .landing-page-left .cell-m, .landing-page .landing-page-right .cell-m {
        padding-left: 15px !important;
    }


.landing-page-left, .landing-page-right {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    height: calc(100% - 1rem);
    min-height: 25vh;
    overflow: hidden;
    background: white;
    page-break-inside: avoid;
    transition: all 250ms;
    /*border-radius: 0.5rem;*/
    box-sizing: border-box;
    /*box-shadow: 0 1px 2px rgb(55 63 66 / 7%), 0 2px 4px rgb(55 63 66 / 7%), 0 4px 8px rgb(55 63 66 / 7%), 0 8px 16px rgb(55 63 66 / 7%), 0 16px 24px rgb(55 63 66 / 7%), 0 24px 32px rgb(55 63 66 / 7%);*/
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
    border: solid 1px rgba(220,220,220,0.5);
    border-radius: 3px;
}

.landing-page-small {
    width: 10%;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    min-height: 45vh;
    max-height: calc(50% - 1rem);
    overflow: hidden;
    background: white;
    page-break-inside: avoid;
    transition: all 250ms;
    /*border-radius: 0.5rem;*/
    box-sizing: border-box;
    /*box-shadow: 0 1px 2px rgb(55 63 66 / 7%), 0 2px 4px rgb(55 63 66 / 7%), 0 4px 8px rgb(55 63 66 / 7%), 0 8px 16px rgb(55 63 66 / 7%), 0 16px 24px rgb(55 63 66 / 7%), 0 24px 32px rgb(55 63 66 / 7%);*/
    box-shadow: rgb(141 149 166 / 10%) 0px 2px 4px;
    border-radius: 0.5rem;
}

.landing-page .landing-page-right .row,
.landing-page .landing-page-left .row {
    margin: 0 auto !important;
}

.landing-page .cell-m:nth-child(1) {
    flex: 1 0 70% !important;
}

.landing-page .cell-m:nth-child(2) {
    flex: 1 0 30% !important;
}

.dispatchListCol > div,
.eqpStatusCol > div,
.RejectWIPCol > div,
.oeeCol > div {
    height: 100%;
}

    .dispatchListCol > div > div, .dispatchListCol > div > div > div,
    .eqpStatusCol > div > div, .eqpStatusCol > div > div > div,
    .RejectWIPCol > div > div, .RejectWIPCol > div > div > div,
    .oeeCol > div > div, .oeeCol > div > div > div {
        height: inherit;
    }

/*Eqp Status tile item*/
.landing-page #ctl00_WebPartManager_scsEqpStatusWP_EquipmentTile.tileContainer.multiColumn.nowrap .tileColumn .item {
    flex: 1 0 calc(50% - 18.5px);
    min-width: 250px;
    min-height: 140px;
    max-width: none !important;
    border-left: 4px solid green;
    height: fit-content;
    cursor: pointer;
}

.landing-page .cs-command-sidebar .cmdbar-aspNetDisabled {
    opacity: .4;
    cursor: default;
}

@media only screen and (min-width: 1455px) {
    .landing-page #ctl00_WebPartManager_scsEqpStatusWP_EquipmentTile.tileContainer.multiColumn.nowrap .tileColumn .item {
        max-width: calc(50% - 18.5px) !important;
    }

    .landing-page .cell-m:nth-child(1) {
        flex: 1 0 58% !important;
    }

    .landing-page .cell-m:nth-child(2) {
        flex: 1 0 42% !important;
    }
}

/*Dispatch List tile item*/
.landing-page #ctl00_WebPartManager_scsDispatchListWP_DispatchListTile.tileContainer.multiColumn.nowrap .tileColumn .item {
    flex: 1 0 auto;
    min-width: 280px;
    min-height: 140px;
    height: fit-content;
    cursor: pointer;
}

@media only screen and (min-width: 1200px) {
    .landing-page #ctl00_WebPartManager_scsDispatchListWP_DispatchListTile.tileContainer.multiColumn.nowrap .tileColumn .item {
        flex: 1 0 calc(50% - 18.5px);
        max-width: calc(50% - 18.5px) !important;
    }
}

@media only screen and (min-width: 1820px) {
    .landing-page #ctl00_WebPartManager_scsDispatchListWP_DispatchListTile.tileContainer.multiColumn.nowrap .tileColumn .item {
        flex: 1 0 calc(33% - 16px);
        max-width: calc(33% - 16px) !important;
    }
}

/*Small screen when all is wrap into one column*/
@media only screen and (max-width: 1200px) {
    .landing-page #ctl00_WebPartManager_scsDispatchListWP_DispatchListTile.tileContainer.multiColumn.nowrap .tileColumn .item {
        flex: 1 0 calc(33% - 16px);
        max-width: calc(33% - 16px) !important;
    }

    .landing-page #ctl00_WebPartManager_scsEqpStatusWP_EquipmentTile.tileContainer.multiColumn.nowrap .tileColumn .item {
        max-width: calc(50% - 18.5px) !important;
    }
}

@media only screen and (max-width: 1090px) {
    .landing-page #ctl00_WebPartManager_scsDispatchListWP_DispatchListTile.tileContainer.multiColumn.nowrap .tileColumn .item {
        flex: 1 0 calc(50% - 18.5px);
        max-width: calc(50% - 18.5px) !important;
    }
}

@media only screen and (max-width: 750px) {
    .landing-page #ctl00_WebPartManager_scsDispatchListWP_DispatchListTile.tileContainer.multiColumn.nowrap .tileColumn .item {
        flex: 1 0 calc(100% - 21px);
        max-width: calc(100% - 21px) !important;
    }
}

@media only screen and (max-width: 640px) {
    .landing-page #ctl00_WebPartManager_scsEqpStatusWP_EquipmentTile.tileContainer.multiColumn.nowrap .tileColumn .item {
        max-width: none !important;
    }
}


.landing-page .lp-empty-state-txt, .landing-page .wlp-empty-state-txt, .landing-page .rlp-empty-state-txt, .landing-page .elp-empty-state-txt {
    text-align: center;
    font-size: x-large;
    color: #1e1e1e;
    opacity: .35;
    margin: 0 0 0 0;
}

.landing-page .lp-empty-state, .landing-page .wlp-empty-state, .landing-page .rlp-empty-state, .landing-page .elp-empty-state {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-flow: column;
    padding-bottom: 70px;
}

    .landing-page .lp-empty-state #lp-empty-state-img,
    .landing-page .wlp-empty-state #wlp-empty-state-img,
    .landing-page .rlp-empty-state #rlp-empty-state-img,
    .landing-page .elp-empty-state #elp-empty-state-img {
        opacity: .35;
        width: 150px;
        height: 150px;
    }

.landing-page .tileContainer .tileColumn .item {
    margin: 8px !important;
}

    .landing-page .cs-sidebar-panel .sidebar-panel-container .content .item:hover,
    .landing-page .tileContainer .tileColumn .item:hover {
        background: rgba(218, 236, 240, 0.45) !important;
    }

.landing-page .tileContainer .tileColumn .tile-selected:hover {
    background: #bedfe6 !important;
}

.landing-page .tileContainer.multiColumn.nowrap .tileColumn {
    margin: auto !important;
    padding-bottom: 15px;
}

.landing-page .tileContainer.nowrap .tileColumn .textArea {
    padding: 8px !important;
}

    .landing-page .tileContainer.nowrap .tileColumn .textArea > span {
        margin-left: 0 !important;
        margin-bottom: 3px !important;
    }

.landing-page .tileContainer .tileColumn .item .textArea .titleArea .icon {
    flex: 0 0 48px !important;
    min-height: 48px !important;
}

.landing-page-right .tileContainer .tileColumn .item .textArea .titleArea .title {
    width: 100%;
}

.item.action-redirect-button.cmdbar-cs-button-secondary.cmdbar-scs-LandingPage-WIP > span.item-icon {
    background-image: url(./../../assets/image/cmdWorkInProgress24.svg) !important;
}

.cs-command-sidebar .item span.item-icon.landing-page-refresh {
    background-image: url(../../Themes/Horizon/images/user/SCS/refresh24_24.svg) !important;
}

.cs-command-sidebar .item span.item-icon.landing-page-wip {
    background-image: url(./../../assets/image/cmdWorkInProgress24.svg) !important;
}

.cs-command-sidebar .item span.item-icon.landing-page-lotdetails {
    background-image: url(./../../assets/image/cmdWorkOrder24.svg) !important;
}

.cs-command-sidebar .item span.item-icon.landing-page-pm {
    background-image: url(./../../assets/image/cmdMaintenance24.svg) !important;
}

.cs-command-sidebar .item span.item-icon.landing-page-eqp-details {
    background-image: url(../../Themes/Horizon/images/icons/cmdInfo24.svg) !important;
}

.landing-page span.move-in {
    background: url(./../../assets/image/indicatorMoveIn16.svg) no-repeat center center;
    flex: 0 0 16px;
    min-height: 16px;
    margin-right: 5px;
}

.landing-page span.track-in {
    background: url(./../../assets/image/indicatorInputIntended16.svg) no-repeat center center;
    flex: 0 0 16px;
    min-height: 16px;
    margin-right: 5px;
}

.landing-page span.track-out {
    background: url(./../../assets/image/indicatorOutputIntended16.svg) no-repeat center center;
    flex: 0 0 16px;
    min-height: 16px;
    margin-right: 5px;
}

.landing-page span.move-out {
    background: url(./../../assets/image/indicatorMoveOut16.svg) no-repeat center center;
    flex: 0 0 16px;
    min-height: 16px;
    margin-right: 5px;
}

.landing-page span.on-hold {
    background: url(./../../assets/image/indicatorHold16.svg) no-repeat center center;
    flex: 0 0 16px;
    min-height: 16px;
    margin-left: 5px;
}

.landing-page .tileContainer .tileColumn .item .icon-first {
    background: url(./../../assets/image/typePartLot48.svg) no-repeat center top;
    flex: 0 0 48px !important;
    min-height: 48px !important;
    margin-left: 10px;
    margin-top: 10px;
}

.landing-page .tileContainer .tileColumn .item .eqp-icon-first {
    background: url(./../../assets/image/typeMachine48.svg) no-repeat center top;
    flex: 0 0 48px !important;
    min-height: 48px !important;
    margin-left: 10px;
    margin-top: 10px;
}

.landing-page .tileContainer .tileColumn .item .textArea .titleArea span.title {
    margin-left: 0px !important;
    margin-top: 3px;
    margin-bottom: 3px;
}

.landing-page .tag {
    color: white !important;
    display: flex;
    height: 1.6rem;
    font-size: .75rem;
    border-width: 0;
    border-radius: 0.75rem;
    margin: 0.125rem;
    align-items: center;
    background-color: #3296b9;
    border: 1px solid #000;
    padding: 6px 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 120px;
}

.landing-page .page-num {
    color: #0f789b;
    border-bottom: solid 2px #0f789b;
    font-weight: bold;
}

.landing-page #ctl00_WebPartManager_scsDispatchListWP_DispatchListTitle {
    margin-right: 5px;
}

.landing-page .matrix > .row > div.cell-m[key="item_r0_c0"] > span.cs-label,
.landing-page .matrix > .row > div.cell-m[key="item_r0_c1"] > span.cs-label {
    font-weight: bold;
}

.eqp-unavailable {
    border-left: 4px solid red !important;
}

.eqp-available {
    border-left: 4px solid green !important;
}

.eqp-lot-count {
    margin-left: 10px;
    border: 1px solid;
    padding-left: .5em;
    padding-right: .5em;
    border-radius: 999rem;
    min-width: 2em;
    vertical-align: middle;
    text-align: center;
    line-height: 1.3em;
    color: rgb(15,126,165) !important;
}

.eqp-status-icon {
    width: 16px;
    margin-top: 5px;
    margin-right: 5px;
}

.landing-page .cs-sidebar-panel .sidebar-panel-container .content .content-tbl .content-row .name::after {
    content: ":";
}

.landing-page .form-container.cmdbar-sticky .cs-sidebar-panel {
    position: absolute;
    top: 0px;
    left: calc((100vw - 400px) - 56px);
    width: 400px;
    display: none;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(170, 170, 170);
    border-image: initial;
}

.landing-page .cs-sidebar-panel .sidebar-panel-container .header .close-button.desktop .item-icon {
    filter: none !important;
}

.landing-page .cs-sidebar-panel .sidebar-panel-container .content .item {
    text-align: inherit !important;
    display: flex;
    flex: 0 0 auto;
    flex-wrap: nowrap;
    min-height: 75px;
    flex-direction: inherit !important;
    padding-top: 5px;
    padding-bottom: 5px;
}

.landing-page .cs-sidebar-panel .sidebar-panel-container .content div[data-name="PM"] .item .icon-first {
    background: url(./../../assets/image/typeChecklistMfg48.svg) no-repeat center top;
    flex: 0 0 48px !important;
    min-height: 48px !important;
    margin-right: 10px;
    margin-top: 10px;
}

.landing-page .cs-sidebar-panel .sidebar-panel-container .content span.icon-first {
    background: url(./../../assets/image/typePartLot48.svg) no-repeat center top;
    flex: 0 0 48px !important;
    min-height: 48px !important;
    margin-right: 10px;
    margin-top: 10px;
}

.landing-page .cs-sidebar-panel .sidebar-panel-container .content span.mat-icon-first {
    background: url(./../../assets/image/typePartRevision48.svg) no-repeat center top;
    flex: 0 0 48px !important;
    min-height: 48px !important;
    margin-right: 10px;
    margin-top: 10px;
}

.landing-page .cs-sidebar-panel .sidebar-panel-container .content span.tool-icon-first {
    background: url(./../../assets/image/typeTool48.svg) no-repeat center top;
    flex: 0 0 48px !important;
    min-height: 48px !important;
    margin-right: 10px;
    margin-top: 10px;
}

.landing-page .accordionHeader {
    flex: 0 0 auto;
    font-weight: 700;
    font-size: 18px;
    background-color: #f0f0f0;
    padding: 12px 0;
    width: auto;
    margin: 0 11px 8px 13px;
}

.landing-page .cs-sidebar-panel .sidebar-panel-container .accordionContent {
    flex: 0 0 auto;
    margin-left: 17px;
    margin-right: 17px;
}

.landing-page .cs-sidebar-panel .sidebar-panel-container .accordionContent.opened {
    padding-top: 8px;
    padding-bottom: 16px;
    margin-left: 17px;
    margin-right: 17px;
}

.landing-page .cs-sidebar-panel .sidebar-panel-container .accordionHeader div.headerImageContainer {
    display: inline-block;
    padding-left: 10px;
}

.landing-page .cs-sidebar-panel .sidebar-panel-container .accordionHeader .headerImageContainer .arrow {
    background: none;
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-top-width: 6px;
    border-bottom-width: 6px;
    border-left-width: 6px;
    border-left-color: #1a1a1a;
    padding: 0;
    margin-bottom: 3px;
    vertical-align: middle;
}

.landing-page .cs-sidebar-panel .sidebar-panel-container .accordionHeader.opened .headerImageContainer .arrow {
    background: none;
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-left-width: 6px;
    border-right-width: 6px;
    border-top-width: 6px;
    border-top-color: #1a1a1a;
    padding: 0;
    vertical-align: middle;
    margin-bottom: 3px;
}

.landing-page .cs-sidebar-panel .sidebar-panel-container .accordionHeader span.accordionHeaderLabel {
    flex: 1 1;
    padding-left: 5px;
}

.landing-page .cs-sidebar-panel .sidebar-panel-container .content .item .textArea .titleArea span.title {
    font-weight: bold;
    color: #1e1e1e;
}

.landing-page .cs-sidebar-panel .sidebar-panel-container .content .item .textArea {
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    margin: 3px;
}

.landing-page .cs-sidebar-panel .sidebar-panel-container .content .right .cs-button {
    float: right;
    bottom: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 15px;
    margin-bottom: 15px;
}

@media (min-width: 768px) {
    .landing-page .form-container.cmdbar-sticky .cs-sidebar-panel {
        left: calc(((100vw - 400px) - 56px) - 28px);
    }
}

.landing-page #WebPart_scsWIPChartWP div.cell-m {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 0px !important;
    flex: 1 0 50% !important;
}

/* Dispatch List & Equipment List Filter Section */
.landing-page .dispatchlist-filter, .landing-page .eqipmentstatus-filter {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    flex-grow: 100;
    align-items: center;
    padding-right: 15px;
}

.landing-page .cs-clear {
    background: url(../../Themes/Horizon/images/icons/cmdDelete16-active.svg) no-repeat center center;
    height: 2em;
    width: 30px;
    cursor: pointer;
    color: transparent
}

.landing-page .btnLotFilter, .landing-page .btnEqpFilter {
    flex: 0 0 16px;
    min-height: 16px;
    margin-right: 6px;
    margin-left: 6px;
    cursor: pointer;
    color: transparent;
    padding-left: 8px;
    padding-right: 8px;
}

.landing-page .btnLotFilter-selected, .landing-page .btnEqpFilter-selected {
    flex: 0 0 16px;
    min-height: 16px;
    margin-right: 6px;
    margin-left: 6px;
    cursor: pointer;
    color: transparent;
    padding-left: 8px;
    padding-right: 8px;
    background-color: #BFD7E1 !important;
    box-shadow: 0px 1px 3px 0px #005F87;
}

.landing-page .btnLotFilter:hover, .landing-page .btnEqpFilter:hover {
    background-color: #BFD7E1 !important;
    box-shadow: 0px 1px 3px 0px #005F87;
    cursor: pointer;
}

#WebPart_scsDispatchListWP_FilterLot, #WebPart_scsEquipmentWP_FilterEqp {
    width: 100%;
    height: 2em;
    font-size: 15px;
    margin: 0px;
}

.landing-page .move-in {
    background: url(./../../assets/image/indicatorMoveIn16.svg) no-repeat center center;
}

.landing-page .track-in {
    background: url(./../../assets/image/indicatorInputIntended16.svg) no-repeat center center;
}

.landing-page .track-out {
    background: url(./../../assets/image/indicatorOutputIntended16.svg) no-repeat center center;
}

.landing-page .move-out {
    background: url(./../../assets/image/indicatorMoveOut16.svg) no-repeat center center;
}

.landing-page .btnLotFilter .icon-selected:hover, .landing-page button.btnEqpFilter .icon-selected:hover {
    background: #bedfe6 !important;
    cursor: pointer;
}

.landing-page .btnLotFilter .selected, .landing-page .btnEqpFilter .selected {
    background-color: #BFD7E1 !important;
    box-shadow: 0px 1px 3px 0px #005F87;
}

.landing-page .btnEqpFilter.available {
    background: url(./../../assets/image/indicatorStatusReady16.svg) no-repeat center center;
}

.landing-page .btnEqpFilter.unavailable {
    background: url(./../../assets/image/indicatorStatusStopped16.svg) no-repeat center center;
}

.landing-page #filterIconLbl {
    padding: 0px 10px 0px 100px;
}

.landing-page #filtericonlbleqp {
    padding: 0px 10px 0px 50px;
}

.landing-page .eqipmentstatus-filter div:first-child, .landing-page .dispatchlist-filter div:first-child {
    width: 230px;
}
