/*
***************************************************************************
Copyright 2022 Siemens
This file include all user-defined CSS classes for the Wip Main Simple 
***************************************************************************
*/

/*header*/
.scswipmainsimple #WebPart_scsWIPMain_ControllerWP > div > div:nth-child(2) > .cell-m {
    max-width: 380px;
    display: flex;
    flex-direction: row;
    flex: 0 0 auto !important;
}

.scswipmainsimple #WebPart_scsWIPMain_ControllerWP > div > div:nth-child(2) > div:nth-child(1) {
    max-width: 350px;
}

.scswipmainsimple #WebPart_scsWIPMain_ControllerWP > div > div:nth-child(2) > .cell-m .cs-button-image {
    margin-top: 10px !important;
    background-color: transparent;
    cursor: pointer;
    max-width: 16px !important;
    max-height: 16px !important;
    text-align: center;
    vertical-align: middle;
}

.scswipmainsimple .cell-m .cs-checkbox {
    margin-top: 0px;
}

/* set empty row cell */
.scswipmainsimple .row.empty {
    border: none;
    padding: 0px;
    margin: 0px;
    height: 0px;
}

/*
.scswipmainsimple .simplewipmain-iconlabel {
    font-weight: 600;
    font-size: 13px;
    width: 70px;
}
    */

/* Dropdrop filter icons*/
.scswipmainsimple .dropdown {
    position: initial;
    display: inline-block;
}


.scswipmainsimple .dropdown-content {
    position: absolute;
    width: 150px;
    box-shadow: rgb(0 0 0 / 10%) 0px 6px 10px 0px;
    border-radius: 5px;
    margin-top: 0.3rem;
    background: white;
    visibility: hidden;
    opacity: 0;
    transform: translateY(0.5rem);
    transition: all 0.1s cubic-bezier(0.16, 1, 0.5, 1);
    z-index: 9999;
}

    .scswipmainsimple .dropdown-content button {
        display: flex;
        padding: 8px 0 8px 50px;
        flex: 0 0 16px;
        min-height: 24px;
        background-position: left 5% center !important;
        font-weight: 600;
        font-size: 13px;
        background-size: 24px !important;
    }

        .scswipmainsimple .dropdown-content button:hover {
            background-color: #daecf0;
        }

    .scswipmainsimple .dropdown-content .move-in,
    .scswipmainsimple #ctl00_WebPartManager_scsWIPMain_ControllerWP_btnDispFilter.move-in {
        background: url(./../../assets/image/indicatorMoveIn16.svg) no-repeat left center;
    }

    .scswipmainsimple .dropdown-content .track-in,
    .scswipmainsimple #ctl00_WebPartManager_scsWIPMain_ControllerWP_btnDispFilter.track-in {
        background: url(./../../assets/image/indicatorInputIntended16.svg) no-repeat left center;
    }

    .scswipmainsimple .dropdown-content .track-out,
    .scswipmainsimple #ctl00_WebPartManager_scsWIPMain_ControllerWP_btnDispFilter.track-out {
        background: url(./../../assets/image/indicatorOutputIntended16.svg) no-repeat left center;
    }

    .scswipmainsimple .dropdown-content .move-out,
    .scswipmainsimple #ctl00_WebPartManager_scsWIPMain_ControllerWP_btnDispFilter.move-out {
        background: url(./../../assets/image/indicatorMoveOut16.svg) no-repeat left center;
    }

    .scswipmainsimple .dropdown-content .available,
    .scswipmainsimple #ctl00_WebPartManager_scsWIPMain_ControllerWP_btnEqpFilter.available {
        background: url(./../../assets/image/indicatorStatusReady16.svg) no-repeat left center;
    }

    .scswipmainsimple .dropdown-content .unavailable,
    .scswipmainsimple #ctl00_WebPartManager_scsWIPMain_ControllerWP_btnEqpFilter.unavailable {
        background: url(./../../assets/image/indicatorStatusStopped16.svg) no-repeat left center;
    }

    .scswipmainsimple .dropdown-content .selected {
        background-color: #daecf0;
    }

.scswipmainsimple .show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0rem);
}
/* End dropdown filter icons*/
.scswipmainsimple #WebPart_scsWIPMain_ControllerWP > .matrix > .row:nth-child(2) [key="item_r1_c0"] {
    border: inherit;
    height: inherit;
    flex: 0 0 25% !important;
    padding-bottom: 10px;
    padding-top: 20px;
}

.scswipmainsimple #WebPart_scsWIPMain_ControllerWP .cs-textbox > input[type="text"],
.scswipmainsimple .simple-wipmain-buttonIn > input[type="text"] {
    height: 2em;
    font-size: 15px;
    margin: 0px;
}

.scswipmainsimple .simple-wipmain-buttonIn {
    position: relative;
}

    .scswipmainsimple .simple-wipmain-buttonIn > input[type="button"] {
        position: absolute;
        background: url(../../Themes/Horizon/images/icons/cmdDelete16-active.svg) no-repeat center center;
        height: 2em;
        width: 30px;
        cursor: pointer;
        color: transparent;
        right: 0px;
        z-index: 2;
        border: none;
        display: none;
    }

.scswipmainsimple #WebPart_scsWIPMain_ControllerWP > .matrix > .row:nth-child(2) [key="item_r0_c0"] {
    border: inherit;
    height: inherit;
    flex: 0 0 25%;
    padding-bottom: 10px;
}

.scswipmainsimple #WebPart_scsWIPMain_ControllerWP > .matrix > .row:nth-child(2) [key="item_r0_c2"] {
    display: flex;
}

.scswipmainsimple #WebPart_scsWIPMain_ControllerWP > div > div:nth-child(2) > div {
    align-items: center;
}


/*content*/
.scswipmainsimple .wipmainsimple-dispatch .cell-m, .scswipmainsimple .wipmainsimple-equipment .cell-m, .scswipmainsimple .wipmainsimple-content .cell-m {
    padding-left: 15px !important;
}

.wipmainsimple-dispatch {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    min-height: 25vh;
    overflow: auto;
    background: white;
    page-break-inside: avoid;
    transition: all 250ms;
    box-sizing: border-box;
}

.wipmainsimple-equipment {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    height: 100%;
    min-height: 10vh;
    overflow: auto;
    background: white;
    page-break-inside: avoid;
    transition: all 250ms;
    box-sizing: border-box;
}

.wipmainsimple-content {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    height: 100%;
    min-height: 10vh;
    overflow: auto;
    background: white;
    page-break-inside: avoid;
    transition: all 250ms;
    /*border-radius: 0.5rem;*/
    box-sizing: border-box;
    /*box-shadow: 0 1px 2px rgb(55 63 66 / 7%), 0 2px 4px rgb(55 63 66 / 7%), 0 4px 8px rgb(55 63 66 / 7%), 0 8px 16px rgb(55 63 66 / 7%), 0 16px 24px rgb(55 63 66 / 7%), 0 24px 32px rgb(55 63 66 / 7%);*/
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
    border: solid 1px rgba(220,220,220,0.5);
    border-radius: 3px;
}

.wipmainsimple-small {
    width: 10%;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    min-height: 45vh;
    max-height: calc(50% - 1rem);
    overflow: hidden;
    background: white;
    page-break-inside: avoid;
    transition: all 250ms;
    /*border-radius: 0.5rem;*/
    box-sizing: border-box;
    /*box-shadow: 0 1px 2px rgb(55 63 66 / 7%), 0 2px 4px rgb(55 63 66 / 7%), 0 4px 8px rgb(55 63 66 / 7%), 0 8px 16px rgb(55 63 66 / 7%), 0 16px 24px rgb(55 63 66 / 7%), 0 24px 32px rgb(55 63 66 / 7%);*/
    box-shadow: rgb(141 149 166 / 10%) 0px 2px 4px;
    border-radius: 0.5rem;
}

.scswipmainsimple .wipmainsimple-right .row,
.scswipmainsimple .wipmainsimple-left .row {
    margin: 0 auto !important;
}

/*Eqp Status tile item*/
.scswipmainsimple #ctl00_WebPartManager_scsEqpStatusWP_EquipmentTile.tileContainer.multiColumn.nowrap .tileColumn .item {
    flex: 1 0 calc(50% - 18.5px);
    min-width: 250px;
    min-height: 140px;
    max-width: none !important;
    border-left: 4px solid green;
    height: fit-content;
    cursor: pointer;
}

.scswipmainsimple .cs-command-sidebar .cmdbar-aspNetDisabled {
    opacity: .4;
    cursor: default;
}

.scswipmainsimple .scswipmainsimple-left {
    flex: 0 0 300px !important;
    border: none;
    padding-left: 0px;
    padding-right: 0px;
	width: 300px;
}

.scswipmainsimple .scswipmainsimple-right {
    flex: 1 1 0% !important;
    border: none;
    padding-left: 0px;
    padding-right: 0px;
}

/*Dispatch List tile item*/


.scswipmainsimple #ctl00_WebPartManager_scsDispatchListWP_DispatchListTile.tileContainer.multiColumn.nowrap .tileColumn .item {
    flex: 1 0 auto;
    min-width: 270px;
    min-height: 100px;
    height: fit-content;
    cursor: pointer;
}

@media only screen and (min-width: 1455px) {
    .scswipmainsimple #ctl00_WebPartManager_scsEqpStatusWP_EquipmentTile.tileContainer.multiColumn.nowrap .tileColumn .item {
        max-width: calc(50% - 18.5px) !important;
    }
}

@media only screen and (min-width: 1200px) {
    .scswipmainsimple #ctl00_WebPartManager_scsDispatchListWP_DispatchListTile.tileContainer.multiColumn.nowrap {
        overflow-x: hidden;
        height: calc(100vh - 220px);
    }

        .scswipmainsimple #ctl00_WebPartManager_scsDispatchListWP_DispatchListTile.tileContainer.multiColumn.nowrap .tileColumn .item {
            flex: 1 0 calc(50% - 18.5px);
            max-width: calc(50% - 18.5px) !important;
        }
}

@media only screen and (min-width: 1820px) {
    .scswipmainsimple #ctl00_WebPartManager_scsDispatchListWP_DispatchListTile.tileContainer.multiColumn.nowrap {
        overflow-x: hidden;
        height: calc(100vh - 145px);
    }

        .scswipmainsimple #ctl00_WebPartManager_scsDispatchListWP_DispatchListTile.tileContainer.multiColumn.nowrap .tileColumn .item {
            flex: 1 0 calc(33% - 16px);
            max-width: calc(33% - 16px) !important;
        }
}

/*Small screen when all is wrap into one column*/
@media only screen and (max-width: 1200px) {
    .scswipmainsimple #ctl00_WebPartManager_scsDispatchListWP_DispatchListTile.tileContainer.multiColumn.nowrap .tileColumn .item {
        flex: 1 0 calc(33% - 16px);
        max-width: calc(33% - 16px) !important;
    }

    .scswipmainsimple #ctl00_WebPartManager_scsEqpStatusWP_EquipmentTile.tileContainer.multiColumn.nowrap .tileColumn .item {
        max-width: calc(50% - 18.5px) !important;
    }
}

@media only screen and (max-width: 1090px) {
    .scswipmainsimple #ctl00_WebPartManager_scsDispatchListWP_DispatchListTile.tileContainer.multiColumn.nowrap .tileColumn .item {
        flex: 1 0 calc(50% - 18.5px);
        max-width: calc(50% - 18.5px) !important;
    }
}

@media only screen and (max-width: 750px) {
    .scswipmainsimple #ctl00_WebPartManager_scsDispatchListWP_DispatchListTile.tileContainer.multiColumn.nowrap .tileColumn .item {
        flex: 1 0 calc(100% - 21px);
        max-width: calc(100% - 21px) !important;
    }
}

@media only screen and (max-width: 640px) {
    .scswipmainsimple #ctl00_WebPartManager_scsEqpStatusWP_EquipmentTile.tileContainer.multiColumn.nowrap .tileColumn .item {
        max-width: none !important;
    }
}


/*empty state*/
.scswipmainsimple .lp-empty-state-txt, .scswipmainsimple .wlp-empty-state-txt, .scswipmainsimple .rlp-empty-state-txt, .scswipmainsimple .elp-empty-state-txt {
    text-align: center;
    font-size: large;
    color: #1e1e1e;
    opacity: .35;
    margin: 0 0 0 0;
}

.scswipmainsimple .lp-empty-state, .scswipmainsimple .wlp-empty-state, .scswipmainsimple .rlp-empty-state, .scswipmainsimple .elp-empty-state {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-flow: column;
}

    .scswipmainsimple .lp-empty-state #lp-empty-state-img,
    .scswipmainsimple .wlp-empty-state #wlp-empty-state-img,
    .scswipmainsimple .rlp-empty-state #rlp-empty-state-img,
    .scswipmainsimple .elp-empty-state #elp-empty-state-img {
        opacity: .35;
        width: 90px;
        height: 90px;
    }

/* Tile style*/
.scswipmainsimple .tileContainer .tileColumn .item {
    margin: 8px !important;
}

    .scswipmainsimple .cs-sidebar-panel .sidebar-panel-container .content .item:hover,
    .scswipmainsimple .tileContainer .tileColumn .item:hover {
        background: rgba(218, 236, 240, 0.45) !important;
    }

.scswipmainsimple .tileContainer .tileColumn .tile-selected:hover {
    background: #bedfe6 !important;
}

.scswipmainsimple .tileContainer.multiColumn .tileColumn {
    position: relative;
    flex: 1 0 328px;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0 !important;
}

.scswipmainsimple .tileContainer.nowrap .tileColumn .textArea {
    padding: 8px !important;
}

    .scswipmainsimple .tileContainer.nowrap .tileColumn .textArea > span {
        margin-left: 0 !important;
        margin-bottom: 3px !important;
    }

    .scswipmainsimple .tileContainer.nowrap .tileColumn .textArea > .infoHide {
        display: none;
    }

    .scswipmainsimple .tileContainer.nowrap .tileColumn .textArea > .show {
        display: block !important;
    }

.scswipmainsimple .tileContainer .tileColumn .item .textArea .titleArea .icon {
    flex: 0 0 48px !important;
    min-height: 48px !important;
}

.scswipmainsimple-right .tileContainer .tileColumn .item .textArea .titleArea .title {
    width: 100%;
}

.scswipmainsimple .wipmainsimple-icon {
    flex: 0 0 16px;
    min-height: 24px;
    padding-left: 30px;
    font-weight: 600;
    font-size: 13px;
}

.scswipmainsimple #ctl00_WebPartManager_scsWIPMain_ControllerWP_btnDispFilter {
    background: url(./../../assets/image/cmdNextRequired16.svg) no-repeat left center;
}

.scswipmainsimple #ctl00_WebPartManager_scsWIPMain_ControllerWP_btnEqpFilter {
    background: url(./../../assets/image/cmdCheckConsistency24.svg) no-repeat left center;
}

.scswipmainsimple #ctl00_WebPartManager_scsWIPMain_ControllerWP_btnExpand {
    background: url(./../../assets/image/cmdExpandBelow16.svg) no-repeat left center;
}

    .scswipmainsimple #ctl00_WebPartManager_scsWIPMain_ControllerWP_btnExpand.show {
        background: url(./../../assets/image/cmdCollapseBelow16.svg) no-repeat left center !important;
    }

.scswipmainsimple span.move-in {
    background: url(./../../assets/image/indicatorMoveIn16.svg) no-repeat center center;
    flex: 0 0 16px;
    min-height: 16px;
    margin-right: 5px;
}

.scswipmainsimple span.track-in {
    background: url(./../../assets/image/indicatorInputIntended16.svg) no-repeat center center;
    flex: 0 0 16px;
    min-height: 16px;
    margin-right: 5px;
}

.scswipmainsimple span.track-out {
    background: url(./../../assets/image/indicatorOutputIntended16.svg) no-repeat center center;
    flex: 0 0 16px;
    min-height: 16px;
    margin-right: 5px;
}

.scswipmainsimple span.move-out {
    background: url(./../../assets/image/indicatorMoveOut16.svg) no-repeat center center;
    flex: 0 0 16px;
    min-height: 16px;
    margin-right: 5px;
}

.scswipmainsimple span.on-hold {
    background: url(./../../assets/image/indicatorHold16.svg) no-repeat center center;
    flex: 0 0 16px;
    min-height: 16px;
    margin-left: 5px;
}

.scswipmainsimple .tileContainer .tileColumn .item .icon-first {
    background: url(./../../assets/image/typePartLot48.svg) no-repeat center top;
    flex: 0 0 45px !important;
    min-height: 45px !important;
    margin-left: 10px;
    margin-top: 10px;
    display: flex;
}

.scswipmainsimple .tileContainer .tileColumn .item .eqp-icon-first {
    background: url(./../../assets/image/typeMachine48.svg) no-repeat center top;
    flex: 0 0 48px !important;
    min-height: 48px !important;
    margin-left: 10px;
    margin-top: 10px;
}

.scswipmainsimple .tileContainer .tileColumn .item .icon-first .tileCheckbox {
    width: 20px;
    height: 20px;
    align-self: flex-end;
    margin-bottom: 10px;
}

.scswipmainsimple .tileContainer .tileColumn .item .textArea .titleArea span.title {
    margin-right: 5px !important;
    margin-top: 3px;
    margin-bottom: 3px;
}

.scswipmainsimple .tileContainer.nowrap .tileColumn .textArea span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #464646;
}

.scswipmainsimple .tag {
    color: white !important;
    display: flex;
    height: 1.6rem;
    font-size: .75rem;
    border-width: 0;
    border-radius: 0.75rem;
    margin: 0.125rem;
    align-items: center;
    background-color: #3296b9;
    border: 1px solid #000;
    padding: 6px 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 120px;
}

.scswipmainsimple .page-num {
    color: #0f789b;
    border-bottom: solid 2px #0f789b;
    font-weight: bold;
}

.scswipmainsimple #ctl00_WebPartManager_scsDispatchListWP_DispatchListTitle {
    margin-right: 5px;
    margin-left: 10px;
}

.scswipmainsimple #ctl00_WebPartManager_scsDispatchListWP_btnDispLotSelectedFilter {
    margin-top: 10px !important;
    box-shadow: none;
    border: none;
    border-color: transparent;
    color: transparent;
    background-color: transparent;
    width: 24px !important;
    height: 24px !important;
    background-image: url(./../../assets/image/miscFilter16.svg) !important;
    outline: none;
}

    .scswipmainsimple #ctl00_WebPartManager_scsDispatchListWP_btnDispLotSelectedFilter.filtered {
        background-image: url(./../../assets/image/indicatorFilter16.svg) !important;
    }

.scswipmainsimple .matrix > .row > div.cell-m[key="item_r0_c0"] > span.cs-label,
.scswipmainsimple .matrix > .row > div.cell-m[key="item_r0_c1"] > span.cs-label {
    font-weight: bold;
}
/* End Tile Style*/
/* Scroll Bar */
/*
#ctl00_WebPartManager_scsDispatchListWP_DispatchListTile::-webkit-scrollbar {
    width: 12px;
}

#ctl00_WebPartManager_scsDispatchListWP_DispatchListTile::-webkit-scrollbar-track {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
}

#ctl00_WebPartManager_scsDispatchListWP_DispatchListTile::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #e1e1e1;
}
    */
/* End Scroll Bar */
/* Start Activity Tiles */
.scswipmainsimple .activity-section .complete {
    border-left: 4px solid #0A9B00;
    background: #EDFBF5;
}

.scswipmainsimple .activity-section .pending {
    border-left: 4px solid #FFCD50;
    background: rgba(255, 247, 205, 0.45);
}

.scswipmainsimple .activity-section .optional {
    border-left: 4px solid #006487;
    background: #e9fbff;
}

.scswipmainsimple .activity-section .error {
    border-left: 4px solid #FF0000;
    background: #ffeae9;
}

.scswipmainsimple .activity-section .activity-toggle-container {
    line-height: 15px;
    padding: 10px;
    margin: 10px 10px 10px 10px;
    box-shadow: 0 0 2px 0 rgb(0 0 0 / 30%);
}

#ctl00_WebPartManager_ItemsWP_ItemsToggler_CollapsableSectionExDiv .toggle-control-container,
#ctl00_WebPartManager_EquipmentWP_EqpToggler_CollapsableSectionExDiv .toggle-control-container {
    line-height: 15px;
    padding: 10px;
}


.scswipmainsimple .activity-section .activity-header {
    display: flex;
    flex-wrap: nowrap;
    cursor: pointer;
}

.scswipmainsimple .activity-section .header-text {
    flex-grow: 1;
    color: #464646;
    font-weight: 600;
}

.scswipmainsimple .activity-section .header-title {
    line-height: 24px;
}

.scswipmainsimple .activity-section .header-detail {
    line-height: 24px;
    font-size: small;
}

.scswipmainsimple .activity-section .activity-content {
    padding-top: 10px;
}

.scswipmainsimple .card div.toggle-container .content {
    background-color: #fff;
    border: none;
    margin: 0px;
    padding: 0px;
}

/* .scswipmainsimple div.toggle-container .header div > span {
    padding-right: 24px;
}*/
#ctl00_WebPartManager_ActivityWP_ActivityToggler > div.toggle-container > .header:first-of-type {
    vertical-align: middle;
    display: inline-flex;
    flex: 0 0 auto;
    font-weight: 700;
    font-size: 17px;
    padding: 10px 0;
    width: 100%;
    line-height: 30px !important;
}

#ctl00_WebPartManager_ActivityWP_ActivityToggler div.toggle-container .header {
    vertical-align: middle;
    line-height: 40px;
    color: inherit;
}

    #ctl00_WebPartManager_ActivityWP_ActivityToggler div.toggle-container .header > img {
        padding-right: 0px;
        vertical-align: middle;
        margin-top: 4px;
    }

.scswipmainsimple #WIPTransactionIcon {
    display: flex;
    float: left;
    width: 25px;
    height: auto;
    align-items: center;
    margin-right: 10px;
    margin-top: 0px;
}

    .scswipmainsimple #WIPTransactionIcon > .item {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        box-sizing: border-box;
        width: 100%;
        height: 30px;
        margin-right: 3px;
    }


    .scswipmainsimple #WIPTransactionIcon .item > img {
        width: 22px;
        margin-left: auto;
        margin-right: auto;
        visibility: hidden;
    }


    .scswipmainsimple #WIPTransactionIcon .active > img {
        visibility: visible !important;
    }

/* End Activity Tiles */

/*Eqp Status tile item*/
.scswipmainsimple #ctl00_WebPartManager_scsEqpStatusWP_EquipmentTile.tileContainer.multiColumn.nowrap .tileColumn {
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    width: 0px;
}

	.scswipmainsimple #ctl00_WebPartManager_scsEqpStatusWP_EquipmentTile.tileContainer.multiColumn.nowrap .tileColumn .item {
		flex: 1 0 calc(50% - 18.5px);
		min-width: 50px;
		min-height: 50px;
		max-width: 150px !important;
		/* border-left: 4px solid green; */
		height: fit-content;
		cursor: pointer;
	}

	.scswipmainsimple .eqp-status-icon {
		width: 16px;
		margin-top: 3px;
		margin-right: 2px;
		margin-left: 5px !important;
		margin-bottom: 3px;
	}

	.scswipmainsimple .eqp-lot-count {
		margin-left: 0px;
		padding-left: 0.5em;
		padding-right: 0.5em;
		min-width: 2em;
		vertical-align: middle;
		text-align: center;
		line-height: 1.3em;
		color: rgb(15, 126, 165) !important;
		border-width: 1px;
		border-style: solid;
		border-color: initial;
		border-image: initial;
		border-radius: 999rem;
	}

	.scswipmainsimple .tileContainer .tileColumn .item .textArea .titleArea {
		display: flex;
		align-items: center;
		text-align: center;
	}

/*CommandBar*/

.cs-command-sidebar .item span.item-icon.simple-wipmain-submit {
    background-image: url(./images/commandbar/cmdbar-shopfloor-submit.svg) !important;
}

.cs-command-sidebar .item span.item-icon.simple-wipmain-reset {
    background-image: url(./images/commandbar/cmdbar-shopfloor-reset.svg) !important;
}

.cs-command-sidebar .item span.item-icon.simple-wipmain-carrier {
    background-image: url(../../Themes/Horizon/images/user/SCS/cmdTransport24.svg) !important;
}

.cs-command-sidebar .item span.item-icon.simple-wipmain-details {
    background-image: url(./../../assets/image/cmdWorkOrder24.svg) !important;
}

.cs-command-sidebar .item span.item-icon.simple-wipmain-equipment {
    background-image: url(./../../assets/image/cmdMachine24.svg) !important;
}

.cs-command-sidebar .item span.item-icon.simple-wipmain-undotrackin {
    background-image: url(./../../assets/image/cmdUndo24.svg) !important;
}

.cs-command-sidebar .item span.item-icon.simple-wipmain-pe {
    background-image: url(../../assets/image/cmdNonConformance24.svg);
}

.cs-command-sidebar .item span.item-icon.simple-wipmain-workflow {
    background-image: url(../../Themes/Horizon/images/icons/cmdInfo24.svg) !important;
}

.cs-command-sidebar .item span.item-icon.simple-wipmain-pretrackin {
    background-image: url(../../assets/image/cmdPartBehaviourSet24.svg);
}

.cs-command-sidebar .item span.item-icon.simple-wipmain-lotinfo {
    background-image: url(../../Themes/Horizon/images/user/SCS/ss_lotinfo.svg) !important;
}

.cs-command-sidebar .item span.item-icon.simple-wipmain-onlinetraveler {
    background-image: url(../../Themes/Horizon/images/user/SCS/ss_onlinetraveler.svg) !important;
}

.cs-command-sidebar .item span.item-icon.simple-wipmain-wipmsg {
    background-image: url(../../Themes/Horizon/images/user/SCS/ss_wipmessages.svg) !important;
}

.cs-command-sidebar .item span.item-icon.simple-wipmain-failure {
    background-image: url(../../Themes/Horizon/images/user/SCS/ss_wiplotfailures.svg) !important;
}

.cs-command-sidebar .item span.item-icon.simple-wipmain-spcchart {
    background-image: url(../../Themes/Horizon/images/user/SCS/ss_lastspc.svg) !important;
}

.cs-command-sidebar .item span.item-icon.simple-wipmain-resourceinfo {
    background-image: url(../../Themes/Horizon/images/user/SCS/ss_equipmentlots.svg) !important;
}

.cs-command-sidebar .item span.item-icon.simple-wipmain-surveill {
    background-image: url(../../Themes/Horizon/images/user/SCS/cctv.svg) !important;
}
