/*
***************************************************************************
Copyright 2022 Siemens
***************************************************************************
*/

    #ctl00_WebPartManager_SS_WIPMain_LotItemWP_WIPMain_LotItemTab_ctl00,
    #ctl00_WebPartManager_SS_WIPMain_LotItemWP_WIPMain_LotItemTab_ctl02,
    #ctl00_WebPartManager_SS_WIPMain_LotItemWP_WIPMain_LotItemTab_ctl04,
    #WebPart_SS_WIPEquipmentSetupWP {
        height: 100% !important;
        width: 100% !important;
    }

    .ss-wipmainbody .form-container .form-scrollablepanel .test > #DynamicContentDiv > Div > table > tbody > tr:nth-child(1) > td:nth-child(2) > div,
    .ss-wipmainbody .form-container .form-scrollablepanel .test > #DynamicContentDiv > Div > table > tbody > tr:nth-child(1) > td:nth-child(2) > div > div > table,
    #WebPart_SS_WIPMain_TxnTabWP,
    #WebPart_SS_WIPMain_TxnTabWP_UIComponent {
        height: 100%;
    }

    #ctl00_WebPartManager_SS_WIPMain_ControllerWP_SelectionImage {
        display: none !important;
    }

    .ss-wipmainbody #ctl00_WebPartManager_SS_WIPItemRejectsWP_WIPItemRejects_MaxRejectQty,
    .ss-wipmainbody #ctl00_WebPartManager_SS_WIPItemRejectsWP_WIPItemRejects_WaferRejectsQty {
        width: auto !important;
    }

    #WebPart_SS_WIPMain_TxnTabWP > .matrix {
        height: 100% !important;
        width: calc(100% - 25px);
    }

    .ss-wipmainbody .form-container .form-scrollablepanel {
        overflow: auto;
    }

    #WebPart_SS_WIPMain_InfoWP > table > tbody > tr:nth-child(2) td,
    #WebPart_SS_WIPMain_InfoWP > table > tbody > tr:nth-child(3) td {
        padding: 0 12px 0 0;
    }

    #ctl00_WebPartManager_SS_WIPMain_ControllerWP_WIPMain_LotSelectPopup,
    #ctl00_WebPartManager_SS_WIPMain_ControllerWP_WIPMain_ResourceSelectPopup,
    #ctl00_WebPartManager_SS_WIPEqpMaterialsSetupWP_WIPEqpMaterialsSetup_MaterialPartButton,
    #ctl00_WebPartManager_SS_WIPEqpMaterialsSetupWP_WIPEqpMaterialsSetup_ProductButton {
        margin-top: 34px !important;
    }

    #WebPart_SS_WIPMain_HomeWP,
    #WebPart_SS_WIPMain_ControllerWP,
    #WebPart_SS_WIPMain_LotItemWP,
    #WebPart_SS_WIPMain_TxnTabWP #WebPart_SS_WIPEquipmentSetupWP.ss-wipequipsetup-webpart {
        width: 100% !important;
    }

    #ctl00_WebPartManager_SS_WIPMain_TxnTabWP_WIPMain_TxnTab > .cs-tab-pages > div[id^="ctl00_WebPartManager_SS_WIPMain_TxnTabWP_WIPMain_TxnTab_ctl"] {
        height: 720px !important;
        overflow: auto !important;
        border: 1px solid #cfcfcf;
    }


    #ctl00_WebPartManager_SS_WIPMain_ControllerWP_WIPMain_LotSelectRadio,
    #ctl00_WebPartManager_SS_WIPMain_ControllerWP_WIPMain_ResourceSelectRadio {
        margin: 5px;
    }


    #WebPart_SS_WIPMain_ControllerWP,
    #gbox_ctl00_WebPartManager_WIPMain_LotItemWP_ItemGridWP_WIPMain_ItemDataGrid,
    #gview_ctl00_WebPartManager_WIPMain_LotItemWP_ItemGridWP_WIPMain_ItemDataGrid,
    #gview_ctl00_WebPartManager_WIPMain_LotItemWP_ItemGridWP_WIPMain_ItemDataGrid > div:nth-child(2),
    #gview_ctl00_WebPartManager_WIPMain_LotItemWP_ItemGridWP_WIPMain_ItemDataGrid > div:nth-child(3),
    #ctl00_WebPartManager_WIPMain_LotItemWP_ItemGridWP_WIPMain_ItemDataGrid_pager,
    #gbox_ctl00_WebPartManager_WIPMain_LotItemWP_LotGridWP_WIPMain_LotDataGrid,
    #gview_ctl00_WebPartManager_WIPMain_LotItemWP_LotGridWP_WIPMain_LotDataGrid,
    #gview_ctl00_WebPartManager_WIPMain_LotItemWP_LotGridWP_WIPMain_LotDataGrid > div:nth-child(2),
    #gview_ctl00_WebPartManager_WIPMain_LotItemWP_LotGridWP_WIPMain_LotDataGrid > div:nth-child(3),
    #ctl00_WebPartManager_WIPMain_LotItemWP_LotGridWP_WIPMain_LotDataGrid_pager,
    #gbox_ctl00_WebPartManager_WIPMain_LotItemWP_CarrierGridWP_WIPMain_CarriersSelection,
    #gview_ctl00_WebPartManager_WIPMain_LotItemWP_CarrierGridWP_WIPMain_CarriersSelection,
    #gview_ctl00_WebPartManager_WIPMain_LotItemWP_CarrierGridWP_WIPMain_CarriersSelection > div:nth-child(2),
    #gview_ctl00_WebPartManager_WIPMain_LotItemWP_CarrierGridWP_WIPMain_CarriersSelection > div:nth-child(3),
    .ss-wipmainbody .form-container .form-scrollablepanel .test > #DynamicContentDiv > Div > table > tbody > tr:nth-child(1) > td:nth-child(1),
    #ctl00_WebPartManager_WIPMain_LotItemWP_CarrierGridWP_WIPMain_CarriersSelection_pager {
        width: 550px !important;
    }


    .ss-wipmain-controller-webpart > .matrix .cell {
        width: 270px !important;
    }

    #ctl00_WebPartManager_SS_WIPMain_TxnTabWP_WIPMain_TxnTab > div.cs-nav-tabs > div {
        display: table-row;
    }

    #ctl00_WebPartManager_SS_WIPMain_HomeWP_Main_EProcedureButton {
        margin-right: 0 !important;
    }


    #WebPart_SS_WIPMain_TxnTabWP #main-tab-pages {
        align-items: stretch !important;
        justify-content: flex-start;
    }

    .ss-wipmainbody #WebPart_SS_SamplingWIPDataWP,
    .ss-wipmainbody #WebPart_SS_WIPDataWP,
    .ss-wipmainbody #WebPart_SS_LotPackingWP {
        width: auto !important;
    }

    .ss-wipmainbody .form-container .form-scrollablepanel .test > #DynamicContentDiv > div > table > tbody > tr:nth-child(1) > td:nth-child(1) {
        height: 200px;
    }

    .ss-wipmainbody .form-container .form-scrollablepanel .test > #DynamicContentDiv > div > table > tbody > tr:nth-child(2) > td:nth-child(1) {
        height: 70px;
    }

    .ss-wipmainbody #gview_ctl00_WebPartManager_SS_WIPMain_HomeWP_Main_RequiredActivitiesGrid {
        border-top: 0 !important;
    }

    .ss-wipmainbody #WebPart_SS_WIPMain_ControllerWP > .matrix {
        overflow: auto !important;
        border-collapse: separate !important;
    }

    #ctl00_WebPartManager_SS_WIPMain_HomeWP_Main_SubmitButton {
        margin-right: 8px;
    }


    .ss-wipmainbody #WebPart_SS_WIPMain_InfoWP span[selected=false].cs-imageControl {
        border: 0 !important;
    }

    .ss-wipmainbody #WebPart_SS_WIPMain_HomeWP > table > tbody > tr:nth-child(3) > td:nth-child(1) > .cs-button-secondary {
        margin: 0 5px 5px 0 !important;
    }

    .ss-wipmainbody #WebPart_SS_SamplingWIPDataWP > table > tbody > tr:nth-child(1) > td.cell.last-cell,
    .ss-wipmainbody #WebPart_SS_WIPDataWP > table > tbody > tr:nth-child(1) > td.cell.last-cell {
       min-width: 245px;
    }

    .ss-wipmainbody #WebPart_SS_WIPMain_HomeWP > table > tbody > tr:nth-child(3) > td:nth-child(1) {
      padding-right: 0px;
    }
    .resource-setup #ctl00_AJAXContentPlaceHolder_ctl00_DynamicZone_r2_c0_UIComponent .row :not(.empty):not([key='item_r2_c0']).cell-m {
        flex: 1 1 100%
    }
	
	.WIPMain_Activity_MainDiv .WaferSamplingActivity{
        top: 32px!important;
    }