.mom-empty-content {
    text-align: center;

    .mom-empty-icon-container {
        margin-top: 50px;
    }

    .mom-empty-icon {

        opacity: 0.1;
        align-items: center;

        .aw-xrt-thumbnailImagePanel .aw-base-icon {
            width: 192px;
            height: 192px;
        }
    }

    .mom-empty-text {
        font-size: 180%;
        margin-top: 40px;
        width: 100%;
    }

}

