div#rightSidePanel > .ng-isolate-scope ul[role='listbox'] {
    width: 262px;
}
div#leftSidePanel > .ng-isolate-scope ul[role='listbox'] {
    width: 262px;
}

[ng-class='\{\'aw-layout-flexRow\'\:prop\.propertyLabelDisplay\=\=\'PROPERTY_LABEL_AT_SIDE\' \&\& \!prop\.vertical\}'] .ng-scope.ng-isolate-scope {
    width: 150px;
    padding-top: 5px;
}
