//command icon outline
.aw-theme-iconOutline {
    fill: white;
}

.aw-ui-treeNode-valueContainer {
    display: flex;
    flex-direction: row;
}

.aw-ui-treeNode {
    margin-left: 0;
    line-break: 1;
}

.cep-pageList-title {
    font-weight: bold;
    padding-bottom: 10px;
}

aw-global-navigation {
    .global-navigation {

        aw-tree {
            flex: 1 1 auto;

            .aw-ui-treeNode-valueContainer {
                padding: 0;
            }

            li {
                list-style-type: none;

                .aw-state-selected {
                    background-color: #003750;
                }

                .aw-ui-treeNodeValue:hover {
                    background-color: #003750;
                }

            }
        }

        .aw-layout-panelBody {
            padding: 0;
        }

        .aw-sidenav-layoutContainer.aw-sidenav-standard {
            display: flex;

            .aw-layout-flexbox.afx-base-parentElement {
                flex: 1 1 100%;
            }
        }


    }
}

.cep-panel::-webkit-scrollbar {
    height: 4px;
    width: 4px;
}

.cep-panel::-webkit-scrollbar-thumb {
    background: #aaaaaa;
    opacity: 0.2;
    border-radius: 2px;
}

.cep-panel {

    width: 196px;

    .cep-ListTree {
        ul li.aw-ui-treeNode {
            margin-left: 0px;
            padding: 8px 8px 8px 0px;
        }
    }
}


.global-navigation {
    #globalNavigationSideNav {
        width: 196px;

        .aw-layout-declarativePanelRoot>aw-include {
            padding: 1rem;
        }
    }


}


.global-navigation .aw-sidenav-layoutContainer.aw-sidenav-standard {

    .aw-ui-treeNodeValue.aw-state-selected {
        background-color: transparent;
        fill: none;
    }
}


ul.cep-line-assignemnt-header {
    padding-left: 1px;

    li {
        display: inline;
        padding-right: 2em;
        font-size: 12px !important;
    }
}

.loader {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;

    position: fixed;
    z-index: 999;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.loaderContainer {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 998;
    background-color: rgba(0, 0, 0, 0.3);
}


aw-sublocation-body>iframe {
    margin: 0px !important;
}

aw-header-context[anchor="data.dockUnDockUserSettingsAnchor"] {
    display: none;
}

.global-navigation {
    .aw-sidenav-layoutContainer {
        aw-command-bar[anchor="aw_userLink"].aw-commands-commandBarVertical {
            margin-top: 12px;

            aw-command {
                button.aw-commands-commandIconButton {
                    color: white;
                }

                button.aw-commands-commandIconButton {
                    color: white;

                    .aw-commandIcon {
                        .aw-commands-svg {
                            svg.aw-base-icon {
                                fill: white;
                            }

                            .aw-theme-iconOutline {
                                fill: white;
                            }
                        }
                    }

                }
            }
        }
    }
}

aw-command-bar[anchor="aw_userSessionbar"] {
    div.aw-commands-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
}

main.aw-layout-workareaMain {
    aw-sublocation-body {
        iframe[src='./Default.aspx?apolloLink=true&mode=apollo'] {
            width: 100% !important;
            height: 100% !important;
        }
    }
}

aw-command-bar.commandGlobalNavigationbar {
    div.aw-commands-wrapper.aw-no-overflow {
        flex-grow: 10 !important;
    }
}

aw-layout-slot[name="aw_header"] {
    height: 72px !important;
}

aw-include[name="momHeader"] {
    div.aw-layout-header {
        min-height: 72px !important;
    }
}

aw-include[name="momHeaderTitle"] {
    div.awHeader {
        height: 72px !important;
    }

    div.aw-layout-headerTitleContainer {
        padding-top: 8px !important;
        padding-bottom: 8px !important;
        height: 48px !important;

        div.aw-layout-headerPropContainer {
            display: none;
        }

        h1.aw-layout-locationTitle {
            font-size: 24px !important;
            height: 32px !important;
        }
    }

    aw-include[name="lineAssignment"] {
        padding-bottom: 8px !important;
        height: 24px !important;
    }
}

.appLogoImg {
    padding-top: 8px;
    padding-bottom: 32px;
}

aw-command-bar {
    div.aw-commands-wrapper {
        padding-top: 0px !important;
        padding-bottom: 0px !important;;
    }
}