/*
***************************************************************************
Copyright 2019 Siemens
This file should include all user-defined CSS classes. 
Classes defined in this file will over-ride any classes of the
same name written in any of the Camstar supplied CSS files.
***************************************************************************
*/

/* ********************************************************************************************* 
    General WebPart
********************************************************************************************* */

.ss-general-webpart > .matrix .cell
{
    width: 245px;    
    margin: 0 0 0 0px; 
    padding: 0 0 0 0px; 
    padding-bottom: 15px;    
}

.ss-general-webpart .ui-jqgrid tr.jqgrow .ui-jqgrid-column-image
{    
    padding: 0px 0px 0px 0px;
    padding-top:5px;
}

.ss-general-webpart-spacercell
{
    height:10px;
}

.ss-general-webpart-checkbox-zeromargin .cs-checkbox
{
    margin: 0 0 0 0px; 
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px; 
    padding-top: 0px;
}

.ss-general-webpart-checkbox-zeromargin .cs-label
{
    margin: 0 0 0 5px; 
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px; 
    padding-top: 0px;
}

/* ********************************************************************************************* 
    Setup B 
********************************************************************************************* */
.ss-setupb-webpart .accordion
{
    width: 1030px;    
}

.ss-setupb-webpart .cell
{
    min-width: 250px; 
    padding: 0 0 0 0px;
    padding-bottom: 15px;         
}

.ss-setupb-webpart > .matrix .cell
{        
    margin: 0 0 0 0px; 
    padding: 0 0 0 0px; 
    padding-bottom: 15px;    
}

.ss-setupb-webpart .cs-button-image
{
    min-width: 28px;       
}

.ss-setupb-webpart .ui-jqgrid tr.jqgrow .ui-jqgrid-column-image
{    
    padding: 0px 0px 0px 0px;
    padding-top:5px;
}

/* ----------details webpart extended style --------*/
.ss-setupb-webpart-extended .accordion
{
    width: 1070px;    
}

.ss-setupb-webpart-extended .cell
{
    min-width: 265px; 
    padding: 0 0 0 0px;
    padding-bottom: 15px;         
}

.ss-setupb-webpart-extended > .matrix .cell
{            
    margin: 0 0 0 0px; 
    padding: 0 0 0 0px; 
    padding-bottom: 15px;         
}

.ss-setupb-webpart-extended .cs-button-image
{
    min-width: 28px;       
}

.ss-setupb-webpart-extended .ui-jqgrid tr.jqgrow .ui-jqgrid-column-image
{    
    padding: 0px 0px 0px 0px;
    padding-top:5px;
}

/* ----------setup b selection grid style --------*/
 .ss-setupb-webpart-gridcell
 {
     padding: 0 0 0 0px !important;
 }

 
 /* ----------setup b selection webpart extended style --------*/
 .ss-setupb-webpart-selectioncontrol > .matrix .cell
 {
    width: 245px;    
    margin: 0 0 0 0px; 
    padding: 0 0 0 0px; 
    padding-bottom: 15px;
 }
 
 .ss-setupb-webpart-selectioncontrol .cs-button-image
 {
    min-width: 28px;       
 }

 .ss-setupb-page
 {
     width:245px;
 }

/* ----------setup b selection webpart extended style --------*/
 .ss-setupb-webpart-selectioncontrol-extended > .matrix .cell
 {
    width: 270px;    
    margin: 0 0 0 0px; 
    padding: 0 0 0 0px; 
    padding-bottom: 15px;
 }
 
 .ss-setupb-webpart-selectioncontrol-extended .cs-button-image
{
    min-width: 28px;       
}

.ss-setupb-page-extended
 {
     width:270px;
 }
 
 .ss_setupbworkflownavigator .cs-picklist-workflow {
    position: relative;
    margin: 4px 0px 40px -10px;
}

/* ----------setup b button panel style --------*/
.ss-setupb-buttonpanel > .matrix .cell
 {
    width: 110px;    
    margin: 0 0 0 0px; 
    padding: 0 0 0 0px; 
    padding-bottom: 15px;        
 }

 .ss_setupb-matrixwfstacknote {
    font-size: 11px;
    font-style:italic;
}

/* ********************************************************************************************* 
    WIP Main
********************************************************************************************* */
.ss-wipmainbody
{
    background: none;
    background-color: #ffffff;
}

.ss-wipmain-lotinfo-webpart
{    
   margin: 0 0 0 0px; 
   padding: 0 0 0 0px;    
}

.ss-wipmain-lotinfo-webpart > .matrix .cell
{            
    margin: 0 0 0 0px; 
    padding: 0 0 0 0px;     
}

.ss-wipmain-lotinfo-webpart table
{
    background: #dbdbdb; 
    background: url(svg/cs-grd-17.svg);
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dbdbdb)); 
    background: -webkit-linear-gradient(top,  #ffffff,  #dbdbdb);
    background:    -moz-linear-gradient(top,  #ffffff,  #dbdbdb);
    background:     -ms-linear-gradient(top,  #ffffff,  #dbdbdb);
    background:      -o-linear-gradient(top,  #ffffff,  #dbdbdb);
    background:         linear-gradient(top,  #ffffff,  #dbdbdb);  
}
.ss-wipmain-lotinfo-webpart td.cell
{    
    min-width: 0px;
    padding: 0px 0px 0px 0px;    
}

.ss-wipmain-lotinfo-webpart .cs-label
{            
    margin: 0px 9px 0px 0px;
    font-size: 11px;
    padding-bottom:3px;       
}

.ss-wipmain-lotinfo-webpart .cs-imageControl
{
    margin-right: 9px; 
    padding-top:3px;
    padding-bottom: 3px;   
}

.ss-wipmain-lotinfo-webpart .cs-button-image
{
    margin: 0px 9px 0px 0px;          
    padding-bottom:0px;     
}

.ss-wipmain-controller-webpart > .matrix .cell
{   
    width: 245px;  
    margin: 0 0 0 0px; 
    padding: 0 0 0 0px; 
    padding-top: 5px;    
}

.ss-wipmain-controller-selectionidcell
{
    
}

.ss-wipmain-controller-selectionidcell .cs-textbox
{
    margin-right: 0px;
    padding-right: 0px;
}

.ss-wipmain-controller-selectionidcell .cs-button-image
{
    margin-left: 0px;
    padding-left: 0px;
    background-position:left !important;    
}

.ss-wipmain-controller-spacercell
{
    height:10px;
}

.ss-wipmain-controller-radioselectioncell
{
    border: 1px solid #cfcfcf;    
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px; 
    padding-top: 0px !important;
              
}

.ss-wipmain-controller-radioselectioncell .cs-label
{
    margin-top: 0px;
    margin-right: 30px;
    margin-left: 2px;
}

.ss-wipmain-controller-radioselectioncell .cs-radio-button
{
    margin-top: 13px;
    margin-left: 5px;    
}

.ss-wipmain-controller-radioselectioncell .cs-imageControl
{
    float: right;
    margin-right: 0px;
    padding-left: 0px;    
}

.ss-wipmain-lotitem-webpart
{   
    padding-left: 0px;
}

.ss-wipmain-lotitem-webpart > .matrix .cell
{ 
    margin: 0 0 0 0px; 
    padding: 0 0 0 0px; 
    padding-left:0px;
    margin-left:0px;
    min-width: 0px;
}

.ss-wipmain-lotitem-webpart-content .matrix
{ 
    margin-left:0px;
}

.ss-wipmain-lotitem-webpart .ui-tabs-panel
{
    padding-bottom: 0px;
    padding-top: 0px;        
}

.ss-wipmain-lotitem-webpart .ui-jqgrid
{
    margin-left:0px;
    padding-left:0px;   
}

#ctl00_WebPartManager_SS_WIPMain_TxnTabWP_WIPMain_TxnTab > div.ui-tabs-panel 
{
    height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
}

.ss-wipmain-webpart-home .specialcell
{
    min-width: 200px;
	padding: 0 30px 15px 0;
}

.ss-wipmain-webpart-home .toggle-container .content
{
	background-color: transparent;
    cursor: default;
    border-bottom: 0 none;
    border-top: 0 none;
    margin: 0;
    padding: 0;
}

.ss-wipmain-webpart-home div.toggle-container .CollapsableSectionImage
{
    display: none;
}

.ss-wipmain-webpart-home .toggle-container > div:first-child img {
    margin: 2px 5px 0 0;
    height: 0;
}

.ss-wipmain-webpart-home .cs-checkbox, .cs-checkbox-nomargin
{
    height: 15px;
    margin: 15px 0 15px 0;
    min-width: 200px;
}

.ss-wipmain-webpart-home .cs-checkbox-nomargin {
    margin: 0px;
}

.ss-wipmain-webpart-home .cs-checkbox .cs-label, .cs-checkbox-nomargin .cs-label
{
    display: inline;
    margin: 0 0 0 3px;
    vertical-align: 1px;
}

.ss-wipmain-webpart-home .cs-checkbox input, .cs-checkbox-nomargin input
{
    display: inline;
    margin: 1px 5px 0 0;
}

.ss-wipmain-webpart-home .cs-checkbox span[disabled="disabled"], .cs-checkbox-nomargin span[disabled="disabled"]
{
    vertical-align: baseline;
}


.ss-wipmain-webpart-home-radioselectioncell .cs-label {
    margin-top: 0px;
    margin-right: 30px;
    margin-left: 5px;
}


/* ********************************************************************************************* 
    OnlineTraveler
********************************************************************************************* */

.ss-onlinetraveler-webpart
{    
    margin: 0 0 0 0px;
    border: 1px solid #cfcfcf;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: -1px -1px 6px 0 rgba(0,0,0,0.4);
       -moz-box-shadow: -1px -1px 6px 0 rgba(0,0,0,0.4);
            box-shadow: -1px -1px 6px 0 rgba(0,0,0,0.4);
    padding-bottom: 10px;  
    padding-right: 10px;
}

.ss-onlinetraveler-webpart > .matrix .cell
{
    width: 220px;   
    margin: 0 0 0 0px; 
    padding: 0 0 0 0px; 
    padding-top: 15px;    
}

.ss-onlinetraveler-webpart .cs-label
{
    color:#000;
    display:inline-block;
    font-weight:bold;
    text-align:left;
    width:110px;
    margin:0 3px 0 0;
    padding: 0,0,0,0px;
}

.ss-onlinetraveler-webpart .cs-textbox-as-label
{
    color:#2b2b2b;
    display:inline-block;
    text-align:left;
    white-space:nowrap;
    max-width: 210px;
    overflow:hidden;
  
}
.ss-onlinetraveler-webpart .cs-label:after
{
    content:":";
}

.ss-onlinetraveler-webpart .cs-label[required]
{
    text-align: left;
}

.ss-onlinetraveler-webpart .cs-label[required]:after,
.ss-onlinetraveler-webpart.cs-label[required]:after
{
    content:none;
}

/* ********************************************************************************************* 
    SPC Records
********************************************************************************************* */

.ss-spcrecords-webpart
{

}

.ss-spcrecords-webpart > .matrix .cell
{
    width: 265px;    
    margin: 0 0 0 0px; 
    padding: 0 0 0 0px; 
    padding-bottom: 15px;    
}

.ss-spcrecords-webpart .cs-image-button
{
    margin-top: 28px;
    margin-left: 5px;
    padding-left:0px;
    min-height: 24px;
    min-width: 24px;
}

.ss-spcrecords-webpart .xxxui-flyout-container
{
    margin-top: 25px; 
    width: 250px;
    z-index: 1000;
    position: absolute;        
}

.ss-spcrecords-webpart .xxxpointer
{    
    margin-left: 5px;
}

/* *********************************************************************************************
/* Job Txn 
********************************************************************************************* */

/* webpart-ResourceJobstatus
----------------------------------*/

.ss-jobs-webpart-resourcestatus
{    
    border: 0px solid #dbdbdb;
    -webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,0.40);
       -moz-box-shadow: 0 0 3px 0 rgba(0,0,0,0.40);
            
   /* gradient */
   background: #eeeeee; 
    background: url(svg/cs-grd-26.svg);
    background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#eeeeee)); 
    background: -webkit-linear-gradient(center top,  #fbfbfb,  #eeeeee);
    background:    -moz-linear-gradient(center top,  #fbfbfb,  #eeeeee);
    background:     -ms-linear-gradient(center top,  #fbfbfb,  #eeeeee);
    background:      -o-linear-gradient(center top,  #fbfbfb,  #eeeeee);
    background:         linear-gradient(center top,  #fbfbfb,  #eeeeee);
   
    width: 1500px; 
    padding-top: 0px; 
    padding-bottom: 15px;     
}

.ss-jobs-webpart-resourcestatus  > .matrix .cell
{
    width: 265px;    
    margin: 0 0 0 0px; 
    padding: 0 0 0 0px;    
}

.ss-jobs-webpart-resourcestatus  > .matrix .cell:first-child
{
    width: 265px;    
    margin: 0 0 0 0px; 
    padding: 0 0 0 0px;    
}

.ss-jobs-webpart-resourcestatus .availability-label
{
    color: Gray;
    text-transform: uppercase;
    font-size:24px;
    font-weight:bold;
    min-width:24px;
    width:24px;
    display:inline;
    position: relative;
    top:0px;
}

.ss-jobs-webpart-resourcestatus .availability-up,
.ss-jobs-webpart-resourcestatus .availability-down,
.ss-jobs-webpart-resourcestatus .availability-not,
.ss-jobs-webpart-resourcestatus .availability-nostate
{
    height: 24px;
    width: 22px;
    display: inline-block;
    margin: 45px 0 0 0px;
}

.ss-jobs-webpart-resourcestatus .availability-down
{
    background:url(../Camstar/images/icons/icon-machine-down-24x24.png) no-repeat 0 0;
}

.ss-jobs-webpart-resourcestatus .availability-up
{
    background:url(../Camstar/images/icons/icon-machine-up-24x24.png) no-repeat 0 0;
}

.ss-jobs-webpart-resourcestatus .availability-not
{
    background:url(../Camstar/images/icons/icon-machine-not-24x24.png) no-repeat 0 0;
}

.ss-jobs-webpart-resourcestatus .availability-nostate
{
    background:url(../Camstar/images/icons/icon-machine-nostate-24x24.png) no-repeat 0 0;
}

.ss-jobs-webpart-resourcestatus .cs-button-image
{    
    padding-left:0px;
    min-height: 22px;
    min-width: 22px;
    border-color:White;
}

.ss-jobs-webpart-resourcestatus .xx
{    
    border-color:transparent ! important;
    background-color: transparent ! important;
}

.ss-jobs-webpart-resourcestatus .cs-image-button
{
    margin-top: 25px;
    margin-left: 5px;
    padding-left:0px;
    min-height: 22px;
    min-width: 22px;
}

.ss-jobs-webpart-resourcestatus .cell > .ui-flyout-container 
{
    margin: 15px 0 0;
    position: absolute;
    width: 620px;
    z-index: 1000;
}

.ss-jobs-webpart-resourcestatus .cs-label[required] 
{
	margin: 10px 0 2px 1px;
}

.ss-jobs-pop-resourcestatus
{    
    border: 0px solid #dbdbdb;
    -webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,0.40);
       -moz-box-shadow: 0 0 3px 0 rgba(0,0,0,0.40);
            box-shadow: 0 0 3px 0 rgba(0,0,0,0.40);
            
   /* gradient */
   background: #eeeeee; 
    background: url(svg/cs-grd-26.svg);
    background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#eeeeee)); 
    background: -webkit-linear-gradient(center top,  #fbfbfb,  #eeeeee);
    background:    -moz-linear-gradient(center top,  #fbfbfb,  #eeeeee);
    background:     -ms-linear-gradient(center top,  #fbfbfb,  #eeeeee);
    background:      -o-linear-gradient(center top,  #fbfbfb,  #eeeeee);
    background:         linear-gradient(center top,  #fbfbfb,  #eeeeee);
   
    width: 1540px; 
    padding-top: 0px; 
    padding-bottom: 15px;    
}

.ss-jobs-pop-resourcestatus  > .matrix .cell
{
    width: 245px;    
    margin: 0 0 0 0px; 
    padding: 0 0 0 0px; 
    padding-top: 15px;    
}

.ss-jobs-pop-resourcestatus .cs-label
{
    color:#000;
    font-weight:bold;
    text-align:left;
}


.ss-jobs-webpart-filters
{
    width: 1200px;
    margin: 0 0 0 10px;
    border: 1px solid #cfcfcf;
    background: -webkit-linear-gradient(bottom, #fff 0%, #f3f3f3 50%, #ededed 51%, #fff 100%);
    background:    -moz-linear-gradient(bottom, #e6e6e6 0%, #fff 16%, #fff 100%);
    background:     -ms-linear-gradient(bottom, #fff 0%, #f3f3f3 50%, #ededed 51%, #fff 100%);
    background:      -o-linear-gradient(bottom, #fff 0%, #f3f3f3 50%, #ededed 51%, #fff 100%);
    background:         linear-gradient(bottom, #fff 0%, #f3f3f3 50%, #ededed 51%, #fff 100%);
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: -1px -1px 6px 0 rgba(0,0,0,0.4);
       -moz-box-shadow: -1px -1px 6px 0 rgba(0,0,0,0.4);
            box-shadow: -1px -1px 6px 0 rgba(0,0,0,0.4);
     padding-bottom:20px;
}

.ss-jobs-webpart-filters  > .matrix .cell
{
    width: 230px;
    margin: 0 0 0 0px; 
    padding: 0 0 0 0px; 
    padding-top:0px;
    padding-bottom: 0px;
}

.ss-jobs-webpart-filters  > .matrix .cell:last-child
{
    width: 280px;
    margin: 0 0 0 0px; 
    padding: 0 0 0 0px; 
    padding-top:0px;
    padding-bottom: 0px;
}

.ss-jobs-webpart-filters  > .matrix 
{
    margin: 5 0 0 0px; 
    table-layout: fixed;
    overflow:hidden; 
}

.ss-jobs-webpart-filters .cs-label
{
    margin-top: 10px;
}

.ss-jobs-webpart-filters .cs-label[required]:after
{
    content:none;
}


/* ui-webpart-ResourceJobstatus
----------------------------------*/
.ss-jobs-webpart-default
{
    width: 1080px; 
}

.ss-jobs-webpart-default  > .matrix .cell
{   
    width: 265px;
    margin: 0 0 0 0px; 
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px; 
    padding-top: 15px; 
}

.ss-jobs-webpart-default  > .matrix 
{
    margin: 5 0 0 0px; 
    table-layout: fixed;
    overflow:hidden; 
}

.ss-jobs-webpart-default .cs-label
{
    margin-top: 0px;
}

.ss-jobs-webpart-default .cs-NotRequire
{
    padding-top: 15px; 
}

.ss-jobs-webpart-default .cell > .cs-checkbox
{
    margin-top: 29px;
}

.ss-jobs-webpart-default .ui-flyout-container
{
    width: 250px;
}

.ss-jobs-webpart-default .pointer
{
    left: 170px;
    margin-left: 5px;
}

.ss-jobs-webpart-default .cs-image-button
{
    margin-top: 16px;
    margin-left: 5px;
    padding-left:0px;
    min-height: 22px;
    min-width: 22px;
}

.ss-jobs-webpart-create 
{
    width: 995px; 
}

.ss-jobs-webpart-create .xx
{
    border-color:transparent ! important;
    background-color: transparent ! important;
}

.ss-jobs-webpart-create  > .matrix .cell
{   
    width: 265px;
    margin: 0 0 0 0px; 
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px; 
    padding-top: 0px; 
}

.ss-jobs-webpart-create  > .matrix .cell:last-child .cs-label
{   
    margin: 0 0 0 0px ! important; 
}

.ss-jobs-webpart-create .ui-flyout-container 
{
    margin: 15px 0 0;
    position: absolute;
    width: 620px;
    z-index: 1000;
}

.ss-jobs-webpart-create .cs-image-button 
{
    padding-top:26px;    
}

.ss-jobs-page-default
{
    
}

.ss-jobs-page-default  > .matrix .cell
{  
    margin: 0 0 0 0px; 
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px; 
    padding-top: 15px; 
}

.ss-jobs-page-default .float-form-container .webpart-buttonbar
{
    width:100%;
}

.ss-jobs-page-default .webpart-buttonbar .left
{
    text-align: left;
    float: left;
}

.ss-jobs-page-default .webpart-buttonbar .left input
{
    margin: 5px 0px 10px 10px;
}

.ss-jobs-page-default .webpart-buttonbar .right
{   
    padding-top:15px; 
    text-align: right;
    float: right;
}  

.ss-jobs-page-default .webpart-buttonbar .right input
{
    margin: 5px 0px 10px 10px;
}

.ss-jobs-page-default .float-form-container .webpart-buttonbar .right 
{
    padding-top:0px;
    text-align: right;
    float: right;
}

.ss-jobs-page-default  .float-form-container .webpart-buttonbar .right input
{
    margin: 5px 10px 0 0px;
}

.ss-jobs-page-default  .float-form-container .status-bar-fixed
{
    height:56px;    
}

.ss-jobs-webpart-container
{
}

.ss-jobs-webpart-container  > .matrix
{
    margin: 0 0 0 0px; 
    padding: 0 0 0 0px; 
}

.ss-jobs-webpart-container  > .matrix .cell
{   
    margin: 0 0 0 0px; 
    padding-bottom: 15px;
    padding-left: 0px;
    padding-right: 0px; 
    padding-top: 15px; 
}

.ss-jobs-webpart-container .cs-image
{   
    margin: 0 0 0 0px; 
    padding: 0 0 0 0px; 
    padding-left:8px;
}


.ss-jobs-webpart-gridTechMain
{
    
}

.ss-jobs-webpart-gridTechMain  > .matrix .cell
{
    width: 530px;
    margin: 0 0 0 0px; 
    padding: 0 0 0 0px; 
    padding-bottom: 15px; 
}

.ss-jobs-webpart-gridTechMain  > .matrix .cell:last-child
{
    width: 465px;
    margin: 0 0 0 0px; 
    padding: 0 0 0 0px; 
    padding-bottom: 15px;
}

.ss-jobs-webpart-gridTechMain  .cs-label
{ 
    padding-top: 0px; 
    margin-top: 0px; 
    padding-bottom: 0px; 
    margin-bottom: 0px; 
}

.ss-jobs-webpart-toggle
{
    
}

.ss-jobs-webpart-toggle  > .matrix .cell
{
    width: 263px;
    margin: 0 0 0 0px; 
    padding: 0 0 0 0px; 
    padding-bottom: 15px;    
}

.ss-jobs-webpart-toggle  .cs-label
{ 
    padding-top: 0px; 
    margin-top: 0px; 
    padding-bottom: 0px; 
    margin-bottom: 0px; 
}

.ss-jobs-webpart-toggle .cs-image-button
{
    margin-top: 15px;
    margin-left: 5px;
    padding-left:0px;
    min-height: 22px;
    min-width: 22px;
}

.ss-jobs-webpart-toggle .ui-flyout-container
{
    margin-top: 25px; 
    width: 250px;
}

.ss-jobs-webpart-toggle .pointer
{
    left: 170px;
    margin-left: 5px;
}

/* .ss-jobs-webpart-toggle .customelement input
{
    width:145px ! important; 
} */

.ss-jobs-webpart-toggle .customelement div
{
    width:170px ! important; 
}

.ss-jobs-webpart-checklist
{
    
}

.ss-jobs-webpart-checklist  > .matrix .cell
{
    width: 265px;
    margin: 0 0 0 0px; 
    padding: 0 0 0 0px; 
    padding-bottom: 0px;
    padding-top: 0px;     
}

.ss-jobs-webpart-checklist  .ui-corner-all
{ 
    margin-top: 15px; 
}

.ss-jobs-webpart-checklist  .ParametricDataControl
{ 
    margin-top: 15px; 
}

.ss-jobs-webpart-checklist  > .matrix .cell:last-child
{
    width: 265px;
    margin: 0 0 0 0px; 
    padding: 0 0 0 0px; 
    padding-bottom: 0px;
    padding-top:0px;
}

.ss-jobs-webpart-checklist  > .matrix .cell:last-child .cs-label
{  
    margin: 0 0 0 0px;
    margin-top:0px;
    padding: 0 0 0 0px; 
    padding-bottom: 0px;
    padding-top:0px;    
}

.ss-jobs-webpart-checklist  > .matrix .cell:last-child:empty
{
     display:none ! important;    
}

.ss-jobs-ui-titlemain
{
       
}

.ss-jobs-ui-titlemain  > .matrix .cell
{  
    margin: 0 0 0 0px; 
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px; 
    padding-top: 10px;    
}

.ss-jobs-ui-titlemain .cs-title
{
   margin: 0px 0;
   padding-bottom: 5px;
   margin-left:5px;
    -webkit-box-shadow:none;
       -moz-box-shadow:none;
            box-shadow:none;    
}

.ss-jobs-ui-actionpanel
{
   margin: 0px 0 0 0px; 
   padding:0px;
   margin-left:2px;
   margin-top:0px;
   padding-top:0px;  
   border:1px solid;
   vertical-align:top;
}

.ss-jobs-ui-actionpanel .cs-button-secondary
{
   width: 180px;
}

/* ui-jqgrid-row section , additional color for Jobs */
.ss-general-color-yellow 
{
    border: 1px solid #d8bf00;  
    background: url(svg/cs-grd-39.svg);
    background: #f6ff6b;        
}

.ss-general-color-orange 
{
    border: 1px solid #f99229;    
    background: url(svg/cs-grd-39.svg);
    background: #f9b471;         
}

.ss-general-color-lightpink 
{
    border: 1px solid #ef8f8f;        
    background: url(svg/cs-grd-39.svg);
    background: #f66161;       
}

.ss-general-color-lightblue 
{
    border: 1px solid #6ebcd7;   
    background: url(svg/cs-grd-21.svg);
    background: #9eb7c0;   
}

.ss-general-color-lightgreen
{
    border: 1px solid #9bc651;    
    background: url(svg/cs-grd-21.svg);
    background: #bddd86 !important;   
}


/* ui-jqgrid-column image section */
.ss-jobs-webpart-default .ui-jqgrid-column-image 
{
    padding: 2px 0px 0px 2px;         
}


.ss-jobs-webpart-default .ui-jqgrid tr.jqgrow .ui-jqgrid-column-image 
{    
    padding: 0px 0px 0px 3px;
    padding-top:2px;
}

.ss-jobs-webpart-default .ui-jqgrid tr.jqgrow td 
{    
    padding-top:7px;
}

/* end jobs */


/* ********************************************************************************************* 
    Parts
********************************************************************************************* */

/* part setup & scrap, resource status */
.ss-parts-webpart-resourcestatus
{
    width:100%;
    display:block;
    margin:0px 0 10px 0px;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eeeeee)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #fff,  #eeeeee); /* for firefox 3.6+ */ 
    border:2px solid #dddddd;
}

.ss-parts-webpart-resourcestatus .cell
{
    padding: 0 0 0 5px;
}

.ss-parts-webpart-resourcestatus .matrix
{
    margin: 0 5px 0 5px;
    padding: 0;
}

.ss-parts-webpart-resourcestatus .cell-status
{
    height: 20px;
    padding: 0;
}

.ss-parts-webpart-resourcestatus .cell-status .cs-label
{
    margin: 3px 0 0 5px;
}

.ss-parts-webpart-resourcestatus .cell-status .cs-textbox-as-label
{
    display: inline-block;
    margin: 2px 0 0 5px;
}

.ss-parts-page-resourcesetup .availability-label
{
    color: Gray;
    text-transform: uppercase;
    font-size:24px;
    font-weight:bold;
    min-width:24px;
    width:24px;
    display:inline;
    position: relative;
    top:17px;
}

.ss-parts-page-resourcesetup .availability-up,
.ss-parts-page-resourcesetup .availability-down,
.ss-parts-page-resourcesetup .availability-not,
.ss-parts-page-resourcesetup .availability-nostate
{
    height: 24px;
    width: 24px;
    display: inline-block;
    margin: 11px 0 0 5px;
}

.ss-parts-page-resourcesetup .availability-down
{
    background:url(images/icons/icon-machine-down-24x24.png) no-repeat 0 0;
}

.ss-parts-page-resourcesetup .availability-up
{
    background:url(images/icons/icon-machine-up-24x24.png) no-repeat 0 0;
}

.ss-parts-page-resourcesetup .availability-not
{
    background:url(images/icons/icon-machine-not-24x24.png) no-repeat 0 0;
}

.ss-parts-page-resourcesetup .availability-nostate
{
    background:url(images/icons/icon-machine-nostate-24x24.png) no-repeat 0 0;
}

.ss-parts-page-resourcesetup .ui-webpart-matrix-cell li
{
   float:none; 
   padding-left:0!important;
}

.ss-parts-page-resourcesetup .cell-status .cs-label 
{
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 5px;
    margin-top: 0;
    text-align: right;
    width: 150px;
}
.ss-parts-page-resourcesetup .cell-status .cs-label:after
{
    content:":";
}

.ss-parts-page-resourcesetup .resource-setup-status .cs-textbox-as-label {
    display: inline-block;
    font-size: 11px;
    text-align: left;
    white-space: nowrap;
    width: 100px;
}


.ss-parts-page-resourcesetup .cell-status .cs-textbox
{
    background: none;
    border: none;
    padding: 0;
    margin: 3px 0 0 5px !important;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}

.ss-parts-page-resourcesetup .cell-group
{
    padding: 0 65px 5px 0;
}

.ss-parts-page-resourcesetup .cell-resource
{
    width: 240px;
}


/* parts general search pages */
.ss-parts-page-search
{
    background: none;
}

.ss-parts-page-search .cs-title
{
    margin: 0 0 5 0px;
    -webkit-box-shadow:none;
       -moz-box-shadow:none;
            box-shadow:none;
}

.ss-parts-webpart-searchfilters
{
    width: 1230px;
    margin: 0 0 0 10px;
    border: 1px solid #cfcfcf;
    background: -webkit-linear-gradient(bottom, #fff 0%, #f3f3f3 50%, #ededed 51%, #fff 100%);
    background:    -moz-linear-gradient(bottom, #e6e6e6 0%, #fff 16%, #fff 100%);
    background:     -ms-linear-gradient(bottom, #fff 0%, #f3f3f3 50%, #ededed 51%, #fff 100%);
    background:      -o-linear-gradient(bottom, #fff 0%, #f3f3f3 50%, #ededed 51%, #fff 100%);
    background:         linear-gradient(bottom, #fff 0%, #f3f3f3 50%, #ededed 51%, #fff 100%);
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: -1px -1px 6px 0 rgba(0,0,0,0.4);
       -moz-box-shadow: -1px -1px 6px 0 rgba(0,0,0,0.4);
            box-shadow: -1px -1px 6px 0 rgba(0,0,0,0.4);
}

.ss-parts-webpart-searchfilters .cell
{
    margin: 0 0 0 10px; 
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 15px; 
    padding-top: 0px; 
}

.ss-parts-webpart-searchbutton
{
    margin: 0px 0 0 0px;
}

.ss-parts-webpart-searchbutton .cell
{
    margin: 0 0 0 5px; 
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 15px; 
    padding-top: 0px;
}

.ss-parts-webpart-searchbutton .shaded
{
    width:980px;
    padding:5px 10px;
    margin: 0 0px 0 0px;
    background-color:#f4f4f4;
    border:1px solid #bdbdbd;
    border-radius:5px;
}

.ss-parts-webpart-searchresult .cell
{
    margin: 0 0 0 10px; 
    padding-bottom: 15px;
    padding-left: 0px;
    padding-right: 15px; 
    padding-top: 0px;
}

.ss-parts-webpart-searchresult .ui-jqgrid-column-image
{
    padding: 5px 0px 0px 5px;
    min-height: 22px;
    min-width: 22px;
}

.ss-parts-webpart-searchresult .ui-jqgrid tr.jqgrow .ui-jqgrid-column-image
{
    
    padding: 0px 0px 0px 0px;
    padding-top:5px;
}

.ss-parts-webpart-searchresult .cs-image-button
{
    margin-top: 18px;
    margin-left: 2px;
    padding-left:0px;
    min-height: 22px;
    min-width: 22px;
}

.ss-parts-webpart-partmaintsearchresult .cell
{
    margin: 0 0 0 10px; 
    padding-bottom: 15px;
    padding-left: 0px;
    padding-right: 15px; 
    padding-top: 0px;
}

.ss-parts-webpart-partmaintsearchresult .ui-jqgrid-column-image
{
    padding: 5px 0px 0px 5px;
    min-height: 22px;
    min-width: 22px;
}

.ss-parts-webpart-partmaintsearchresult .ui-jqgrid tr.jqgrow .ui-jqgrid-column-image
{
    
    padding: 0px 0px 0px 0px;
    padding-top:5px;
}

.ss-parts-webpart-partmaintsearchresult .cs-image-button
{
    margin-top: 18px;
    margin-left: 2px;
    padding-left:0px;
    min-height: 22px;
    min-width: 22px;
}

.ss-parts-webpart-actionpanel
{
    margin: 0px 0 0 0px; 
    padding:0px;
    margin-left:2px;
    margin-top:0px;
    padding-top:0px;  
    border:1px solid;
    vertical-align:top;
    height: 430px;
}

.ss-parts-webpart-actionpanel > .cs-button
{
    width: 180px;
}

.ss-parts-webpart-actionpanel > .cs-button-secondary
{
    width: 380px;
}

/* ss-parts-page-default & ss-parts-webpart-default */
.ss-parts-page-default
{
    
}

.ss-parts-webpart-default .cell
{
    margin: 0 0 0 0px; 
    padding-bottom: 15px;
    padding-left: 0px;
    padding-right: 0px; 
    padding-top: 0px;
}

.ss-parts-webpart-default > .cell blank-cell
{
    margin: 0 0 0 0px;
    padding: 0 0 0 0px;
}

.ss-parts-webpart-default .cs-button-image
{
    margin-left: 5px;
    padding-top: 14px;
    padding-left: 0px;
    min-height: 22px;
    min-width: 22px;
}

.ss-parts-webpart-default .ui-flyout-container
{
    margin: 15px 0 0;
    position: absolute;
    width: 620px;
    z-index: 1000;
}

.ss-parts-webpart-default .cs-checkbox
{
    margin: 0 0 0 0px; 
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px; 
    padding-top: 0px;
}

.ss-parts-webpart-default  > .last-cell
{
    margin: 0 0 0 0px; 
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px; 
    padding-top: 0px; 
}
/* ********************************************************************************************* 
    End of Parts
********************************************************************************************* */

/* ********************************************************************************************* 
    WIP Data 
********************************************************************************************* */
.ss-wipdata-webpart-datavaluefailed
{
    color: red !important;
}

.ss-wipdata-webpart-isRequired
{    
    font-weight: bold !important;    
}


.ss-wipdata-webpart-isRequired::after 
{
    font-weight: bold;
    color: red !important;
    content: "  *";
}

.ss-wipdata-webpart .ui-jqgrid tr.jqgrow .ui-jqgrid-column-image
{
    
    padding: 0px 0px 0px 0px;
    padding-top:5px;
}
/* ********************************************************************************************* 
    End of WIP Data
********************************************************************************************* */

/* ********************************************************************************************* 
    Lot Packing 
********************************************************************************************* */
.ss-lotpacking-webpart .ui-jqgrid tr.jqgrow .ui-jqgrid-column-image
{
    
    padding: 0px 0px 0px 0px;
    padding-top:5px;
}
/* ********************************************************************************************* 
    End of Lot Packing
********************************************************************************************* */

/* ********************************************************************************************* 
    WIP Lot Failures
********************************************************************************************* */

.ss-wiplotfailures-webpart
{
    width: 798px;
    margin: 15px 0 15px 10px;
    border: 1px solid #cfcfcf;
    background: -webkit-linear-gradient(bottom, #fff 0%, #f3f3f3 50%, #ededed 51%, #fff 100%);
    background:    -moz-linear-gradient(bottom, #e6e6e6 0%, #fff 16%, #fff 100%);
    background:     -ms-linear-gradient(bottom, #fff 0%, #f3f3f3 50%, #ededed 51%, #fff 100%);
    background:      -o-linear-gradient(bottom, #fff 0%, #f3f3f3 50%, #ededed 51%, #fff 100%);
    background:         linear-gradient(bottom, #fff 0%, #f3f3f3 50%, #ededed 51%, #fff 100%);
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: -1px -1px 6px 0 rgba(0,0,0,0.4);
       -moz-box-shadow: -1px -1px 6px 0 rgba(0,0,0,0.4);
            box-shadow: -1px -1px 6px 0 rgba(0,0,0,0.4);
}

.ss-wiplotfailures-webpart .cs-label
{
    margin: 5px 0 2px 5px;
}

.ss-wiplotfailures-webpart .cs-radio
{
    margin: 5px 0 0;
}

/* ********************************************************************************************* 
   Equipment Setup
********************************************************************************************* */
.ss-equipmentsetup-webpart .ui-jqgrid-column-image
{
    padding: 5px 0px 0px 5px;
    min-height: 22px;
    min-width: 22px;
}

.ss-equipmentsetup-webpart .ui-jqgrid tr.jqgrow .ui-jqgrid-column-image
{
    padding: 0px 0px 0px 0px;
    padding-top:5px;
}

.ss-equipmentsetup-webpart .documentset-cell
{
    display: table-cell;
    min-width: 200px;
    padding: 0 0 15px 0;
}


/* ********************************************************************************************* 
   WIP Equipment Materials Setup
********************************************************************************************* */

.ss-equipmaterials-webpart > .matrix .cell
{
    width: 245px;    
    margin: 0 0 0 0px; 
    padding: 0 0 0 0px; 
    padding-top: 15px; 
}

.ss-equipmaterials-webpart .ui-jqgrid tr.jqgrow .ui-jqgrid-column-image
{    
    padding: 0px 0px 0px 0px;
    padding-top:5px;
}

.ss-equipmaterials-webpart-materialselectcell .cs-textbox
{
    margin-right: 0px;
    padding-right: 0px;
}

.ss-equipmaterials-webpart-materialselectcell .cs-button-image
{
    background-position:left !important;    
    margin-left: 0px;
    padding-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
    min-width: 0px;    
}

/* ********************************************************************************************* 
   WIP Equipment Setup
********************************************************************************************* */

.ss-wipequipsetup-webpart > .matrix .cell
{
    width: 245px;    
    margin: 0 0 0 0px; 
    padding: 0 0 0 0px;     
}

.ss-wipequipsetup-webpart .ui-jqgrid tr.jqgrow .ui-jqgrid-column-image
{
    padding: 0px 0px 0px 0px;
    padding-top:5px;
}


/* ********************************************************************************************* 
   WIP Equipment Setup
********************************************************************************************* */

.ss-alertmessage-webpart > .matrix .cell
{
    width: 245px;    
    margin: 0 0 0 0px; 
    padding: 0 0 0 0px;     
}

.ss-alertmessage-webpart-topcell .cs-button-image
{         
    margin-left: 0px;
    padding-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
    min-width: 0px;    
}


/* ********************************************************************************************* 
   Move Non Std
********************************************************************************************* */

.ss-movenonstd-webpart > .matrix .cell
{
    width: 245px;    
    margin: 0 0 0 0px; 
    padding: 0 0 0 0px; 
    padding-bottom: 15px;    
}

.ss-movenonstd-webpart-checkboxzeromargin
{
           
}

.ss-movenonstd-webpart-checkboxzeromargin .cs-label
{
    margin: 0px 0px 2px 5px !important;
}

.ss-movenonstd-webpart-checkboxzeromargin .cs-checkbox
{
    margin: 5px 0px 0px 0px !important;
}


/* ********************************************************************************************* 
   Equipment Set Status
********************************************************************************************* */

.ss-equipmentsetstatus-webpart .resourcestatus-cell
{
    display: table-cell;
    min-width: 200px;
    padding: 0 45px 15px 0;
}

.ss-equipmentsetstatus-webpart .employee-label
{
    margin: 10px 0 2px 1px;
    text-align: left;
}

/* ********************************************************************************************* 
   Lot Start
********************************************************************************************* */
.ss-lotstart-webpart .ui-jqgrid-column-image
{
    padding: 5px 0px 0px 5px;
    min-height: 22px;
    min-width: 22px;
}

.ss-lotstart-webpart .ui-jqgrid tr.jqgrow .ui-jqgrid-column-image
{
    padding: 0px 0px 0px 0px;
    padding-top:5px;
}


/* ********************************************************************************************* 
   Lot Move Inventory
********************************************************************************************* */
.ss-lotmoveinventory-webpart .ui-jqgrid-column-image
{
    padding: 5px 0px 0px 5px;
    min-height: 22px;
    min-width: 22px;
}

.ss-lotmoveinventory-webpart .ui-jqgrid tr.jqgrow .ui-jqgrid-column-image
{
    padding: 0px 0px 0px 0px;
    padding-top:5px;
}

/* ********************************************************************************************* 
   Lot Form
********************************************************************************************* */
.ss-lotform-webpart .ui-jqgrid-column-image
{
    padding: 5px 0px 0px 5px;
    min-height: 22px;
    min-width: 22px;
}

.ss-lotform-webpart .ui-jqgrid tr.jqgrow .ui-jqgrid-column-image
{
    padding: 0px 0px 0px 0px;
    padding-top:5px;
}


/* ********************************************************************************************* 
   Lot Bonus
********************************************************************************************* */
.ss-lotbonus-webpart .ui-jqgrid-column-image
{
    padding: 5px 0px 0px 5px;
    min-height: 22px;
    min-width: 22px;
}

.ss-lotbonus-webpart .ui-jqgrid tr.jqgrow .ui-jqgrid-column-image
{
    padding: 0px 0px 0px 0px;
    padding-top:5px;
}

/* ********************************************************************************************* 
   Consume Materials
********************************************************************************************* */
.ss-consumematerials-webpart .ui-jqgrid-column-image
{
    padding: 5px 0px 0px 5px;
    min-height: 22px;
    min-width: 22px;
}

.ss-consumematerials-webpart .ui-jqgrid tr.jqgrow .ui-jqgrid-column-image
{
    padding: 0px 0px 0px 0px;
    padding-top:5px;
}

/* ********************************************************************************************* 
   Consume Materials Wafers Popup
********************************************************************************************* */
.ss-consumematerialswaferspopup-webpart .ui-jqgrid-column-image
{
    padding: 5px 0px 0px 5px;
    min-height: 22px;
    min-width: 22px;
}

.ss-consumematerialswaferspopup-webpart .ui-jqgrid tr.jqgrow .ui-jqgrid-column-image
{
    padding: 0px 0px 0px 0px;
    padding-top:5px;
}

/* ********************************************************************************************* 
   Lot Combine
********************************************************************************************* */
.ss-lotcombine-webpart > .matrix .cell
{
    width: 270px;    
    margin: 0 0 0 0px; 
    padding: 0 0 0 0px; 
    padding-bottom: 15px;    
}

.ss-lotcombine-webpart-checkbox-zeromargin .cs-checkbox
{
    margin: 0 0 0 0px; 
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px; 
    padding-top: 10px;
}

.ss-lotcombine-byitem-webpart > .matrix .cell
{
    min-width: 0px;   
}

.ss-lotcombine-byitem-targetitemcell
{
    min-width: 0px;
    padding: 0px 15px 0px 0px;        
}

/* ********************************************************************************************* 
   Lot Split
********************************************************************************************* */
.ss-lotsplit-webpart > .matrix .cell
{
    width: 270px;    
    margin: 0 0 0 0px; 
    padding: 0 0 0 0px; 
    padding-bottom: 15px;    
}

.ss-lotsplit-webpart .ui-jqgrid-column-image
{
    padding: 5px 0px 0px 5px;
    min-height: 22px;
    min-width: 22px;
}

.ss-lotsplit-webpart .ui-jqgrid tr.jqgrow .ui-jqgrid-column-image
{    
    padding: 0px 0px 0px 0px;
    padding-top:5px;
}

/* ********************************************************************************************* 
   Lot Release
********************************************************************************************* */
.ss-lotrelease-webpart .ui-jqgrid-column-image
{
    padding: 5px 0px 0px 5px;
    min-height: 22px;
    min-width: 22px;
}

.ss-lotrelease-webpart .ui-jqgrid tr.jqgrow .ui-jqgrid-column-image
{
    padding: 0px 0px 0px 0px;
    padding-top:5px;
}

/* ********************************************************************************************* 
   Resource Layout Maint
********************************************************************************************* */

.ss-resourceLayoutMaint-webpart .cell
{
    min-width:10px;
    }

.ss-resourceLayoutMaint-webpart .controlRowCell
{        
    padding-right: 1px !important;
    padding-bottom: 5px !important;        
    margin-left: 0px !important;
    margin-right:0px !important;     
}

#ctl00_WebPartManager_MDL_Specific_CollapsibleSectionsAccordion_ctl03_canvasArea .ui-selected /* icon selected */
{
    border: 1px solid #07c;    
    box-shadow: 0 0 6px 2px #07c; /* blue - #07c, orange - #FF7C00*/
    outline: none; 
}

.drawnMaintIconClass /* overall rendered icon */
{
    border-radius: 5px;
    padding:1px;
}

.drawnMaintIconClass_Icon /* image div of the overall icon */
{
    text-align:center;
}

.resourceIconClass /* overall template icon */
{
    margin-top: 20px;   
}

.ss-resourceLayoutMaint-webpart .instructions
{
    width:300px;
    padding:5px 10px;    
    background-color:#f4f4f4;
    border:1px solid #bdbdbd;
    border-radius:5px;
    margin-top: 14px;
}

.deleteIconClass
{
    margin-top: 20px;
    margin-left: 20px;
}

.deleteIconClass_Icon /* delete icon */
{
    text-align:center;
    border-width: 1px;
    border-style: solid;
    border-color: Red;
    border-radius:5px;
    opacity: 0.3;    
}

.resourceIdClass /* resource div of the template icon */
{
    font-size:x-small;     
    font-weight:bold;
    padding-left:1px;
    text-align:center;
}

.resourceIconDetailsClass /* template details mouseover popup */
{
    display:none;
}

#ctl00_WebPartManager_MDL_Specific_CollapsibleSectionsAccordion_ctl03_canvasArea .drawnMaintIconDetailsClass /* details mouseover popup */
{
    display:none;    
    border:1px solid #000;
    border-radius: 5px;
    width:200px;
    height:20px;  
    background-color: Gray;
}

.drawnMaintIconDetailsClass_Resource /* resource name div of the details mouseover popup */
{    
    background-color: Gray;
    color:White;  
    padding: 2px;  
}

.drawnMaintIconClass_IconAlignmentHelper /*  helper span of to center align the icon image */
{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.dMIDC_ResourceValue /* resource value span of the details mouseover popup */
{
    font-size:x-small; 
}

/* ********************************************************************************************* 
   Resource Layout Shopfloor
********************************************************************************************* */

.resourceLayoutView_CanvasPanel
{
    border: 1px dotted #000;
}

#ctl00_WebPartManager_ResourceLayoutCanvasWP_canvasArea .ui-selected /* icon selected */
{   
    border: 1px solid #07c;    
    box-shadow: 0 0 6px 2px #07c; /* blue - #07c*/
    outline: none;   
}

#ctl00_WebPartManager_ResourceLayoutCanvasWP_canvasArea .drawnIconDetailsClass /* details mouseover popup */
{
    display:none;    
    border:1px solid #000;
    border-radius: 5px;
    width:200px;
    height:200px;  
    background-color: White;    
}

.drawnIconClass_Icon_Image
{
    border: 2px solid;    
    box-shadow: 0 0 6px 2px;    
}

.resourceLayoutIcon_Down /* resource status down, flashing red status */
{    
    border: 2px solid red;    
    box-shadow: 0 0 10px 5px red;          
}

.drawnIconClass /* overall rendered icon */
{
    border-radius: 5px;
    padding:1px;
}

.drawnIconClass_Status /* status div of overall rendered icon */
{
    border-radius: 5px;
}

.drawnIconClass_Resource /* resource name div of overall rendered icon */
{
    font-size:x-small;          
    text-align:center;
    font-weight:bold;
}

.drawnIconClass_Icon /* icon image div of overall rendered icon */
{
    text-align:center;
}

.drawnIconClass_IconAlignmentHelper  /*  helper span of to center align the icon image */
{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.drawnIconDetailsClass_Resource /* resource title div of the details mouseover popup */
{
    text-align:center;
    background-color: Gray;
    color:White;  
    padding: 2px;  
}

.dIDC_ResourceValue, .dIDC_StatusValue, .dIDC_ReasonValue, .dIDC_LotCountValue /* value label span of the details mouseover popup */
{
    font-size:x-small;
    font-weight:bold;
    font: tahoma;
}
    
.dIDC_Lot /* lot listing div of the details mouseover popup */
{
    margin-left: 20px;
    font-size:x-small;
    font-weight:bold;
    font: tahoma;
}

.dIDC_Label /* labels span of the details mouseover popup */
{
    margin-left: 10px;
    font-size:x-small;    
    font: tahoma;
}

#ctl00_WebPartManager_ResourceLayoutSelectionWP_refreshSlider
{
    margin-top:3px;
    background-color: #dddddd;
    width:150px;
}

/*#ctl00_WebPartManager_ResourceLayoutSelectionWP_refreshSlider .ui-slider-range*/
.ui-slider-range
{ 
    background: #07c; 
}

/*#ctl00_WebPartManager_ResourceLayoutSelectionWP_refreshSlider .ui-slider-handle*/
.ui-slider-handle
{ 
    border-style:solid; 
    border-width:1px; 
    border-color:black;
    background-color:#eeeeee; 
    top:-0.4em; 
    height:1.0em;
}

/*#ctl00_WebPartManager_ResourceLayoutSelectionWP_RefreshSliderPanel .refreshIntervalValueClass*/
.refreshIntervalValueClass
{
    border:0; 
    color:#07c; 
    font-weight:bold;
    font-size:11px;
    width:40px;
}

/*#ctl00_WebPartManager_ResourceLayoutSelectionWP_RefreshSliderPanel .refreshIntervalLabelClass*/
.refreshIntervalLabelClass
{
    border:0;         
    font-size:11px;   
}

/* ********************************************************************************************* 
   Lot Receiving
********************************************************************************************* */
.ss-lotreceiving-webpart .ui-jqgrid-column-image
{
    padding: 5px 0px 0px 5px;
    min-height: 22px;
    min-width: 22px;
}

.ss-lotreceiving-webpart .ui-jqgrid tr.jqgrow .ui-jqgrid-column-image
{
    padding: 0px 0px 0px 0px;
    padding-top:5px;
}

/* ********************************************************************************************* 
   Lot Schedule
********************************************************************************************* */
.ss-lotschedule-webpart .ui-jqgrid-column-image
{
    padding: 5px 0px 0px 5px;
    min-height: 22px;
    min-width: 22px;
}

.ss-lotschedule-webpart .ui-jqgrid tr.jqgrow .ui-jqgrid-column-image
{
    padding: 0px 0px 0px 0px;
    padding-top:5px;
}

/* ********************************************************************************************* 
   Lot Schedule Modify
********************************************************************************************* */
.ss-lotschedulemodify-webpart .ui-jqgrid-column-image
{
    padding: 5px 0px 0px 5px;
    min-height: 22px;
    min-width: 22px;
}

.ss-lotschedulemodify-webpart .ui-jqgrid tr.jqgrow .ui-jqgrid-column-image
{
    padding: 0px 0px 0px 0px;
    padding-top:5px;
}

/* ********************************************************************************************* 
   SPC Setup Maint
********************************************************************************************* */
.ss-spcsetupmaint-webpart .ui-jqgrid-column-image
{
    padding: 5px 0px 0px 5px;
    min-height: 22px;
    min-width: 22px;
}

.ss-spcsetupmaint-webpart .ui-jqgrid tr.jqgrow .ui-jqgrid-column-image
{
    padding: 0px 0px 0px 0px;
    padding-top:5px;
}

.ss-workordermaint-jqgrid .ui-jqgrid-pager 
{
    height: auto;
}

.ss-dynamicParametricDisplay .ParametricDataControl .ParametricDataControlMainTable
{
    width:auto;
}

.ss_scrollbar .float-form-container .form-scrollablepanel
{
	overflow-x: auto;
	overflow-y: auto;
}

/* ********************************************************************************************* 
   for required fiels labels 
********************************************************************************************* */
[required='true'].cs-label 
{
	margin: 10px 0 2px 1px;
}

/* ********************************************************************************************* 
   Maintenance Schedule Inquiry
********************************************************************************************* */
.ss-maintenancescheduleinquiry-webpart .MaintenanceScheduleInquiry_CanvasPanel
{
    border: 1px dotted #000;
}

.ss-maintenancescheduleinquiry-webpart .ScheduleDetails /* details mouseover popup */
{
    display:none;    
    border:1px solid #000;
    border-radius: 5px;
    width:150px;
    background-color: White;
    font-size:x-small;          
    text-align:center;
    font-weight:bold;
}

.ss-maintenancescheduleinquiry-webpart .overflowcell
{
    overflow: hidden;
    white-space: nowrap;
    display: flex;
}

/* ********************************************************************************************* 
   SPC Real Time Monitoring
********************************************************************************************* */
#ctl00_WebPartManager_ChartAreaWP_refreshSlider
{
    margin-top:3px;
    background-color: #dddddd;
    width:200px;
}											   

#ctl00_WebPartManager_ChartAreaWP_StopResumeBtn
{
	background-color: green;
}

/* ********************************************************************************************* 
   Map Data
********************************************************************************************* */
.chartparent {
    position: relative;
}

.chart {
    position: absolute;
    float: left;
    left: 20px;
    top: 140px;
    width: 1500px;
    height: 500px;
    overflow: auto;
}

.chartlegends {
    position: absolute;
    float: left;
    left: 1550px;
    top: 140px;
    width: 200px;
    height: 500px;
    overflow:visible;
}

.chartlegends .legendsbox {
  display: inline-block;
  height: 20px;
  width: 20px;
  border: 1px solid;
  margin-bottom: 5px;
  margin-right: 2px;
}

/* Tooltip container */
.chartlegendstooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.chartlegendstooltip .chartlegendstooltiptext {
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    width: 200px;
    display: inline-block;
    word-break: break-all;
    overflow-wrap: break-word; /* For other browsers*/

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

/* Tooltip arrow */
.chartlegendstooltip .chartlegendstooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.chartlegendstooltip:hover .chartlegendstooltiptext {
    visibility: visible;
    opacity: 1;
}

.hiddenchart {
    display: none;
}

.fullviewchart {
    margin: 20px;
}

/* Move button to the bottom*/
.mapdatabutton {
    padding: 0px;
    vertical-align: bottom;
}

/* ********************************************************************************************* 
   WIP Main R2
********************************************************************************************* */

.WIPMain_Activity_Message {    
    font-weight: bold;
    font-size: 18px;
    font-family:Calibri;
}

.WIPMain_Activity_MainDiv {
    background-color: #f0f0f0;
}

.WIPMain_Activity_StatusMessage {
    font-weight:lighter;
    font-size: 15px;
    font-family: Arial;
	color: #808080;
}

.WIPMain_Activity_StatusDiv_Pending {
    background-color: #FFCD50;
}

.WIPMain_Activity_StatusDiv_Complete {
    background-color: #0A9B00;
}

.WIPMain_Activity_StatusDiv_Optional {
    background-color: #006487;
}

.WIPMain_Activity_StatusDiv_scsError {
    background-color: #FF0000;
}

.WIPMain_Activity_StatusDiv_WafersSelected {
    background-color: #0A9B00;
}

.WIPMain_Activity_StatusDiv_WafersNotSelected {
    background-color: #FFCD50;
}

.WIPMain_Activity_StatusDiv_WafersNotEnforced {
    background-color: #006487;
}

.scs-empty,
.scsresource_vp_generalgroupwp tr td:empty {
    display:none;
}

/* SPC Chart DataTip column spacing */
.mybox td {
    padding-right: 10px;
}

#ctl00_WebPartManager_SS_SPCSetupDetailsWP_Details_ss_IsYVariable{

    margin-top: 18px;
}

.scs-equipment-resource > table > tbody > tr:nth-child(n+9):nth-child(-n+11) > td:nth-child(1) > span:nth-child(n+2):nth-child(-n+4) {
    padding-left: 65px !important;
}