<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright Siemens 2023   -->
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="LogFileName" value=""/>
    <add key="CamstarBaseMetadataFileName" value=""/>
    <add key="NewMetadataFileName" value=""/>
    <add key="CurrentMetadataFileName" value=""/>
    <add key="UpgradeTargetFileName" value=""/>
    <add key="ReplaceCurrentMetadata" value="unchecked"/>
    <!-- LogLevel: 1=Error, 2=Information, 3=Debug -->
    <add key="LogLevel" value="1"/>
<!-- 
     This setting is ONLY true for the specific scenario noted below. 
       1. The object model structure has been modified in the csi workspace that changes the parent child relationship between CDOs.   
       2. Another workspace added fields to those CDOs before the parent child relationship was changed. 
       3. The CDOs are persistent.
-->    
    <add key="SyncCurrentWorkspace" value="false"/>
  </appSettings>
</configuration>
