/*
***************************************************************************
© 2024 Siemens Product Lifecycle Management Software Inc.
This file should include all user-defined CSS classes. 
Classes defined in this file will over-ride any classes of the
same name written in any of the Camstar supplied CSS files.
***************************************************************************
*/
.componentIssueInfoRow1 {
    width: 332px;
    padding-top: 10px !important;
    padding-bottom: 2px !important;
}

.componentIssueInfoRow2 {
    width: 332px;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}

.componentIssueInfoRow3 {
    width: 332px;
    padding-top: 2px !important;
    padding-bottom: 10px !important;
}

.componentIssueInfoRow2Target {
    width: 332px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.boldInquirycontrolText {
    font-weight: 900 !important;
}

.webpart-filtersWeighIssue {
    width: auto !important;
    margin: 10px 0 0 0px;
    border: 1px solid #cfcfcf;
    background: url(svg/cs-grd-17.svg);
    background: linear-gradient(#fff 0,#f3f3f3 50%,#ededed 51%,#fff 100%);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: -1px -1px 6px 0 rgba(0,0,0,.4);
    -moz-box-shadow: -1px -1px 6px 0 rgba(0,0,0,.4);
    box-shadow: -1px -1px 6px 0 rgba(0,0,0,.4);
}

div#WebPart_WeighInfoWP_UIComponent > div#WebPart_WeighInfoWP [key=item_r1_c0] {
    display: block;
}

div#WebPart_WeighInfoWP_UIComponent > div#WebPart_WeighInfoWP [key=item_r1_c0] > span {
    margin: 0 5px 0 0;
}

body.desktop-device .webpart-filtersWeighIssue .matrix .row {
    display: flex;
    padding: 0 10px;
}

body.desktop-device .webpart-filtersWeighIssue .matrix .row .col {
    flex-basis: 0;
    flex-grow: 1;
}

body.body-weigh-issue .row .last-cell {
    padding: 0 0 10px 0;
}