<!-- © 2022 Siemens Product Lifecycle Management Software Inc.-->


<PortalSettings>
  <StudioSettings>
    <DefaultModelingPages>
      <Page Name="CIO_OutboundMessageDefVP2" />
      <Page Name="CIO_Settings_VP" />
      <Page Name="CIO_TemplateVP" />
      <Page Name="CIO_ListProcessorVP" />
      <Page Name="CIO_UserQueryVP" />
      <Page Name="CIO_QueryPortalPageMaintVP" />
      <Page Name="CIO_OutboundConnectionVP" />
    </DefaultModelingPages>
  </StudioSettings>
  <CDOFormsSettings>
    <CDOForms>
      <CDOForm Service="CIOOutboundMsgDefMaint" PageName="CIO_OutboundMessageDefVP2" />
      <CDOForm Service="CIOSettingsMaint" PageName="CIO_Settings_VP" />
      <CDOForm Service="CIOTemplateMaint" PageName="CIO_TemplateVP" />
      <CDOForm Service="CIOListProcessorMaint" PageName="CIO_ListProcessorVP" />
      <CDOForm Service="CIOUserQueryMaint" PageName="CIO_UserQueryVP" />
      <CDOForm Service="cioQueryPortalPageMaint" PageName="CIO_QueryPortalPageMaintVP" />
      <CDOForm Service="CIOCamstarConnectionMaint" PageName="CIO_OutboundConnectionVP" />
    </CDOForms>
  </CDOFormsSettings>
</PortalSettings>