<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright Siemens 2025  -->
<configuration>
  <configSections>
    <section name="WCFGenerator" type="Camstar.WCF.Generator.Helper.GeneratorSection, Camstar.WCFGenerator, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
    </section>
  </configSections>
  <appSettings>
    <add key="LogLevel" value="2">
    </add>
  </appSettings>
  <WCFGenerator>
    <Services>
    </Services>
    <ServicesSettings IsGenerateAll="false" Address="https://localhost:443/CamstarWCFServices/" ProcessTxnGUID="false" LogXmlDocument="false" LogNaming="time" LogPath="c:\Temp" TelemetryAppName="WCF" EnableTelemetry="false" TelemetryConnectionString="" TelemetryDLLErrorLogging="false" TelemetryDLLLogFolderPath="" OtlpExportProtocolEndPoint="" TelemetryAnalyticsPlatform="" TelemetryMetrics="true" TelemetryTraces="true" TelemetryLogs="true" UseSSL="true">
    </ServicesSettings>
    <GeneratedAssemblySettings TargetFramework="4.8" ServerOutputDirectory="..\..\GeneratedAssemblies\ToServer" ClientOutputDirectory="..\..\GeneratedAssemblies\ToClient" ClientSilverlightOutputDirectory="..\..\GeneratedAssemblies\ToSilverlightClient" ClientOutputConfigPath="..\..\GeneratedAssemblies\ToClient\App.config" PortalStudioClientOutputConfigPath="..\..\GeneratedAssemblies\ToClient\portalstudioweb.config">
    </GeneratedAssemblySettings>
    <ConnectionSettings IsGetFromRegistry="true" DefaultServerConnectionString="Server" DatabaseConnectionString="Provider=Microsoft.ACE.OLEDB.12.0;">
      <ConnectionStrings>
        <add Name="Server" Value="localhost:443">
        </add>
      </ConnectionStrings>
    </ConnectionSettings>
  </WCFGenerator>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8">
    </supportedRuntime>
  </startup>
</configuration>