.oee-section-header {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 16px;
  color: #595959;
}
.oee-section {
  display: inline-block;
  border: 1px solid #C0C2C4;
  border-radius: 3px;
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 5px;
  width: 599px;
}
.oee-section > p.oee-report-section-header {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 16px;
  color: #595959;
  margin-bottom: 5px;
}
div#WebPart_containerDiv_UIComponent > div#WebPart_containerDiv table.oee-horiz-bar-chart {
  width: 100%;
  vertical-align: middle;
  text-align: left;
  border-collapse: collapse;
}
div#WebPart_containerDiv_UIComponent > div#WebPart_containerDiv table.oee-horiz-bar-chart thead {
  vertical-align: middle ;
  border-collapse: collapse;
  background-color: dimgray;
  color: white;
}
div#WebPart_containerDiv_UIComponent > div#WebPart_containerDiv table.oee-horiz-bar-chart thead th {
  text-align: left;
}
div#WebPart_containerDiv_UIComponent > div#WebPart_containerDiv table.oee-horiz-bar-chart td,
div#WebPart_containerDiv_UIComponent > div#WebPart_containerDiv table.oee-horiz-bar-chart th {
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
}
div#WebPart_containerDiv_UIComponent > div#WebPart_containerDiv table.oee-horiz-bar-chart td {
  color: #7F7F7F;
  border: 1px solid #d1d3d4;
  background-color: white;
}
div#WebPart_containerDiv_UIComponent > div#WebPart_containerDiv table.oee-horiz-bar-chart td div.container {
  height: 20px;
  float: left;
  width: 99%;
}
div#WebPart_containerDiv_UIComponent > div#WebPart_containerDiv table.oee-horiz-bar-chart td div.container div.positive {
  height: 20px;
  background: orange;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(-90deg, red, orange);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-90deg, red, orange);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-90deg, red, orange);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(-90deg, red, orange);
  /* Standard syntax */
}
div#WebPart_containerDiv_UIComponent > div#WebPart_containerDiv table.oee-horiz-bar-chart td.OEEchart {
  width: 325px;
}
div#WebPart_containerDiv_UIComponent > div#WebPart_containerDiv div.OeeIndicator {
  display: inline-block;
  border: 1px solid #C0C2C4;
  border-radius: 3px;
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 5px;
  width: 626px;
  height: 210px;
  overflow: auto;
  font: 16px sans-serif;
  position: relative;
}
div#WebPart_containerDiv_UIComponent > div#WebPart_containerDiv div.OeeIndicator > p.oee-report-section-header {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 16px;
  color: #595959;
  margin-bottom: 5px;
}
div#WebPart_containerDiv_UIComponent > div#WebPart_containerDiv div.OeeIndicator div.progress {
  display: inline-block;
  background-color: #ffffff;
}
div#WebPart_containerDiv_UIComponent > div#WebPart_containerDiv div.OeeIndicator div.progress svg {
  display: block;
  margin: auto;
}
div#WebPart_containerDiv_UIComponent > div#WebPart_containerDiv div.OeeIndicator .radial-text {
  font-weight: bold;
  font-size: 16px;
}
div#WebPart_containerDiv_UIComponent > div#WebPart_containerDiv div.OeeIndicator .indicator-percent {
  font-weight: bold;
}
div#WebPart_containerDiv_UIComponent > div#WebPart_containerDiv div.OeeIndicator div#scrap-container {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  left: 0;
  bottom: 3px;
  width: 115px;
  height: 150px;
}
div#WebPart_containerDiv_UIComponent > div#WebPart_containerDiv div.OeeIndicator div#scrap-container div#scrap-count {
  color: red;
  font-size: 34px;
  font-weight: bold;
  text-align: center;
}
div#WebPart_containerDiv_UIComponent > div#WebPart_containerDiv div.OeeIndicator div#scrap-container div#scrap-label {
  font-size: 20px;
  text-align: center;
}
div#WebPart_containerDiv_UIComponent > div#WebPart_containerDiv div#status-code-chart {
  display: inline-block;
  border: 1px solid #C0C2C4;
  border-radius: 3px;
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 5px;
  width: 626px;
  height: 210px;
}
div#WebPart_containerDiv_UIComponent > div#WebPart_containerDiv div#status-code-chart > p.oee-report-section-header {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 16px;
  color: #595959;
  margin-bottom: 5px;
}
div#WebPart_containerDiv_UIComponent > div#WebPart_containerDiv div#status-code-chart div.StackedBar {
  font: 16px sans-serif;
}
div#WebPart_containerDiv_UIComponent > div#WebPart_containerDiv div#status-code-chart div.StackedBar p {
  width: 100%;
}
div#WebPart_containerDiv_UIComponent > div#WebPart_containerDiv div#status-code-chart div.StackedBar p span {
  font-weight: bold;
}
div#WebPart_containerDiv_UIComponent > div#WebPart_containerDiv div#status-code-chart div.StackedBar p span#time-end {
  text-align: right;
  float: right;
}
div#WebPart_containerDiv_UIComponent > div#WebPart_containerDiv div#status-code-chart div.TitleStackedBar {
  height: 20px;
  width: 520px;
}
div#WebPart_containerDiv_UIComponent > div#WebPart_containerDiv div#status-code-chart div.TitleStackedBar > p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 16px;
  color: #595959;
}
div#WebPart_containerDiv_UIComponent > div#WebPart_containerDiv div#status-code-chart div.LegendStackedBar {
  height: 90px;
  width: 520px;
  font: 16px sans-serif;
  overflow-y: hidden;
  overflow-x: auto;
  margin-top: 3px;
  margin-left: 20px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}
div#WebPart_containerDiv_UIComponent > div#WebPart_containerDiv div#status-code-chart div.LegendStackedBar div.status-code {
  display: inline-block;
  margin-right: 4px;
  margin-bottom: 4px;
}
div#WebPart_containerDiv_UIComponent > div#WebPart_containerDiv div#status-code-chart div.LegendStackedBar div.status-code div.status-code-color {
  display: inline-block;
  width: 18px;
  height: 18px;
}
div#WebPart_containerDiv_UIComponent > div#WebPart_containerDiv div#status-code-chart div.LegendStackedBar div.status-code div.status-code-name {
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  height: 18px;
  line-height: 18px;
  vertical-align: center;
}
div#WebPart_containerDiv_UIComponent > div#WebPart_containerDiv div.DowntimeReason {
  display: inline-block;
  border: 1px solid #C0C2C4;
  border-radius: 3px;
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 5px;
  width: 626px;
  font: 16px sans-serif;
}
div#WebPart_containerDiv_UIComponent > div#WebPart_containerDiv div.DowntimeReason > p.oee-report-section-header {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 16px;
  color: #595959;
  margin-bottom: 5px;
}
div#WebPart_containerDiv_UIComponent > div#WebPart_containerDiv div.ReworkReason {
  display: inline-block;
  border: 1px solid #C0C2C4;
  border-radius: 3px;
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 5px;
  width: 626px;
  font: 16px sans-serif;
}
div#WebPart_containerDiv_UIComponent > div#WebPart_containerDiv div.ReworkReason > p.oee-report-section-header {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 16px;
  color: #595959;
  margin-bottom: 5px;
}
div#WebPart_isResourceOEETopReasons_UIComponent {
  display: none;
}
.valorswac > .matrix > .row {
	overflow-x: auto;
	margin: 0;
}
.valorswac > .matrix > .row > .col {
	padding: 0;
}