.action-icon-move {
	background-image: url(/CamstarPortal/assets/image/cmdMoveFromEquipment24.svg) !important;
}
.action-icon-movein {
	background-image: url(/CamstarPortal/assets/image/cmdMoveToEquipment24.svg) !important;
}
.action-icon-clear {
	background-image: url(/CamstarPortal/assets/image/cmdReset24.svg) !important;
}
.action-icon-unloadall {
	background-image: url(/CamstarPortal/assets/image/cmdRemoveAll24.svg) !important;
}
.action-icon-setup {
	background-image: url(/CamstarPortal/assets/image/cmdConfiguration24.svg) !important;
}
.is-carrier-webpart-filters
{
    /*
    margin: 0 0 0 10px;
    padding-left: 10px;
    width: 97%;
    border: 1px solid #cfcfcf;
    background: -webkit-linear-gradient(bottom, #fff 0%, #f3f3f3 50%, #ededed 51%, #fff 100%);
    background:    -moz-linear-gradient(bottom, #e6e6e6 0%, #fff 16%, #fff 100%);
    background:     -ms-linear-gradient(bottom, #fff 0%, #f3f3f3 50%, #ededed 51%, #fff 100%);
    background:      -o-linear-gradient(bottom, #fff 0%, #f3f3f3 50%, #ededed 51%, #fff 100%);
    background:         linear-gradient(bottom, #fff 0%, #f3f3f3 50%, #ededed 51%, #fff 100%);
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: -1px -1px 6px 0 rgba(0,0,0,0.4);
       -moz-box-shadow: -1px -1px 6px 0 rgba(0,0,0,0.4);
            box-shadow: -1px -1px 6px 0 rgba(0,0,0,0.4);
     padding-bottom:20px;
        */
}

.is-carrier-webpart-filters  > .matrix .cell
{
    /*width: 230px;*/
    margin: 0 0 0 0px; 
    padding: 0 0 0 0px; 
    padding-top:0px;
    padding-bottom: 0px;
}

.is-carrier-webpart-filters  > .matrix .cell:last-child
{
    /*width: 280px;*/
    margin: 0 0 0 0px; 
    padding: 0 0 0 0px; 
    padding-top:0px;
    padding-bottom: 0px;
}

.is-carrier-webpart-filters  > .matrix 
{
    margin: 5px 0 0 0px; 
    table-layout: fixed;
    overflow:hidden; 
    width: 100%;
}

.is-carrier-webpart-filters .cs-label
{
    margin-top: 10px;
}

.is-carrier-webpart-filters .cs-label[required]:after
{
    content:none;
}

.is-carrier-radio-options {
    display: inline-flex;
    align-items: center;
}
.is-transfer-container {
    margin-left: 24px;
}
#gbox_ctl00_WebPartManager_ContainersWP_isLoadUnloadCarrier_Containers {
    width: 98% !important;
}
#gbox_ctl00_WebPartManager_ContainersWP_isLoadUnloadCarrier_Containers > div {
    width: 100% !important;
}
#gbox_ctl00_WebPartManager_ContainersWP_isLoadUnloadCarrier_Containers > div > div {
    width: 100% !important;
} 