@debug: false;

div.isDefectButton {
    display: table-cell;
    text-align: center;
    background-color: transparent;
    width: 48px;
    height: 48px;
    margin-left: 4px;
    margin-right: 4px;
    cursor: pointer;
    vertical-align: middle;
    border-radius: 5px;

    span.isButtonIcon {
        height: 36px;
        background-repeat: no-repeat;
        background-position: center;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        display: block;
        cursor: pointer;
    }

    &:hover {
        background-color: #dcdcdc;
        box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.4);
        border-radius: 5px;
    }
}

div#WebPart_BlankWP {
    span#defectButtonNewIcon {
        background-image: url(/CamstarPortal/assets/Image/cmdAddDefect16.svg);
    }

    span#defectButtonRepairIcon {
        background-image: url(/CamstarPortal/assets/Image/cmdDefectRepair24.svg);
    }

    span#defectButtonRepairActionsIcon {
        background-image: url(/CamstarPortal/assets/Image/cmdDefectActionRepair24.svg);
    }
}

div#WebPart_BlankWP span#defectButtonRepairAdvisorIcon {
    background-image: url(/CamstarPortal/assets/Image/cmdDefectAdvisorRepair24.svg);
}

div#WebPart_BlankWP span#defectButtonReopenIcon {
    background-image: url(/CamstarPortal/assets/Image/cmdDefectReopen24.svg);
}

div#WebPart_BlankWP span#defectButtonChangeReasonIcon {
    background-image: url(/CamstarPortal/assets/Image/cmdCauseChange24.svg);
}

div#WebPart_BlankWP span#defectButtonNotesIcon {
    background-image: url(/CamstarPortal/assets/Image/cmdNoteProperties24.svg);
}

div#WebPart_BlankWP span#defectButtonDeleteIcon {
    background-image: url(/CamstarPortal/assets/Image/cmdTrash24.svg);
	background-size: 36px;
}

div#WebPart_BlankWP span#defectButtonExportIcon {
    background-image: url(/CamstarPortal/Themes/Horizon/images/grids/cmdExport24.svg);
	background-size: 36px;
}

#gview_ctl00_WebPartManager_BlankWP_isCurrentDefectGrid span.ui-icon.ui-icon-excel {
    display: none;
}

#gview_ctl00_WebPartManager_BlankWP_isCurrentDefectGrid div.ui-jqgrid-titlebar.ui-jqgrid-caption.ui-widget-header.ui-corner-top.ui-helper-clearfix {
    display: none;
}
