/*
***************************************************************************
Copyright Siemens 2020
This file should include all user-defined CSS classes. 
Classes defined in this file will over-ride any classes of the
same name written in any of the Camstar supplied CSS files.
***************************************************************************
*/
div.cmdbar-custom-button.cmdbar-load span.item-icon,
div.cmdbar-custom-button.cmdbar-submit span.item-icon {
    background-image: url(/CamstarPortal/Themes/Horizon/images/commandbar/cmdbar-shopfloor-submit.svg);
}

div.cmdbar-custom-button.cmdbar-transfer span.item-icon {
    background-image: url(/CamstarPortal/Themes/Horizon/images/icons/cmdResetForm24.svg);
}

div.cmdbar-custom-button.cmdbar-unload span.item-icon,
div.cmdbar-custom-button.cmdbar-remove span.item-icon {
    background-image: url(/CamstarPortal/Themes/Horizon/images/commandbar/cmdContainerUnload24.svg);
}

div.cmdbar-custom-button.cmdbar-reset span.item-icon {
    background-image: url(/CamstarPortal/Themes/Horizon/images/commandbar/cmdbar-shopfloor-reset.svg);
}

div.cmdbar-custom-button.cmdbar-load.cmdbar-aspNetDisabled,
div.cmdbar-custom-button.cmdbar-transfer.cmdbar-aspNetDisabled,
div.cmdbar-custom-button.cmdbar-remove.cmdbar-aspNetDisabled,
div.cmdbar-custom-button.cmdbar-submit.cmdbar-aspNetDisabled,
div.cmdbar-custom-button.cmdbar-unload.cmdbar-aspNetDisabled,
div.cmdbar-custom-button.cmdbar-reset.cmdbar-aspNetDisabled {
    opacity: 0.4;
    cursor: default;
}

.is-alert {
    background-color: #FBEEED;
    color: #DC0000;
}