// note: this is a refresh placeholder and is not yet imported
aw-global-toolbar { // section

    @include flexbox();
    @include flex-direction(column);
    @include flex(1 1 auto);

    .aw-layout-globalToolbar .aw-commands-commandIconButtonText {
        display: none;
    }
    .aw-layout-globalToolbarCommands .aw-commands-svg {
        width: 16px;
        height: 16px;
        padding: 1px;
    }
    .aw-layout-globalToolbar {
        padding-left: 0;
    }
    .aw-layout-globalToolbarCommands aw-command-bar {
        @include flexbox();
        @include flex-direction(column);
        @include flex(1 1 auto);
    }
    .aw-layout-globalToolbarCommands aw-command .aw-widgets-groupCommandStack svg {
        padding-left: 0;
    }
    .aw-layout-globalToolbarCommands .aw-commands-commandIconButton {
        width: 32px;
        box-sizing: border-box;
        height: 32px;
        margin: 0;
        vertical-align: middle;
    }
}
