<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright Siemens 2023   -->
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <appSettings>
      <add key="MdbConnectionString" value="Provider=Microsoft.ACE.OLEDB.12.0;"/>
      <add key="WebPortletsFolderPath" value="c:\Program Files (x86)\Camstar\Camstar Portal\App_Code\WebPortlets\"/>
    </appSettings>
</configuration>
