<?xml version="1.0" encoding="UTF-8"?>
<!-- © 2018 Siemens Product Lifecycle Management Software Inc. -->
<PortalSettings>
  <CDOFormsSettings>
    <CDOForms>
      <CDOForm Service="DeviceIdentifierMaint" PageName="DeviceIdentifier_VP"></CDOForm>
      <CDOForm Service="UDIExpressionMaint" PageName="UDIExpression_VP"></CDOForm>
    </CDOForms>
  </CDOFormsSettings>
</PortalSettings>